@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?kpbqx5');
  src:  url('fonts/icomoon.eot?kpbqx5#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?kpbqx5') format('truetype'),
    url('fonts/icomoon.woff?kpbqx5') format('woff'),
    url('fonts/icomoon.svg?kpbqx5#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-pdf:before {
  content: "\e912";
}
.icon-archivo:before {
  content: "\e900";
}
.icon-brochure:before {
  content: "\e901";
}
.icon-buscador:before {
  content: "\e902";
}
.icon-buscador-header:before {
  content: "\e903";
}
.icon-catalogo-ficha:before {
  content: "\e904";
}
.icon-cerrar:before {
  content: "\e905";
}
.icon-arrow-banner:before {
  content: "\e908";
}
.icon-direccion:before {
  content: "\e909";
}
.icon-facebook:before {
  content: "\e90a";
}
.icon-flecha-abajo-formulario:before {
  content: "\e90b";
}
.icon-izquierda-banner-empresa:before {
  content: "\e90d";
}
.icon-linkedin:before {
  content: "\e90e";
}
.icon-lupa-proyectos:before {
  content: "\e90f";
}
.icon-manual-empresa:before {
  content: "\e910";
}
.icon-regresar:before {
  content: "\e917";
}
.icon-scroll-down:before {
  content: "\e918";
}
.icon-twitter:before {
  content: "\e919";
}
.icon-ubicacion:before {
  content: "\e91a";
}
.icon-arrow-proyectos:before {
  content: "\e91b";
}
.icon-video:before {
  content: "\e91c";
}
.icon-yt:before {
  content: "\e91d";
}
.icon-corazon:before {
  content: "\e91e";
}
.icon-staff:before {
  content: "\e60e";
}
.icon-envelope:before {
  content: "\e61d";
}
.icon-close:before {
  content: "\e605";
}
.icon-social-facebook:before {
  content: "\e603";
}
.icon-social-twitter:before {
  content: "\e604";
}
.icon-menu:before {
  content: "\e602";
}
.icon-arrow-right:before {
  content: "\e606";
}
.icon-arrow-left:before {
  content: "\e607";
}
.icon-arrow-down:before {
  content: "\e608";
}
.icon-arrow-up:before {
  content: "\e609";
}
.icon-arriba:before {
  content: "\e906";
}
.icon-prev:before {
  content: "\e907";
}
.icon-next:before {
  content: "\e90c";
}
.icon-enter:before {
  content: "\e911";
}
.icon-search:before {
  content: "\e612";
}
.icon-location:before {
  content: "\e600";
}
.icon-phone:before {
  content: "\e60a";
}
.icon-youtube:before {
  content: "\e601";
}
