.footer
	background: $c-6
	padding: 0 20px

.footer_block
	display: flex
	flex-direction: row
	flex-wrap: wrap
	max-width: 1216px
	width: 100%
	padding: 35px 0 65px 0
	margin: auto

.footer_box
	width: 25%
	text-align: center
	box-sizing: border-box
	padding: 0 10px
	margin: 0 0 0 0

.footer_wrap
	max-width: 204px
	width: 100%
	margin: auto

.footer_subtitle
	margin-bottom: 20px
	h3
		color: $blanco
		font-family: $t-3
		font-size: 15px
		margin-bottom: 0

.footer_text
	line-height: 21.2px
	color: $blanco
	font-family: $t-0
	font-size: 13px
	p
		margin-bottom: 0
	a
		outline: none
		color: $blanco

// +++ copyright +++
.footer_copyright_wrap
	display: flex
	flex-direction: row
	flex-wrap: wrap
	justify-content: space-between
	align-items: center
	max-width: 1160px
	width: 100%
	height: 64px
	border-top: 1px solid rgba(222,222,222,.19)
	box-sizing: border-box
	margin: auto

.footer_copyright_logo
	display: block
	width: 173px
	margin: 0
	img
		display: block
		width: 100%
		height: auto

.footer_copyright_text
	line-height: 1.2
	color: $blanco
	font-family: $t-0
	font-size: 12px
	p
		margin: 0

.footer_copyright_icon
	display: inline-block
	vertical-align: middle
	color: #F27490
	font-size: 8px
	animation: latidos .6s infinite
	margin: 0 2px

+keyframes(latidos)
	0%
		transform: none
	50%
		transform: scale(1.2)
	100%
		transform: none

// responsive
@media screen and (max-width: 960px)
	.footer_block
		justify-content: center
		padding: 30px 0

	.footer_box
		width: 33.333333333333336%
		margin-top: 30px
		&:nth-child(-n+3)
			margin-top: 0

@media screen and (max-width: 767px)
	.footer_box
		width: 50%
		&:nth-child(-n+3)
			margin-top: 30px
		&:nth-child(-n+2)
			margin-top: 0

	.footer_subtitle
		margin-bottom: 10px

	.footer_copyright_wrap
		justify-content: center
		height: auto
		text-align: center
		padding: 10px 0

	.footer_copyright_logo
		display: none

	.footer_copyright_text
		line-height: 1.4

@media screen and (max-width: 480px)
	.footer_box
		width: 100%
		&:nth-child(-n+2)
			margin-top: 30px
		&:nth-child(-n+1)
			margin-top: 0