body.active
	overflow: hidden
body.nosotros
	.mega-menu-lists.empresa
		display: block
.header-wrap
	position: relative
	display: block
.header-fixed
	position: fixed
	top: 20px
	left: 0
	width: 100%
	height: 77px
	transition: all .2s linear
	padding: 0 20px
	box-sizing: border-box
	z-index: 60
	&.hover
		z-index: 1000
.header-cnt
	height: 100%
	max-width: 1542px
	margin: auto
	position: relative
	box-sizing: border-box
.header-cnt-bloq
	width: 20px
	height: 100%
	&:first-child
		.square-bloq
			box-shadow: -5px 0 10px 1px rgba(100, 100, 100, .1)
	&:last-child
		.square-bloq
			box-shadow: 5px 0 10px 1px rgba(100, 100, 100, .1)
.triangle-bloq
	height: 16px
	width: 100%
	display: block
.square-bloq
	height: 49px
	width: 100%
	background: $blanco
	display: block
.header-cnt-wrapper
	width: 100%
	background: $blanco
	position: relative
	z-index: 2
	display: flex
	height: 100%
	align-items: center
	padding: 0 30px
	box-sizing: border-box
	background: url('../img/bg-header.png') no-repeat center
	background-size: cover
.header-cnt-wrapper-prin
	width: 100%
	height: 65px
	display: flex
	align-items: center
	justify-content: space-between
// header logo
.header-logo
	width: 232px
	margin: 0
	img 
		display: block
		height: auto
		max-width: 100%
	.header-logo-desktop
		opacity: 1
		visibility: visible
	.header-logo-scroll
		opacity: 0
		visibility: hidden
		position: absolute
		top: 0
		left: 0
		right: 0
		margin: auto
		transition: all .2s linear

.header-cnt-list
	display: flex
	align-items: center
	justify-content: center
	padding: 0 15px
	box-sizing: border-box
	height: 100%
	width: calc(100% - 462px)
	nav
		height: 100%

// header list
.header-list
	display: flex
	height: 100%
	.header-item
		margin-right: 30px
		position: relative
		height: 100%
		&:last-child
			margin-right: 0
	.header-link
		display: flex
		height: 100%
		align-items: center
		box-sizing: border-box
		color: $c-7
		font-size: 13px
		text-transform: uppercase
		font-family: $t-0
		text-decoration: inherit
		position: relative
		transition: all .35s ease-in-out
		&:before
			content: ""
			position: absolute
			bottom: 3px
			left: 50%
			right: 50%
			background: $c-1
			height: 2px
			transition-property: left, right
			transition-duration: .3s
			transition-timing-function: ease-out

// Redees sociales y buscador   
.header-social-search
	width: 230px
	display: flex
	justify-content: space-between
	align-items: center
	height: 100%
.header-socials
	a
		margin: 0 20px 0 0
		color: $c-6
		font-size: 20px
		&:last-child
			margin: 0
.header-search
	font-size: 15px
	color: $negro
	height: 100%
	width: 50px
	text-align: right
	display: flex
	align-items: center
	border-left: 1px solid $c-7
	justify-content: flex-end
	cursor: pointer
	span
		transition: all .3s ease-in-out
		&.icon-cerrar
			display: none
.btn-buscador, .btn-close-buscador
	cursor: pointer
	margin: 0


// Mega menu
.mega-menu-lists
	position: absolute
	top: 0
	left: -30px
	width: 200%
	top: calc(100% - 3px)
	background: $blanco
	padding: 25px 30px
	box-sizing: border-box
	width: 240px
	box-shadow: 0 0 3px rgba(222, 222, 222, .3)
	opacity: 0
	visibility: hidden
	transition: all .3s ease-in-out
	&.productos
		width: 635px
		display: flex
		flex-wrap: wrap
		li 
			width: 48%
	&.empresa
		display: none
	li
		margin: 0 0 25px 0
		line-height: 1
		&:last-child
			margin: 0
	a
		color: $c-0
		font-family: $t-0
		font-size: 15px
		transition: all .3s ease-in-out
		&.active
			color: $c-1

//Cotizacion
.header-cotiza
	height: 87px
	width: 87px
	right: 0px
	top: 0
	bottom: 0
	margin: auto
	position: fixed
	background: url('../img/bg-cotiza.png') no-repeat
	text-align: center
	padding: 19px 0 0 0
	box-sizing: border-box
	cursor: pointer
	background-size: cover
	z-index: 59
	span
		color: $blanco
		font-size: 23px
	p
		margin: 3px 0 0 0
		font-size: 11px
		color: $blanco
		font-family: $t-1
		line-height: 1
.ctn-header-cotiza
	width: 95%
	height: 100%
	max-width: 1010px
	z-index: 1001
	position: fixed
	top: 0
	right: 0
	background: $blanco
	padding: 35px 90px
	box-sizing: border-box
	transition: all .3s ease
	z-index: -1
	transform: translateX(100%)
	opacity: 0
	display: flex
	flex: 1
	overflow: auto
	&.active
		opacity: 1
		z-index: 1001
		transform: translate(0)
.btn-close-cotiza
	position: absolute
	top: 40px
	right: 205px
	color: $negro
	width: 20px
	height: 20px
	cursor: pointer
.ctn-header-cotiza-wrapper
	width: 100%
	display: flex
	min-height: min-content
	align-items: center
.ctn-header-cotiza-wrapper-prin
	width: 100%
	max-width: 750px
	margin: 0
.ctn-header-cotiza-form
	.form_general ul
		padding-bottom: 0
.ctn-form-cotza-desc
	margin: 50px 0 0 0
	display: flex
	flex-wrap: wrap
	justify-content: space-between
.ctn-form-file
	width: 210px
.ctn-form-parraf
	width: calc(100% - 270px)
	p
		margin: 0
		color: $c-0
		font-size: 15px
		font-family: $t-0
	a
		color: $c-0
.btn-form-cotiza
	text-align: center
	margin: 50px 0 0 0

// menu responsive
.menu-mobile
	display: none
	position: relative
	height: 71px
	width: 100%
	z-index: 3
	&.hover
		z-index: 1000
.menu-mobile-fixed
	position: fixed
	height: 70px
	width: 100%
	top: 0
	left: 0
	display: flex
	align-items: center
	justify-content: space-between
	border-bottom: 1px solid $c-1
	padding: 10px 15px
	box-sizing: border-box
	background: $blanco
.menu-mobile-logo
	width: 230px
	img
		max-width: 100%
		display: block
.menu-mobile-open
	background: $c-1
	border-radius: 7%
	color: $blanco
	cursor: pointer
	font-size: 23px
	height: 35px
	width: 35px
	line-height: 35px
	position: fixed
	right: 10px
	text-align: center
	top: 10px
	transition: all 0.3s ease-in-out
	transform: rotate(0deg)
.menu-mobile-open
	position: relative
	top: inherit
	right: inherit
.menu-mobile-close
	color: $c-1

.menu-mobile-search
	.header-search
		border-left: 0
		color: $c-0
.menu-sidebar
	position: fixed
	top: 0
	width: 100%
	max-width: 300px
	height: 100%
	overflow: hidden
	background: $blanco
	z-index: 1500
	left: 0
	transition: all .3s ease
	padding: 0  0
	box-sizing: border-box
	transform: translateX(-100%)
.menu-sidebar.active
	transform: translateX(0)
.header-menu-overlay
	position: fixed
	top: 0
	left: 0
	width: 100%
	height: 100%
	background: $negro
	opacity: 0
	visibility: hidden
	z-index: -1
	transition: all .3s ease-in-out
	&.active
		opacity: .6
		visibility: visible
		z-index: 999

.menu-sidebar, .menu-sidebar-categorias
	.menu-responsive
		display: block
		margin-top: 0
	.header-item
		display: block
		border-bottom: 1px solid rgba(0, 0, 0, .15)
		&.header-link-hover
			.header-link
				position: relative
				&:before
					position: absolute
					top: 0
					right: 15px
					content: "\e908"
					font-family: icomoon
					font-size: 10px
	.header-link 
		display: block
		padding-left: 0
		font-size: 14px
		height: 45px
		line-height: 45px
		color: $c-0
		text-decoration: inherit
		padding: 0 15px
		box-sizing: border-box
	.header-languages-select select
		color: $c-0 
		font-size: 14px
		width: 90px
	.header-languages-select:before
		color: $c-0

.menu-sidebar, .menu-sidebar-categorias
	.header-link.active 
		color: $c-1

.menu-sidebar-cnt, .menu-ctn-categorias
	height: calc(100% - 92px)
	overflow: auto

.menu-mobile-open
	opacity: 1
	visibility: visible
	z-index: 1000
.menu-mobile-close-cnt
	border-bottom: 1px solid rgba(0, 0, 0, .15)
	text-align: right
	padding: 0 15px
	box-sizing: border-box
	display: flex
	justify-content: space-between
	width: 100%
	align-items: center
	height: 45px
	p
		margin: 0
		font-size: 14px
		color: $c-0
		position: relative
		padding-left: 20px
		box-sizing: border-box
		&:before
			content: "\e90d"
			position: absolute
			top: 5px
			left: 0
			font-family: icomoon
			font-size: 10px
.menu-mobile-redes
	border-top: 1px solid rgba(0, 0, 0, .15)
	height: 45px
	display: flex
	align-items: center
	padding: 0 15px
	box-sizing: border-box
.menu-mobile-close
	height: 10px
	width: 10px
	font-size: 10px
	color: $c-1
	display: inline-block
	margin: 0
.menu-sidebar-categorias
	position: fixed
	left: 0
	top: 0
	background: $blanco
	width: 100%
	height: 100%
	max-width: 300px
	transform: translateX(-100%)
	transition: all .3s ease
	z-index: 1500
	padding: 0 0
	box-sizing: border-box
	&.active
		transform: translateX(0)


//input file
.general__input__file
	position: relative 
	input[type="file"]
		display: none
	
.general__input__file__label
	display: block
	position: relative
	width: 100%
	border: 0
.general__input__file__text
	color: $negro
	font-family: $t-0
	font-size: 13px
	margin: 10px 0 0 0
	width: 100%
	height: 20px
	&.active
		border-bottom: 1px solid $negro
.general__input__file__ico
	width: 100%
	height: 40px
	line-height: 40px
	border: none
	border-radius: 0
	appearance: none
	margin-bottom: 0
	border: 1px solid $negro
	border-radius: 3px
	overflow: hidden
	display: block
	border-radius: 20px
	box-sizing: border-box
	padding: 0 25px
	position: relative
	transition: color .3s ease-out
	&:before
		content: ""
		display: block
		transform: scaleX(0)
		transform-origin: 0 50%
		transition: transform .3s ease-out
		position: absolute
		top: 0
		left: 0
		right: 0
		bottom: 0
		z-index: 1
		padding: 12px 28px	
		background: $c-1
.general__input__file__ico--text
	display: inline-block
	font-size: 16px 
	font-family: $t-0
	color: $negro
	position: relative
	box-sizing: border-box
	width: 100%
	z-index: 2
	&::before
		content: "\e900"
		position: absolute
		top: 0
		right: 0
		font-family: icomoon
.general__input__file__ico--ico
	display: none
	line-height: 50px   

// buscador
.header-search-wrapper
	position: absolute
	top: 50px
	left: 0
	right: 0
	margin: auto
	width: calc(100% - 14px)
	padding: 120px 15px
	box-sizing: border-box
	background: $blanco
	transition: all .3s ease
	transform: translateY(-200%)
	&.active
		transform: translateY(0)
.header-search-wrapper-prin
	width: 100%
	max-width: 1000px
	margin: auto
	height: 70px
	position: relative
	input
		width: 100%
		height: 100%
		border: 0
		border-bottom: 1px solid $c-1
		font-size: 23px
		font-family: $t-0
		color: $c-0
		box-sizing: border-box
		padding: 0 40px 0 0
		&::placeholder
			color: $c-0
	button
		border: 0
		height: 25px
		width: 25px
		position: absolute
		top: 15px
		right: 0
		color: $c-0
		font-size: 25px
		background: none
		padding: 0

body.active
	overflow: hidden
@media screen and (min-width: 1025px)
	.mega-menu-lists li a:hover
		color: $c-1
	.header-item:hover
		.mega-menu-lists
			opacity: 1
			visibility: visible
			z-index: 2
		.header-link:before
			left: 0
			right: 0
	.general__input__file__ico:hover
		border: 1px solid $c-1
		.general__input__file__ico--text
			color: $blanco
		&:before
			background: $c-1
			transform: scaleX(1)

@media screen and (max-width: 1350px)
	.header-logo
		width: 150px
	.header-social-search
		width: 165px
	.header-search
		font-size: 14px
		width: 40px
	.header-cnt-list
		width: calc(100% - 315px)
	.header-socials a
		font-size: 14px
		margin-right: 12px
	.header-list .header-item
		margin-right: 20px

@media screen and (max-width: 1130px)
	.header-logo
		width: 120px
	.header-cnt-list
		width: calc(100% - 285px)
	.header-list .header-item
		margin-right: 15px
	.header-list .header-link
		font-size: 12px

@media screen and (max-width: 1024px)
	//media query header
	body.nosotros
		.mega-menu-lists.empresa
			display: none
	.header-cnt-list
		display: none

	.header-languages
		display: none

	.header-fixed
		height: 60px

	.header-fixed.scrolling .header-logo-scroll
		width: 100%
	
	.header-fixed.scrolling .header-logo
		max-width: 80px

	.header-logo
		max-width: 80px
	
	// .header-logo .header-logo-desktop
	//  opacity: 0
	//  visibility: visible

	// .header-logo .header-logo-scroll
	//  opacity: 1
	//  visibility: visible
	
	// .header-bg
	//  top: 0

	.menu-mobile
		display: block
	.header-fixed.scrolling
		height: 60px
	
	// Cotizador
	.ctn-header-cotiza
		padding-left: 15px
		padding-right: 15px

	.ctn-header-cotiza-wrapper
		max-width: 100%
	.btn-close-cotiza
		right:  25px
		top: 14px
	.header-fixed
		display: none
	.menu-mobile-search
		width: 15px
	.header-search
		width: 100%
	.header-socials a
		font-size: 14px
	.header-search-wrapper
		top: 70px
		width: 100%
	.mega-menu-lists
		position: relative
		left: inherit
		top: inherit
		opacity: 1
		visibility: visible
		width: 100%
		padding-top: 15px
		padding-left: 15px
		padding-right: 15px
@media screen and (max-width: 767px)
	.responsive-logo
		display: none
	.header-cotiza
		right: 0
		height: 65px
		width: 65px
		padding-top: 9px
		p 
			font-size: 11px
		span
			font-size: 18px
	.ctn-form-cotza-desc
		margin-top: 30px
	.btn-form-cotiza
		margin-top: 30px
	.ctn-form-file
		margin: 0 auto
	.ctn-form-parraf
		width: 100%
	.menu-mobile-logo
		width: 180px
