footer.footer
	.footer_content
		.footer_block
			article.footer_box
				.footer_wrap
					.footer_subtitle
						h3 Oficina principal
					.footer_text
						p.
							<a href="">Panamerica Sur Km 21.5, Villa el Salvador, Lima</a>
			article.footer_box
				.footer_wrap
					.footer_subtitle
						h3 Planta Lurin
					.footer_text
						p.
							<a href="">Panamerica Sur Km 21.5, Villa el Salvador, Lima</a>
			article.footer_box
				.footer_wrap
					.footer_subtitle
						h3 Central telefónica
					.footer_text
						p.
							<a href="tel:0516370000">(051) 637 0000</a>
						p.
							<a href="">Línea Gratuita: 0800 00 267</a>
			article.footer_box
				.footer_wrap
					.footer_subtitle
						h3 Email
					.footer_text
						p.
							<a href="mailto:ventas@tupemesa.com.pe">ventas@tupemesa.com.pe</a>
		.footer_copyright
			.footer_copyright_wrap
				a(href="home.html", class="footer_copyright_logo")
					img(src=`${STATIC_URL}img/logo-footer.png`, width="173", height="17", alt="")
				.footer_copyright_text
					p.
						2011-2018 Tupemesa - Todos los derechos reservados. - Diseño Web <span class="footer_copyright_icon icon-corazon"></span> por StaffDigital