header.header-wrap
	.header-fixed
		.header-cnt
			.header-cnt-wrapper
				.header-cnt-wrapper-prin
					a(href="home.html").header-logo
						img.header-logo-desktop(src=`${STATIC_URL}img/logo-header.png`)
					.header-cnt-list
						nav
							ul.header-list
								li.header-item.emp-link
									a.header-link(href="nosotros.html") La empresa 
									ul.mega-menu-lists.empresa
										li
											a(href="#nosotros-1").btn-submenu-empresas Quienes Somos
										li
											a(href="#nosotros-2").btn-submenu-empresas Misión y visión
										li
											a(href="#nosotros-3").btn-submenu-empresas Holding
										li
											a(href="#nosotros-4").btn-submenu-empresas Prácticas y certificaciones
										li
											a(href="#nosotros-5").btn-submenu-empresas Canal de denuncia
										li
											a(href="#nosotros-6").btn-submenu-empresas Trabaja con nosotros
								li.header-item.header-link-hover
									a.header-link(href="productos.html") Productos
									ul.mega-menu-lists.productos
										li
											a(href="#") Perfiles de Metalcon®
										li
											a(href="#") Placas Colaborantes
										li
											a(href="#") Defensas y Guardavías
										li
											a(href="#") Tejas Metalcom®
										li
											a(href="#") Sistema Constructivo de Tubos
										li
											a(href="#") Tubos
										li
											a(href="#") Coberturas Instapanel
										li
											a(href="#") Planchas
										li
											a(href="#") Paneles Aislados
										li
											a(href="#") Corrugados
										li
											a(href="#") Estacas


								li.header-item
									a.header-link(href="servicios.html") Servicios
								li.header-item.header-link-hover
									a.header-link(href="proyectos.html") Proyectos
									ul.mega-menu-lists
										li
											a(href="#") Agroindustria
										li
											a(href="#") Comercio
										li
											a(href="#") Deportivo
										li
											a(href="#") Tejas Metalcom®
										li
											a(href="#") Deportivo
										li
											a(href="#") Tejas Metalcom®
								li.header-item
									a.header-link(href="actividades.html") Actividades
								li.header-item
									a.header-link(href="distribuidores.html") Distribuidores
								li.header-item
									a.header-link(href="contacto.html") Contacto
					.header-social-search
						.header-socials
							a(href="#", target="_blank").icon-twitter
							a(href="#", target="_blank").icon-linkedin
							a(href="#", target="_blank").icon-yt
							a(href="#", target="_blank").icon-facebook
						.header-search
							span.icon-buscador-header.btn-buscador
							span.icon-cerrar.btn-close-buscador
			.header-search-wrapper
				.header-search-wrapper-prin 
					input(placeholder="Escribe lo que buscas")
					button.icon-buscador


		

.header-cotiza.btn-header-cotiza
	span.icon-brochure
	p Cotiza<br> aqui

.ctn-header-cotiza
	.btn-close-cotiza.icon-cerrar
	.ctn-header-cotiza-wrapper
		.ctn-header-cotiza-wrapper-prin
			.titles
				h2.titles_black Cotización de Producto y Servicio
			.ctn-header-cotiza-form
				form#form.form_general
					ul
						li
							.input-one-line
								label.input-one__label Nombre y Apellido
								input(type="text", placeholder="", class="validate[required] input-one")
								span.input-one--span
						li
							.input-one-line
								label.input-one__label Teléfono
								input(type="number", placeholder="", class="soloNumber validate[required,custom[phone]] input-one")
								span.input-one--span
						li
							.input-one-line
								label.input-one__label Email
								input(type="email", placeholder="", class="validate[required,custom[email]] input-one")
								span.input-one--span
						li
							.input-one-line
								label.input-one__label Nombre de Empresa
								input(type="text", placeholder="", class="validate[required] input-one")
								span.input-one--span
						li
							.input-one-line
								label.input-one__label RUC
								input(type="number", placeholder="", class="soloNumber validate[required] input-one")
								span.input-one--span
						li
							.input-one-line
								.r-input
									select(name="", class="validate[required]")
										option(value='') Departamento
										option(value='1') uno
										option(value='2') dos
										option(value='3') tres
						li
							.input-one-line
								label.input-one__label Mensaje
								textarea(type="text", class="validate[required] input-one")
								span.input-one--span
					.ctn-form-cotza-desc
						.ctn-form-file
							.general__input__file.general__input__file--js
								.general__input__inside
									input(type="file", id="file-input")
									label(for="file-input", class="general__input__file__label")
										span.general__input__file__ico
											span.general__input__file__ico--text Adjuntar Archivo
										.general__input__file__text 
						.ctn-form-parraf
							p Adjunte archivo (.doc - .ppt - .pdf) que aporte a su denuncia, que no supere los 5mb, archivos de mayor tamaño puede enviarlo directamente al correo 
								a(href="mailto:adelsante@cap.cl") adelsante@cap.cl

					.btn-form-cotiza
						a.button_general.button_orange.btn-form(href='#')
							span.button_general_text Enviar








//- header menu responsive
.menu-mobile
	.menu-mobile-fixed
		.menu-mobile-open.icon-menu
		.menu-mobile-logo
			img(src=`${STATIC_URL}img/logo-header.png`)
		.menu-mobile-search

.header-menu-overlay
.menu-sidebar
	.menu-mobile-close-cnt.menu-mobile-close-header
		p Volver
		span.menu-mobile-close.icon-cerrar
	.menu-sidebar-cnt
		ul.menu-responsive
			li.header-item
				a.header-link.header-link-btn-menu(href="nosotros.html") La empresa 
				ul.mega-menu-lists.empresa.mega-menu-mobile
					li
						a(href="#nosotros-1").btn-submenu-empresas Quienes Somos
					li
						a(href="#nosotros-2").btn-submenu-empresas Misión y visión
					li
						a(href="#nosotros-3").btn-submenu-empresas Holding
					li
						a(href="#nosotros-4").btn-submenu-empresas Prácticas y certificaciones
					li
						a(href="#nosotros-5").btn-submenu-empresas Canal de denuncia
					li
						a(href="#nosotros-6").btn-submenu-empresas Trabaja con nosotros
			li.header-item.header-link-hover
				a.header-link.btn-mobile-header(href="#", data-id="categorias-mobile-1") Productos

			li.header-item
				a.header-link(href="servicios.html") Servicios
			li.header-item.header-link-hover
				a.header-link.btn-mobile-header(href="#", data-id="categorias-mobile-2") Proyectos
			li.header-item
				a.header-link(href="actividades.html") Actividades
			li.header-item
				a.header-link(href="distribuidores.html") Distribuidores
			li.header-item
				a.header-link(href="contacto.html") Contacto
	.menu-mobile-redes

.menu-sidebar-categorias(id="categorias-mobile-1")
	.menu-mobile-close-cnt.menu-mobile-close-productos
		p Productos
		span.menu-mobile-close.icon-cerrar.menu-mobile-close-productos
	.menu-ctn-categorias
		ul.menu-responsive
			li
				a.header-link(href="productos.html") Perfiles de Metalcon®
			li
				a.header-link(href="productos.html") Placas Colaborantes
			li
				a.header-link(href="productos.html") Defensas y Guardavías
			li
				a.header-link(href="productos.html") Tejas Metalcom®
			li
				a.header-link(href="productos.html") Sistema Constructivo de Tubos
			li
				a.header-link(href="productos.html") Tubos
			li
				a.header-link(href="productos.html") Coberturas Instapanel
			li
				a.header-link(href="productos.html") Planchas
			li
				a.header-link(href="productos.html") Paneles Aislados
			li
				a.header-link(href="productos.html") Corrugados
			li
				a.header-link(href="productos.html") Estacas
	.menu-mobile-redes

.menu-sidebar-categorias(id="categorias-mobile-2")
	.menu-mobile-close-cnt.menu-mobile-close-productos
		p Proyectos
		span.menu-mobile-close.icon-cerrar
	.menu-ctn-categorias
		ul.menu-responsive
			li
				a.header-link(href="proyectos.html") Agroindustria
			li
				a.header-link(href="proyectos.html") Comercio
			li
				a.header-link(href="proyectos.html") Deportivo
			li
				a.header-link(href="proyectos.html") Tejas Metalcom®
			li
				a.header-link(href="proyectos.html") Deportivo
	.menu-mobile-redes


