extends ./_common/base.pug

//- css
append css
	link(rel="stylesheet", href=`${STATIC_URL}js/calendar/glDatePicker.default.css`)
	link(rel="stylesheet", href=`${STATIC_URL}js/calendar/clndr.css`)

//- body classs
block vars
	- var bodyClass = 'class'
//- ---

//- Contenido
block content
	.bg__contacto(style=`background-image:url('${STATIC_URL}img/bg-contacto.jpg')`)
	.ctn__actividades
		.ctn__actividades__wrapper
			.ctn__actividades__wrapper__cal
				.ctn__actividades__wrapper__cal__prin__listado
					ul
						li.curso curso
						li.charla charla
						li.feria feria / taller
				.ctn__actividades__wrapper__cal__prin
					<script type="text/template" id="calendar--js">
						<div class="clndr-controls">
							<div class="clndr-previous-button"></div>
							<div class="current-month"><%= month %> <%= year %></div>
							<div class="clndr-next-button"></div>
						</div>
						<div class="clndr-grid">
							<div class="days-of-the-week clearfix">
							<% _.each(daysOfTheWeek, function(day) { %>
								<div class="header-day"><%= day %></div>
							<% }); %>
							</div>
							<div class="days clearfix">
							<% _.each(days, function(day) { %>
								<div class="<%= day.classes %>" id="<%= day.id %>">
									<span class="day-number"><%= day.day %></span>
									<div class="list__calendar__actividades">
										<span class="charla"></span>
										<span class="curso"></span>
										<span class="evento"></span>
									</div>
								</div>
							<% }); %>
							</div>
						</div>
					</script>
			.ctn__actividades__wrapper__info
				.ctn__actividades__wrapper__info__date
					h3 
				.ctn__actividades__wrapper__info__items
					//- .ctn__actividades__wrapper__info__item.curso
					//- 	.ctn__actividades__wrapper__info__item__info
					//- 		h4 curso
					//- 		h5 Soluciones para infraestructura vial
					//- 		ul
					//- 			li Fecha: 24 de Marzo
					//- 			li Lugar: Envel EIRL
					//- 			li Hora: 5:00 pm a 8:00 pm
					//- 		a.button_general.button_white(href='actividad.html') 
					//- 			span.button_general_text Leer más
					//- 	.ctn__actividades__wrapper__info__item__img
					//- 		img(src=`${STATIC_URL}img/img1-actividad.jpg`, alt="")

					//- .ctn__actividades__wrapper__info__item.charla
					//- 	.ctn__actividades__wrapper__info__item__info
					//- 		h4 charla
					//- 		h5 Soluciones para infraestructura vial
					//- 		ul
					//- 			li Fecha: 24 de Marzo
					//- 			li Lugar: Envel EIRL
					//- 			li Hora: 5:00 pm a 8:00 pm
					//- 		a.button_general.button_white(href='actividad.html') 
					//- 			span.button_general_text Leer más
					//- 	.ctn__actividades__wrapper__info__item__img
					//- 		img(src=`${STATIC_URL}img/img1-actividad.jpg`, alt="")

					//- .ctn__actividades__wrapper__info__item.evento
					//- 	.ctn__actividades__wrapper__info__item__info
					//- 		h4 evento
					//- 		h5 Soluciones para infraestructura vial
					//- 		ul
					//- 			li Fecha: 24 de Marzo
					//- 			li Lugar: Envel EIRL
					//- 			li Hora: 5:00 pm a 8:00 pm
					//- 		a.button_general.button_white(href='actividad.html') 
					//- 			span.button_general_text Leer más
					//- 	.ctn__actividades__wrapper__info__item__img
					//- 		img(src=`${STATIC_URL}img/img1-actividad.jpg`, alt="")



//- js
append scripts 
	script(src=`${STATIC_URL}js/calendar/underscore.js`)
	script(src=`${STATIC_URL}js/calendar/moment.js`)
	script(src=`${STATIC_URL}js/calendar/moment-with-locales.js`)
	script(src=`${STATIC_URL}js/calendar/clndr.min.js`)
	script.
		$(()=>{
			function getTemplate (item) {
				var template = `
					<div class="ctn__actividades__wrapper__info__item ${item.actividad}">
					  <div class="ctn__actividades__wrapper__info__item__info">
					    <h4>${item.actividad}</h4>
					    <h5>${item.titulo}</h5>
					    <figure class="ctn__info__img__cal">
					    	<img src="${item.imagen}" alt="">
					    </figure
					    <ul>
					      <li>Fecha: ${item.fecha}</li>
					      <li>Lugar: ${item.lugar}</li>
					      <li>Hora: ${item.hora}</li>
					    </ul>
					    <a class="button_general button_white link__actividades__var" href="${item.link}"> <span class="button_general_text">Leer más</span></a>
					  </div>
					  <div class="ctn__actividades__wrapper__info__item__img"><img src="${item.imagen}" alt=""></div>
					</div>
				`;
				return template;
			}
				

			moment.locale('es');
			var currentMonth = moment().format('YYYY-MM');
			var nextMonth    = moment().add('month', 1).format('YYYY-MM');
			var currentDay   = moment().add('today',1).format('dddd');
			var actividades   = [
				{'actividad': 'curso', 'titulo': 'Soluciones para infraestructura vial', 'fecha': ' 24 de Abril', 'lugar' : 'Envel EIRL', 'hora': '5:00 pm a 8:00 pm', 'link' : 'https://proyectos.staffdigital.pe/tupemesa/app/actividad.html', 'imagen': 'https://proyectos.staffdigital.pe/tupemesa/app/assets/img/img1-actividad.jpg'},
				{'actividad': 'charla', 'titulo': 'Soluciones para infraestructura vial', 'fecha': ' 14 de Abril', 'lugar' : 'Envel EIRL', 'hora': '5:00 pm a 6:00 pm', 'link' : 'https://proyectos.staffdigital.pe/tupemesa/app/actividad.html', 'imagen': 'https://proyectos.staffdigital.pe/tupemesa/app/assets/img/img1-actividad.jpg'},
				{'actividad': 'taller', 'titulo': 'Soluciones para infraestructura vial', 'fecha': ' 22 de Abril', 'lugar' : 'Envel EIRL', 'hora': '5:00 pm a 7:00 pm', 'link' : 'https://proyectos.staffdigital.pe/tupemesa/app/actividad.html', 'imagen': 'https://proyectos.staffdigital.pe/tupemesa/app/assets/img/img1-actividad.jpg'}
			];
			var events = [];

			$.each(actividades, function($index, $item) {
				var element = getTemplate($item);
				$('.ctn__actividades__wrapper__info__items').append(element);
			})

			

			var days = ['Lunes', 'Martes', 'Miercoles', 'Jueves', 'Viernes', 'Sábado', 'Domingo'];
			
			$('.ctn__actividades__wrapper__cal__prin').clndr({
				template: $('#calendar--js').html(),
				events: [
					{ date: '2017-12-28', title: 'CLNDR GitHub Page Finished', url: 'http://github.com/kylestetz/CLNDR' }, { date: '2016-12-31', title: 'CLNDR GitHub Page Finished', url: 'http://github.com/kylestetz/CLNDR' }, { date: '2017-01-09', title: 'CLNDR GitHub Page Finished', url: 'http://github.com/kylestetz/CLNDR' }
				  ],
				daysOfTheWeek: ['Lun', 'Mar', 'Mie', 'Jue', 'Vie', 'Sáb', 'Dom'],
				clickEvents: {
					click: function(target) {

						var startdate = target.date.format('YYYY-MM-DD');
						var dateclndr = new Date(startdate);
						var dayname = days[dateclndr.getDay()];
						var datestring = dayname + ' ' + target.date.format('DD') + ' de ' + target.date.format('MMMM').charAt(0).toUpperCase() + target.date.format('MMMM').slice(1);
						$('.ctn__actividades__wrapper__info__date h3').html(datestring);
						
					}
				},
				ready: function () {
					$('.day.today').trigger('click');
				}
			});

			
		})