extends ./_common/base.pug
//- css
append css
	//- link(rel="stylesheet", href=`${STATIC_URL}js/bxslider/jquery.bxslider.css`)

//- body classs
block vars
	- var bodyClass = 'class'
//- ---

//- Contenido
block content
	.bg__contacto(style=`background-image:url('${STATIC_URL}img/bg-contacto.jpg')`)
	section.actividad_b2
		.act_b2_content
			.act_b2_return
				a(href="actividades.html").act_b2_btn Regresar
			.act_b2_title.titles.titles_center
				span.titles_orange  02 de Septiembre
				h2.titles_black Soluciones para Infraestructura Vial
			.act_b2_info
				.act_b2_info_txt.act_b2_Animation
					.act_b2_info_p
						p Acompáñanos en el Congreso con Vial Centro donde estaremos presentes con nuestros productos Corrugados, Guardavías y Barreras Certificadas.
							strong TUPEMESA ¡Soluciones para infraestructura vial!
					.act_b2_info_date
						.act_b2_info_lugar
							.act_b2_info_lugar_box
								p Lugar: 
								ul
									li ICA, Auditorio CIP (Prolong. Los Nardos 141)
						.act_b2_info_fecha
							.act_b2_info_fecha_box
								p Fechas: 
								ul
									li Viernes 24 de marzo: de 2:00pm a 8:30pm
									li Sábado 25 de marzo: 9:30am a 5:00pm
					.act_b2_info_btn_face
						a.button_general.button_white(href='javascript: void(0);', onclick="window.open('http://www.facebook.com/sharer.php?u=http://www.google.com/','ventanacompartir', 'toolbar=0, status=0, width=650, height=450');") 
							span.button_general_text Compartir en
				.act_b2_info_img.act_b2_Animation
					img(src=`${STATIC_URL}img/img1-actividad.jpg`, alt="")
	section.actividad_b3
		.act_b3_content
			.act_b3_title
				.titles.titles_center
					span.titles_orange INSCRIPCIÓN
					h2.titles_black Participa de nuestro evento
			form#form_act_b3.form_general
				ul
					li
						.input-one-line
							label.input-one__label Nombre y Apellido
							input(type="text", placeholder="", class="validate[required] input-one")
							span.input-one--span
					li
						.input-one-line
							label.input-one__label Email
							input(type="email", placeholder="", class="validate[required,custom[email]] input-one")
							span.input-one--span
					li
						.input-one-line
							label.input-one__label Teléfono
							input(type="number", placeholder="", class="soloNumber validate[required,custom[phone]] input-one")
							span.input-one--span
					li
						.input-one-line
							.r-input
								select(name="", class="validate[required]")
									option(value='') Departamento
									option(value='1') uno
									option(value='2') dos
									option(value='3') tres
				.act_b3_btn
					button.button_general.button_black.btn-form2
						span.button_general_text Enviar

//- js
append scripts
	script(src=`${STATIC_URL}js/jquery.waypoints.js`)
	script.
		$(function() {
			//code here ------
			//- animando divs
			$('.act_b2_Animation').each(function(index, el) {
				$(el).waypoint(function(direction) {
					if (direction === 'down') {
						$(el).addClass('active');
					}
					}, {
					offset:'60%'
				});
			});
			//- Compartir facebook
			(function(d, s, id) {
				var js, fjs = d.getElementsByTagName(s)[0];
				if (d.getElementById(id)) return;
				js = d.createElement(s); js.id = id;
				js.src = "//connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v2.0";
				fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));
			//- +++ validation of form +++
			$("form_act_b3").validationEngine('attach', {
				promptPosition : "topLeft",
				autoHidePrompt: true,
				autoHideDelay: 3000,
				binded: false,
				scroll: false
			});

			$('.btn-form2').on('click', function(event) {
				event.preventDefault();
				var valid = $("#form_act_b3").validationEngine('validate');
				if (!valid) {
					//- return false;
				}
				else{
					//return true;
					$("#form_act_b3").submit();
				}
			});
			//- <<< end >>>
		})
