extends ./_common/base.pug

//- css
append css
	//- link(rel="stylesheet", href=`${STATIC_URL}js/bxslider/jquery.bxslider.css`)

//- body classs
block vars
	- var bodyClass = 'class'
//- ---

//- Contenido
block content
	section.busquedab1#busqueda
		.busquedab1__container
			.busquedab1__resultados
				p Se encontraron 
					strong 10 resultados
			.busquedab1__buscador
				.header-search-wrapper-prin 
					input(placeholder="Escribe lo que buscas")
					button.icon-buscador
			.busquedab1__content
				- for (var x = 1; x <= 5; x++)
					.productosb1__item
						.productosb1__item__box
							.productosb1__image
								img(src=`${STATIC_URL}img/productosb1-1.jpg`, alt="")
								.productosb1__nuevo
									span NUEVO
							.productosb1__info
								.productosb1__title
									h3 Panel Curvo
								.productosb1__text
									p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum condimentum ut mi eget bibendum. Aenean ultrices elit sit amet velit pellentesque blandit condimentum ut mi eget bibendum.
								.productosb1__btn
									a.button_general.button_white(href='producto.html') 
										span.button_general_text Ver detalle
		.busquedab1__paginador
			.paginador__general
				a(href="#busqueda").paginador__btn__up.buttonUp
					.paginador__up__box
						span.icon-arriba
					.paginador__up__text
						p Ir arriba
				.paginador__bottom
					.paginador__number
						ul
							li
								a(href="") 01
							li
								a.active(href="") 02
							li
								a(href="") 03
					.paginador__page__prev
						a(href="#").paginador__prev
							span.icon-prev
					.paginador__page__next
						a(href="#").paginador__next
							span.icon-next

//- js
append scripts 
	//- script(src=`https://maps.googleapis.com/maps/api/js?v=3.exp${ GOOGLE_APIKEY }`)
	script.
		$(()=>{
			// +++ button up *Ir arriva* +++
			$('.buttonUp').click(function(e){
			 e.preventDefault();
				 volver  = $(this).attr('href');
				 $('html, body').animate({
					 scrollTop: $(volver).offset().top
				 }, 2000);
			 });
			//- <<< end >>>
		})