extends ./_common/base.pug
//- css
append css
	//- link(rel="stylesheet", href=`${STATIC_URL}js/bxslider/jquery.bxslider.css`)

//- body classs
block vars
	- var bodyClass = 'class'
//- ---

//- Contenido
block content
	.bg__contacto(style=`background-image:url('${STATIC_URL}img/bg-contacto.jpg')`)
	.ctn__contacto__form
		.ctn__contacto__form__wrapper
			.titles.titles_center
				span.titles_orange Escríbenos ahora
				h2.titles_black Comunícate con nosotros
			.ctn__contacto__form__wrapper__prin
				form#form_contacto.form_general
					ul
						li
							.input-one-line
								label.input-one__label Nombre y Apellido
								input(type="text", placeholder="", class="validate[required] input-one")
								span.input-one--span
						li
							.input-one-line
								label.input-one__label Teléfono
								input(type="number", placeholder="", class="soloNumber validate[required,custom[phone]] input-one")
								span.input-one--span
						li
							.input-one-line
								label.input-one__label Email
								input(type="email", placeholder="", class="validate[required,custom[email]] input-one")
								span.input-one--span
						li
							.input-one-line
								label.input-one__label Nombre de Empresa
								input(type="text", placeholder="", class="validate[required] input-one")
								span.input-one--span
						li
							.input-one-line
								label.input-one__label RUC
								input(type="number", placeholder="", class="soloNumber validate[required] input-one")
								span.input-one--span
						li
							.input-one-line
								.r-input
									select(name="", class="validate[required]")
										option(value='') Departamento
										option(value='1') uno
										option(value='2') dos
										option(value='3') tres
						li
							.input-one-line
								label.input-one__label Mensaje
								textarea(type="text", class="validate[required] input-one")
								span.input-one--span
					.btn-form-cotiza
						a.button_general.button_orange.btn-form(href='#')
							span.button_general_text Enviar
	.ctn__contacto__map
		.ctn__contacto__map__wrapper
			-for (var x = 1; x <= 4; x++)
				.ctn__contacto__map__item
					.ctn__contacto__map__item__prin
						.ctn__contacto__map__item__print(id=`google-maplima-${x+0}`)
					.ctn__contacto__map__item__info
						.ctn__contacto__map__item__info__dir
							h3 Plana Lurín
							.ctn__contacto__map__item__info__dir__par
								p Panamerica Sur Km 21.5, Villa el Salvador, Lima
								p Telf: 
									a(href="tel:(051) 637 0000") (051) 637 0000
								p Línea Gratuita: 
									a(href="tel:0800 00 267") 0800 00 267
						.ctn__contacto__map__item__info__ubi
							a(href="", target="_blank") ¿Cómo llegar? 


//- js
append scripts 
	script(src=`https://maps.googleapis.com/maps/api/js?key=AIzaSyACnALMPmmfENbKmGbnGYUrcqeuuDlxyoE`)

	script.
		$(function() {
			//- form
			$("form_contacto").validationEngine('attach', {
				promptPosition : "topLeft",
				autoHidePrompt: true,
				autoHideDelay: 3000,
				binded: false,
				scroll: false
			});

			$('.btn-form').on('click', function(event) {
				event.preventDefault();
				var valid = $("#form_contacto").validationEngine('validate');
				if (!valid) {
					//- return false;
				}
				else{
					//return true;
					$("#form_contacto").submit();
				}
			});
			//- map
			var locales = [
				{'id': 'google-maplima-1', 'coordenadas': {'lat': -12.086676, 'lng': -77.051926, 'zoom': 15}},
				{'id': 'google-maplima-2', 'coordenadas': {'lat': -12.086675, 'lng': -77.051925, 'zoom': 15}},
				{'id': 'google-maplima-3', 'coordenadas': {'lat': -12.086674, 'lng': -77.051924, 'zoom': 15}},
				{'id': 'google-maplima-4', 'coordenadas': {'lat': -12.086673, 'lng': -77.051923, 'zoom': 15}}

				//- ['-12.086676', '-77.051926,18'],
				//- ['-12.086675', '-77.051926,17'],
				//- ['-12.086674', '-77.051926,16'],
				//- ['-12.086673', '-77.051926,15']
			];

			generarMapas(locales);

			function generarMapas(coordenadas) {
				$.each(coordenadas, function (index, item) {
					var $map = $('#' + item['id']);
					if (!$map.length) return;
					google.maps.event.addDomListener(window, 'load', initMap(item))
				}) 
			}

			function initMap(item) {
				//- console.log(document.getElementById(item['id']));
				//- return;
				var myLatlng = new google.maps.LatLng(item['coordenadas']['lat'], item['coordenadas']['lng'], item['coordenadas']['zoom']);
				var styles = [
					{"featureType": "water","stylers": [{"color": "#eee"},{"visibility": "on"}]},
					{"featureType": "landscape","stylers": [{"color": "#f2f2f2"}]},
					{"featureType": "road","stylers": [{"saturation": -100},{"lightness": 45}]},
					{"featureType": "road.highway","stylers": [{"visibility": "simplified"}]},
					{"featureType": "road.arterial","elementType": "labels.icon","stylers": [{"visibility": "off"}]},
					{"featureType": "administrative","elementType": "labels.text.fill","stylers": [{"color": "#444444"}]},
					{"featureType": "transit","stylers": [{"visibility": "off"}]},
					{"featureType": "poi","stylers": [{"visibility": "off"}]}
				]
				var mapOptions = {
					zoom             : parseInt(item['coordenadas']['zoom']),
					center           : myLatlng,
					mapTypeControl   : true,
					disableDefaultUI : true,
					zoomControl      : true,
					scrollwheel      : false,
					styles           : styles,
					draggable        : true
				}
				var map = new google.maps.Map(document.getElementById(item['id']), mapOptions);
				var marker = new google.maps.Marker({
					position: myLatlng,
					map: map,
					icon:"./assets/img/marker.png"
				});
			}
		})

		
						

		


		//- $(function() {
		//- 	function initMap() {
		//- 		var $map = $( '#google-maplima' );
		//- 		if ( ! $map.length ) return;
		//- 		var myLatlng = new google.maps.LatLng(-12.086676, -77.051926,18); // <- Your latitude and longitude
		//- 		var styles = [
		//- 			{"featureType": "water","stylers": [{"color": "#eee"},{"visibility": "on"}]},
		//- 			{"featureType": "landscape","stylers": [{"color": "#f2f2f2"}]},
		//- 			{"featureType": "road","stylers": [{"saturation": -100},{"lightness": 45}]},
		//- 			{"featureType": "road.highway","stylers": [{"visibility": "simplified"}]},
		//- 			{"featureType": "road.arterial","elementType": "labels.icon","stylers": [{"visibility": "off"}]},
		//- 			{"featureType": "administrative","elementType": "labels.text.fill","stylers": [{"color": "#444444"}]},
		//- 			{"featureType": "transit","stylers": [{"visibility": "off"}]},
		//- 			{"featureType": "poi","stylers": [{"visibility": "off"}]}
		//- 		]
		//- 		var mapOptions = {
		//- 			zoom             : 15,
		//- 			center           : myLatlng,
		//- 			mapTypeControl   : true,
		//- 			disableDefaultUI : true,
		//- 			zoomControl      : true,
		//- 			scrollwheel      : false,
		//- 			styles           : styles,
		//- 			draggable        : true
		//- 		}
		//- 		var map = new google.maps.Map(document.getElementById('google-maplima'), mapOptions);

		//- 		var marker = new google.maps.Marker({
		//- 			position: myLatlng,
		//- 			map: map,
		//- 			icon:"{{STATIC_URL}}img/marker.png"
		//- 		});
		//- 	}
		//- 	google.maps.event.addDomListener(window, 'load', initMap)
		//- })
