extends ./_common/base.pug

//- css
append css
	//- link(rel="stylesheet", href=`${STATIC_URL}js/bxslider/jquery.bxslider.css`)

//- body classs
block vars
	- var bodyClass = 'class'
//- ---

//- Contenido
block content
	section.distrib1
		.banner__general
			.banner__general__background(style=`background-image: url('${STATIC_URL}img/banner-general.jpg')`)

	section.distrib2
		.distrib2__content
			.distrib2__title
				.titles.titles_center
					span.titles_orange DISTRIBUIDORES
					h2.titles_black Encuentra nuestros puntos de venta
			//- .distrib2__container
			//- 	.distrib2__content
			.distrib2__mapa
				.distrib2_info_map_search
					.distrib2_info_map_search_box1
						span
					.distrib2_info_map_search_box2
						.d2_im_sb2_input
							form
								input(name="q", type="text", placeholder="Escribe tu Ciudad o Distrito")
						.d2_im_sb2_items
							ul
								li 
									a(href="", data-type="todos").active.btn-tab-actividades  Todos
								li 
									a(href="", data-type="tubos").btn-tab-actividades Tubos
								li 
									a(href="", data-type="drywall").btn-tab-actividades Drywall
								li 
									a(href="", data-type="coberturas").btn-tab-actividades Coberturas
				.distrib2_cnt_map
					.distrib2_ctn_map_item_prin
						.distrib2_ctn_map_item_print(id="google-maplima")
				.distrib2_info_map
					.distrib2_info_map_items
					//- .distrib2_info_map_item(data-type="todos")
					//- 	.distrib2_info_map_h3
					//- 		h3 Mavegsac
					//- 	.distrib2_info_map_p
					//- 		p Ca. Lorem Ipsum 234 Los Sauces
					//- 			strong San Luis
					//- 		ul
					//- 			li L a V de 9:00 am. - 6:00 pm.	
					//- 			li Telf: (051) 637 0000
					//- 			li Línea Gratuita: 0800 00 267
					


				//- .distrib2_cnt_map
				//- 	.distrib2_box_map
				//- 		.distrib2_map#google-maplima


//- js
append scripts 
	//- script(src=`https://maps.googleapis.com/maps/api/js?v=3.exp${ GOOGLE_APIKEY }`)
	script(src=`https://maps.googleapis.com/maps/api/js?key=AIzaSyACnALMPmmfENbKmGbnGYUrcqeuuDlxyoE`)
	script.
		var items = [
				{'distribuidor': 'tubos',  'coordenadas': {'lat': -12.1120679, 'lng': -77.0040333, 'zoom': 15}, 'titulo': 'Mavegsac', 'direccion': ' Ca. Lorem Ipsum 234 Los Sauces ', 'distrito' : 'San Luis', 'hora': '9:00 am. - 6:00 pm.', 'telefono' : '(051) 637 0000', 'telefonodos' : '0800 00 267', 'marker' : 'https://proyectos.staffdigital.pe/tupemesa/app/assets/img/marker.png'},
				{'distribuidor': 'drywall',  'coordenadas': {'lat': -12.154116, 'lng': -76.9747487, 'zoom': 15}, 'titulo': 'Mavegsac 2', 'direccion': ' Ca. Lorem Ipsum 234 Los Sauces ', 'distrito' : 'San Luis', 'hora': '9:00 am. - 6:00 pm.', 'telefono' : '(051) 637 0000', 'telefonodos' : '0800 00 267', 'marker' : 'https://proyectos.staffdigital.pe/tupemesa/app/assets/img/marker-2.png'},
				{'distribuidor': 'coberturas',  'coordenadas': {'lat': -12.1215782, 'lng': -76.9894178, 'zoom': 15}, 'titulo': 'Mavegsac 3', 'direccion': ' Ca. Lorem Ipsum 234 Los Sauces ', 'distrito' : 'San Luis', 'hora': '9:00 am. - 6:00 pm.', 'telefono' : '(051) 637 0000', 'telefonodos' : '0800 00 267', 'marker' : 'https://proyectos.staffdigital.pe/tupemesa/app/assets/img/marker-3.png'}
			]
		var markers = []

		var map = null

		function toggleBounce(){
				if(marker.getAnimation() !== null){
				   marker.setAnimation(null);	
				}else {
					marker.setAnimation(google.maps.Animation.BOUNCE);
				}
			}

		$(()=>{
			//code here ------
			// infocus
			//- var inpuFocus = $('.d2_im_sb2_input input');
			//- $('.prueba').click(function(event) {
			//- 	inpuFocus.focus();
			//- });

			//- mapa
			function templateMapa(item){
				var template = `
					<div class="distrib2_info_map_item ">
					  <div class="distrib2_info_map_h3 ${item.distribuidor}">
						<h3>${item.titulo}</h3>
					  </div>
					  <div class="distrib2_info_map_p">
						<p>${item.direccion}  <strong>${item.distrito}</strong></p>
						<ul>
							<li>L a V de ${item.hora}</li>
							<li>Telf: <a href="tel:">${item.telefono}</a></li>
							<li>Línea Gratuita: <a href="tel:">${item.telefonodos}</a></li>
						</ul>
					  </div>
					</div>
				`;
				return template;
			}
			

			function getTipoProducto(tipo) {
				var list = [];

				if (!tipo || tipo == 'todos') {
					list = items;
				} else {
					$.each(items, function(index, value) {
						if (value['distribuidor'] == tipo) {
							list.push(value);
						}
					});
				}

				return list;
			}

			$.each(items, function($index, $item) {
				var element = templateMapa($item);
				$('.distrib2_info_map_items').append(element);
			})

			function clean_markers(){
				if(markers.length > 0){
					// limpiar los markers
					for (var i = 0; i < markers.length; i++) {
						markers[i].setMap(null);
					}
					markers = [];
			}}



			function initMap() {
				var $map = $( '#google-maplima' );
				if ( ! $map.length ) return;
								var myLatlng = new google.maps.LatLng(-12.1169235, -77.00952219999999); // <- Your latitude and longitude
			   var styles = [
					{"featureType": "water","stylers": [{"color": "#eee"},{"visibility": "on"}]},
					{"featureType": "landscape","stylers": [{"color": "#f2f2f2"}]},
					{"featureType": "road","stylers": [{"saturation": -100},{"lightness": 45}]},
					{"featureType": "road.highway","stylers": [{"visibility": "simplified"}]},
					{"featureType": "road.arterial","elementType": "labels.icon","stylers": [{"visibility": "off"}]},
					{"featureType": "administrative","elementType": "labels.text.fill","stylers": [{"color": "#444444"}]},
					{"featureType": "transit","stylers": [{"visibility": "off"}]},
					{"featureType": "poi","stylers": [{"visibility": "off"}]}
				]
				var mapOptions = {
					zoom             : 18,
					center           : myLatlng,
					mapTypeControl   : true,
					disableDefaultUI : true,
					zoomControl      : true,
					scrollwheel      : false,
					styles           : styles,
					draggable        : true
				}
					map = new google.maps.Map(document.getElementById('google-maplima'), mapOptions);

				var bounds = new google.maps.LatLngBounds();

				var infowindow = new google.maps.InfoWindow({});

				$.each(items, function (index, value) {
					var maker = new google.maps.Marker({
						position: value.coordenadas,
						animation: google.maps.Animation.DROP,
						map: map,
						icon: value.marker,
					});
					var iw = '<div class="info__window"><h3>'+value.titulo+'</h3> <p>'+value.direccion+' <strong>'+value.distrito+'</strong></p></div>'
					google.maps.event.addListener(maker, 'click',(
						function(maker,iw,infowindow){
						return function(){
							infowindow.setContent(iw);
							infowindow.open(map,maker);
						};
					})(maker,iw,infowindow));

					markers.push(maker);
					bounds.extend(maker.getPosition());
				});

				map.fitBounds(bounds);

				



				//- var marker = new google.maps.Marker({
				//- 	position: myLatlng,
				//- 	map: map,
				//- 	icon:"./assets/img/marker.png"
				//- });
				//- marker.addListener('click', toggleBounce);
			}
			

			google.maps.event.addDomListener(window, 'load', initMap);


			$('.btn-tab-actividades').click(function(e){
				e.preventDefault();
				$('.btn-tab-actividades').removeClass('active');
				$(this).addClass('active');
				//console.log($(this).data('type'));
				//console.log(getTipoProducto($(this).data('type')));
				var distribuidores = getTipoProducto($(this).data('type'));



				var html = "";
				
				$.each(distribuidores, function (index, value) {
					html += templateMapa(value);
				});

				$('.distrib2_info_map_items').html(html);
				clean_markers();
				var bounds = new google.maps.LatLngBounds();
				var infowindow = new google.maps.InfoWindow({});
				$.each(distribuidores, function (index, value) {

					var maker = new google.maps.Marker({
						position: value.coordenadas,
						animation: google.maps.Animation.DROP,
						map: map,
						icon: value.marker,
					});
					var iw = '<div class="info__window"><h3>'+value.titulo+'</h3> <p>'+value.direccion+' <strong>'+value.distrito+'</strong></p></div>'
					google.maps.event.addListener(maker, 'click',(
						function(maker,iw,infowindow){
						return function(){
							infowindow.setContent(iw);
							infowindow.open(map,maker);
						};
					})(maker,iw,infowindow));

					markers.push(maker);
					bounds.extend(maker.getPosition());
				});

				map.fitBounds(bounds);
			});


			
				
		})