extends ./_common/base.pug

//- css
append css
	//- link(rel="stylesheet", href=`${STATIC_URL}js/bxslider/jquery.bxslider.css`)

//- body classs
block vars
	- var bodyClass = 'class'
//- ---

//- Contenido
block content
	section.enviado
		.enviado_content
			.enviado_group
				.enviado_box.enviado_Animation
					.enviado_h2
						h2 Solicitud Enviada
					.enviado_p
						p Gracias por enviar tu mensaje, nos estaremos comunicando con usted a la brevedad posible.
					.enviado_button
						a.button_general.button_orange(href='#')
							span.button_general_text Regresar
				.enviado_box2.enviado_Animation
					img(src=`${STATIC_URL}img/img1-enviado.png`, alt="")

//- js
append scripts 
	//- script(src=`https://maps.googleapis.com/maps/api/js?v=3.exp${ GOOGLE_APIKEY }`)
	script.
		$(()=>{
			//code here ------
			//- animando divs
			$( window ).on( "load", function() {
				 $('.enviado_Animation').addClass('active');
			});
		})