extends ./_common/base.pug

//- css
append css
	//- link(rel="stylesheet", href=`${STATIC_URL}js/bxslider/jquery.bxslider.css`)

//- body classs
block vars
	- var bodyClass = 'class'
//- ---

//- Contenido
block content
	section.error
		.error_content
			.error_group
				.error_box.error_Animation
					.error_h2
						h2 Error 404
					.error_p
						p Esta página puede estar no disponible o haber cambiado de dirección o no existir. Compruebe si la dirección es correcta o regrese.
					.error_button
						a.button_general.button_orange(href='#')
							span.button_general_text Regresar
				.error_box2.error_Animation
					img(src=`${STATIC_URL}img/img1-error.png`, alt="")

//- js
append scripts 
	//- script(src=`https://maps.googleapis.com/maps/api/js?v=3.exp${ GOOGLE_APIKEY }`)
	script.
		$(()=>{
			//code here ------
			//- animando divs
			$( window ).on( "load", function() {
				 $('.error_Animation').addClass('active');
			});
		})