extends ./_common/base.pug

//- css
append css
	link(rel="stylesheet", href=`${STATIC_URL}js/bxslider/jquery.bxslider.css`)
	link(rel="stylesheet", href=`${STATIC_URL}js/slick/slick.css`)
	link(rel="stylesheet", href=`${STATIC_URL}js/slick/slick-theme.css`)

//- body classs
block vars
	- var bodyClass = 'class'
//- ---

//- Contenido
block content
	section.home-b1
		span.home-b1_mascara
		.home-b1_slider
			ul.homeb1PitcherSlider
				-for (var i = 0; i < 2; i++)
					li
						.home-b1_container
							figure(class="home-b1_bg_img", style=`background-image:url('${STATIC_URL}img/home-b1-banner.jpg')`)
							article.home-b1_block
								.home-wrap
									.home-b1_info
										.home-b1_title
											h3 50 años brindando
											h2 soluciones al Perú
										.home-b2_button
											a(href='#', class="button_general button_black")
												span.button_general_text Conoce más
		a(href="#homeb2", class="home-b1_scroll homeDown")
			span.home-b1_scroll_icon.icon-scroll-down
			span.home-b1_scroll_text scroll down

	section.home_b2#homeb2
		.home_b2_content
			.home_b2_title.titles.titles_center
				span.titles_orange PRODUCTOS Y SERVICIOS
				h2.titles_black Soluciones a la medida
			.home_b2_item_content
				.home_b2_item_list
					- for (var i = 1; i <= 12; i++)
						a(href="servicios.html").home_b2_item
							.home_b2_item_img
								span.home_b2_item_span
									img(src=`${STATIC_URL}img/img2-home-block2.png`, alt="")
								figure
									img(src=`${STATIC_URL}img/img1-home-block2.jpg`, alt="")
							.home_b2_item_p
								p Perfiles de Metalcon®

	section.homeb3
		.homeb3__title
			.titles.titles_center
				span.titles_orange PROYECTOS
				h2.titles_black Orgullosos de nuestros proyectos
		.homeb3__container
			.homeb3__slider.homeSlider
				-for (var i = 1; i <= 5; i++)
					.homeb3__item
						a(href="proyectos.html").homeb3__box
							.homeb3__img(style=`background-image: url('${STATIC_URL}img/proyecto-item1.png')`)
								.homeb3__content
									.homeb3__info
										.homeb3__text
											h3 Proyectos
											h4 Agroindustria
										.homeb3__link 
											p Ver todos
												span.icon-next

	section.homeb4
		.homeb4__title
			.titles.titles_center
				span.titles_orange NOTICIAS
				h2.titles_black Tupemesa te informa
		.homeb4__container
			.homeb4__box
				.homeb4__box__container
					.homeb4__box__image
						img(src=`${STATIC_URL}img/homeb4-img.png`, alt="")
					.homeb4__box__info
						.homeb4__box__title
							span 22 Junio
							h4 75 años del Laboratorio del Ministerio de Transporte y Comunicaciones - MTC
						.homeb4__box__btn
							a.button_general.button_black(href='actividades.html')
								span.button_general_text Ir a Noticias
			.homeb4__content
				-for (var x = 1; x <= 3; x++)
					.homeb4__item
						.home4__item__box
							.homeb4__item__img
								img(src=`${STATIC_URL}img/homeb4-img.png`, alt="")
							.homeb4__item__text
								span 14 Junio
								h5 II Ciclo de charlas en drywall con Metalcon y Volcan

//- js
append scripts 
	script(src=`${STATIC_URL}js/bxslider/jquery.bxslider.min.js`)
	script(src=`${STATIC_URL}js/jquery.waypoints.js`)
	script(src=`${STATIC_URL}js/slick/slick.js`)
	script(src=`${STATIC_URL}js/slick/slick.min.js`)
	script.
		$(()=>{
			//- +++ BLOQUE #1 +++
			$('.homeb1PitcherSlider').bxSlider({
				mode: 'fade',
				adaptiveHeight:true,
				auto: true,
				pause: '5000',
				speed: '1000',
				controls:true,
				prevSelector: '',
				nextSelector: '',
				nextText: '',
				prevText: '',
				pager: false,
				onSliderLoad: function(currentIndex) {
					$('.homeb1PitcherSlider').children().eq(currentIndex).addClass('active');
				},
				onSlideBefore: function($slideElement){
					$('.homeb1PitcherSlider').children().removeClass('active');
					setTimeout( function(){
						$slideElement.addClass('active');
					},500);
				}
			});
			//- <<< end >>>

			//- +++ BLOQUE #2 +++
			//- matchMedia
			if (window.matchMedia("(min-width: 768px)").matches) { 

				//- agrupando divs

				var divs = $('.home_b2_item_content .home_b2_item');

				for(var i = 0; i < divs.length; i+=4) {
					divs.slice(i, i+4).wrapAll('<div class="home_b2_Animation_block home_b2_blockFather"></div>');
				}

				$('.home_b2_blockFather').each(function(index, el) {
					if (index == 0) {
						$(this).find('.home_b2_item:nth-child(1)').addClass('itemDestacado');
					}
					var divs_1 = $(this).find('.home_b2_item');
					for(var i = 0; i < divs_1.length; i+=4) {
						divs_1.slice(i, i+4).wrapAll('<div class="fourGroup"></div>');
					}
				});

			 } else { /* the viewport is less than 400 pixels wide */ }
						

			//- animando divs
			$('.home_b2_item_content .home_b2_item_list .home_b2_Animation_block').each(function(index, el) {
				$(el).waypoint(function(direction) {
					if (direction === 'down') {
						$(el).addClass('active');
					}else{
						//- $(el).removeClass('active');
						//- $('.home_b2_Animation_item:first-child').addClass('active');
						//- $('.home_b2_Animation_item').eq(1).addClass('active');
					}
					}, {
					offset:'60%'
				});
			});

			//- <<< end >>>

			//- +++ BLOQUE #3 +++
			$('.homeSlider').slick({
				dots: true,
				infinite: true,
				autoplay: true,
				autoplaySpeed: 2000,
				speed: 800,
				slidesToShow: 4,
				slidesToScroll: 1,
				responsive: [
					{
						breakpoint: 1200,
						settings: {
							slidesToShow: 3,
							slidesToScroll: 1,
						}
					},
					{
						breakpoint: 800,
						settings: {
							slidesToShow: 2,
							slidesToScroll: 1
						}
					},
					{
						breakpoint: 500,
						settings: {
							slidesToShow: 1,
							slidesToScroll: 1
						}
					}
				]
			});
			//- <<< end >>>

			//- +++ BLOQUE #4 +++
			//- +++ waypoints NOTICIAS +++
			$('.homeb4__item').each(function(index, el){
				$(this).css('transition-delay', index/2 + 's');
			})
			var animaNoticia = $('.homeb4');
			animaNoticia.waypoint(function(direction) {
				if (direction === 'down') {
					$('.homeb4__item').addClass('active');
					$('.homeb4__box__container').addClass('active');
				} else{
					//- $('.homeb4__item').removeClass('active');
					//- $('.homeb4__box__container').removeClass('active');
				}
			}, {
				offset:'60%'
			});
			//- <<< end >>>

			// +++ button down +++
			$('.homeDown').click(function(e){
			 e.preventDefault();
				 volver  = $(this).attr('href');
				 $('html, body').animate({
					 scrollTop: $(volver).offset().top
				 }, 2000);
			 });
			//- <<< end >>>
		})