extends ./_common/base.pug

//- css
append css
	link(rel="stylesheet", href=`${STATIC_URL}js/slick/slick.css`)
	link(rel="stylesheet", href=`${STATIC_URL}js/slick/slick-theme.css`)

//- body classs
block vars
	- var bodyClass = 'nosotros'
//- ---

//- Contenido
block content
	//- Nosotros 1
	section#nosotros-1
		section.empresa_b1
			.empresa_b1_content
				.titles.titles_center
					span.titles_orange  LA EMPRESA
					h2.titles_black experiencia que nos acredita
				.empresa_b1_data
					.empresa_b1_data_box1
						.empresa_b1_data_box1_ul
							ul
								li 
									strong Tubos y Perfiles Metálicos SA – TUPEMESA es la principal empresa fabricante de productos tubulares del Perú. Fue fundada en el mes de noviembre del año 1965 y a partir de la fecha, viene operando con éxito en la fabricación y comercialización de productos en acero de alta calidad.

								li 
									strong En la actualidad, en TUPEMESA contamos con 4 áreas de negocio que reflejan nuestra posición de vanguardia en tecnología e innovación:

								li Tradicional: 
									strong Línea de tubos, cañerías, planos como perfiles abiertos y laminados.

								li Habitacional: 
									strong Conformada por la marca Metalcon, perfiles de acero galvanizado para sistema drywall.

								li Industrial: 
									strong Compuesta por la Marca Instapanel, cubiertas aislantes y no aislantes, placas colaborantes y la marca Tubest, sistema constructivo para la fabricación de grandes galpones con estructuras metálicas.

								li Infraestructura Vial: 
									strong Tubería metálica corrugada y defensas camineras.
					figure.empresa_b1_data_box2
						img(src=`${STATIC_URL}img/img1-empresa-block1.jpg`, alt="")
	//- Nosotros 2
	section.empresa_b2#nosotros-2
		.empresa_b2_content
			ul.empresa_b2_slider
				- for (var i = 1; i <= 4; i++)
					li 
						.empresa_b2_slider_item
							figure.empresa_b2_slider_item_figure
								img(src=`${STATIC_URL}img/img1-empresa-block2.jpg`, alt="")
							.empresa_b2_slider_item_text
								.empresa_b2_slider_item_text_content
									.empresa_b2_slider_item_h2
										h2 misión
									.empresa_b2_slider_item_p
										p Aportamos soluciones sustentables en acero y productos afienes para el sector habitacional e industrial. Estamos comprometidos con una gestión de excelencia e innovación en toda la cadena de negocio. Generando valor en el largo plazo para los accionistas, proveedores, clientes y empleados.

	//- Nosotros 3
	section#nosotros-3
		section.empresa_b3
			.emp_b3_content
				.emp_b3_txt
					.emp_b3_txt_group
						h2 Holding
						p La estructura propietaria al 31 de diciembre de 2014 es la siguiente
				.emp_b3_img
					figure
						img(class="emp_b3_img_desktop", src=`${STATIC_URL}img/img1-empresa-b3.jpg`, alt="")
						img(class="emp_b3_img_movil", src=`${STATIC_URL}img/img1-empresa-b3-movil.jpg`, alt="")

	//- Nosotros 4
	section#nosotros-4
		.empresa_b4
			.emp_b4_content
				.emp_b4_tab
					ul(class="emp_b4_Tabs")
						li 
							a(href="").active Prácticas de Gobierno Corporativo
						li 
							a(href="") Certificado de Sistema de Gestión Integrado
				.emp_b4_tab_items
					.emp_b4_Panels_item.active
						- for (var i = 1; i <= 6; i++)
							a(href="", target="_blank").emp_block4_item
								.emp_block4_item_p
									p Manual de Buenas Prácticas de Gobierno Corporativo
					.emp_b4_Panels_item
						- for (var i = 1; i <= 5; i++)
							a(href="", target="_blank").emp_block4_item
								.emp_block4_item_p
									p Manual de Buenas Prácticas de Gobierno Corporativo
	//- Nosotros 5
	section#nosotros-5
		section.empresa_b5
			.titles.titles_center
				h2.titles_black Canal de denuncia
			form#form_empresa_b5.form_general.emp_b5_content
				ul
					li
						.input-one-line
							label.input-one__label Nombre y Apellido
							input(type="text", placeholder="", class="validate[required] input-one")
							span.input-one--span
					li
						.input-one-line
							label.input-one__label Email
							input(type="email", placeholder="", class="validate[required,custom[email]] input-one")
							span.input-one--span
					li
						.emp_b5_h3
							h3 Datos de la Denuncia
					li
						.input-one-line.emp_b5_example
							label.input-one__label Escriba motivo:
							input(type="text", placeholder="", class="validate[required] input-one")
							span.input-one--span
							.emp_b5_example_p
								p (Ej. conflicto de interés)
					li
						.input-one-line
							label.input-one__label Empresa denunciada:
							input(type="text", placeholder="", class="validate[required] input-one")
							span.input-one--span
					
				.ctn-form-cotza-desc
					.ctn-form-file
						.general__input__file.general__input__file--js
							.general__input__inside
								input(type="file", id="file-input")
								label(for="file-input", class="general__input__file__label")
									span.general__input__file__ico
										span.general__input__file__ico--text Adjuntar Archivo
									.general__input__file__text 
					.ctn-form-parraf
						p Adjunte archivo (.doc - .ppt - .pdf) que aporte a su denuncia, que no supere los 5mb, archivos de mayor tamaño puede enviarlo directamente al correo 
							a(href="mailto:adelsante@cap.cl") adelsante@cap.cl

				.btn-form-cotiza
					a.button_general.button_orange.btn-form(href='#')
						span.button_general_text Enviar

	//- Nosotros 6
	section#nosotros-6
		.ctn__work__emp(style=`background-image:url('${STATIC_URL}img/bg-empresa-6.jpg')`)
			.ctn__work__emp__wrapper 
				.titles.titles_center
					h2.titles_white Trabaja con nosotros
				.ctn__work__emp__form
					form#nosotros__form.form_general
						ul
							li
								.input-one-line
									label.input-one__label Nombre y Apellido
									input(type="text", placeholder="", class="validate[required] input-one")
									span.input-one--span

							li
								.input-one-line
									label.input-one__label Email
									input(type="email", placeholder="", class="validate[required,custom[email]] input-one")
									span.input-one--span

							li
								.input-one-line
									label.input-one__label Teléfono
									input(type="number", placeholder="", class="soloNumber validate[required,custom[phone]] input-one")
									span.input-one--span
							
							li
								.input-one-line
									.r-input
										select(name="", class="validate[required]")
											option(value='') Área a postular
											option(value='1') uno
											option(value='2') dos
											option(value='3') tres
							li
								.input-one-line
									label.input-one__label Mensaje
									textarea(type="text", class="validate[required] input-one")
									span.input-one--span
						.ctn-form-cotza-desc
							.ctn-form-file
								.general__input__file.general__input__file--js
									.general__input__inside
										input(type="file", id="file-input")
										label(for="file-input", class="general__input__file__label")
											span.general__input__file__ico
												span.general__input__file__ico--text Adjuntar CV
											.general__input__file__text 
							.ctn-form-parraf
								p Adjunte archivo (.doc - .ppt - .pdf) que aporte a su denuncia, que no supere los 5mb, archivos de mayor tamaño puede enviarlo directamente al correo 
									a(href="mailto:adelsante@cap.cl") adelsante@cap.cl

						.btn-form-cotiza
							a.button_general.button_orange.btn-nosotros-emp(href='#')
								span.button_general_text Enviar


//- js
append scripts 
	script(src=`${STATIC_URL}js/slick/slick.js`)
	script(src=`${STATIC_URL}js/slick/slick.min.js`)
	script.
		$(()=>{
			$('.emp-link').hover(
			function(){
				$('.header-menu-overlay').addClass('active');
				$('.header-fixed').addClass('hover');
			},
			function(){
				$('.header-menu-overlay').removeClass('active');
				$('.header-fixed').removeClass('hover');
			}
			);
			$('.header-link-btn-menu').click(function(e){		
				e.preventDefault();		
				$('.mega-menu-mobile').slideToggle('fast');
			});

			$('.empresa_b2_slider').slick({
				dots: false,
				infinite: true,
				autoplay: false,
				autoplaySpeed: 2000,
				speed: 800,
				slidesToShow: 1,
				slidesToScroll: 1,
				responsive: [
					{
						breakpoint: 768,
						settings: {
							dots: true
						}
					}
				]
			});

			//- +++ tabs +++
			const cl = q => console.log(q);
			$('.emp_b4_Tabs li').click(function(e){
				e.preventDefault();
					let current = $(this).find('a');
					let content = $('.emp_b4_Panels_item');
					if(!current.hasClass('active')){
						$(this).parent().find('li a').removeClass('active');
						current.addClass('active');
						content.removeClass('active');
						content.eq($(this).index()).addClass('active');
					}else{
						return false;
					}
			})

			$("#form_empresa_b5").validationEngine('attach', {
				promptPosition : "topLeft",
				autoHidePrompt: true,
				autoHideDelay: 3000,
				binded: false,
				scroll: false
			});

			$("#nosotros__form").validationEngine('attach', {
				promptPosition : "topLeft",
				autoHidePrompt: true,
				autoHideDelay: 3000,
				binded: false,
				scroll: false
			});

			$('.btn-form').on('click', function(event) {
				event.preventDefault();
				var valid = $("#form_empresa_b5").validationEngine('validate');
				if (!valid) {
					//- return false;
				}
				else{
					//return true;
					$("#form_empresa_b5").submit();
				}
			});

			$('.btn-nosotros-emp').on('click', function(event) {
				event.preventDefault();
				var valid = $("#nosotros__form").validationEngine('validate');
				if (!valid) {
					//- return false;
				}
				else{
					//return true;
					$("#nosotros__form").submit();
				}
			});
			//- <<< end >>>
		})