extends ./_common/base.pug

//- css
append css
	link(rel="stylesheet", href=`${STATIC_URL}js/gallery/lightgallery.css`)
	link(rel="stylesheet", href=`${STATIC_URL}js/gallery/lg-fb-comment-box.min.css`)
	link(rel="stylesheet", href=`${STATIC_URL}js/gallery/lg-transitions.min.css`)

//- body classs
block vars
	- var bodyClass = 'class'
//- ---

//- Contenido
block content
	section.banner_interna
		.banner_icontent
			.banner_ibox1
				.banner_ibox1_content
					.banner_ib1_list
						ul
							li HOME
							li PERFILES DE METALCON
					.banner_ib1_h1.titles.titles_left
						h1.titles_black PERFILES DE METALCON®
					.banner_ib1_botones
						ul
							li
								a.button_general.button_orange.span_icon(href="../assets/img/tupemesa.pdf" download="Tupemesa")
									span.button_general_text.button_icon Descargar Catálogo
							li.btn_video_banner
								a.button_general.button_orange.span_icon2(href='https://www.youtube.com/watch?v=gpRqSFqlFSw')
									span.button_general_text.button_icon Ver Video
			.banner_ibox2
				figure.banner_ib2_figure
					img(src=`${STATIC_URL}img/img1-banner-interna.png`, alt="")
	section.productosb1#productos-b1
		.productosb1__container
			.productosb1__box
				.productosb1__list
					.productosb1__options.btnAcordion
						span Selecciona una opción +
					ul
						li 
							a.active(href="") Perfiles de metalcon®
						li 
							a(href="") Tejas metalcon®
						li 
							a(href="") Cobertuas instapanel
						li 
							a(href="") Paneles aislados instapanel
						li 
							a(href="") Placas colaborantes
						li 
							a(href="") Sistema constructivo tubest®
						li 
							a(href="") Perfiles abiertos
						li 
							a(href="") Corrugados
						li 
							a(href="") Defensas y guardavías
						li 
							a(href="") Tubos
						li 
							a(href="") Planchas
						li 
							a(href="") Estacas
						li 
							a(href="") Paneles Solares
			.productosb1__content
				.productosb1__item
					.productosb1__item__box
						.productosb1__image
							img(src=`${STATIC_URL}img/productosb1-1.jpg`, alt="")
							.productosb1__nuevo
								span NUEVO
						.productosb1__info
							.productosb1__title
								h3 Panel Curvo
							.productosb1__text
								p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum condimentum ut mi eget bibendum. Aenean ultrices elit sit amet velit pellentesque blandit condimentum ut mi eget bibendum.
							.productosb1__btn
								a.button_general.button_white(href='producto.html') 
									span.button_general_text Ver detalle
				.productosb1__item
					.productosb1__item__box
						.productosb1__image
							img(src=`${STATIC_URL}img/productosb1-2.jpg`, alt="")
							//- .productosb1__nuevo
							//- 	span NUEVO
						.productosb1__info
							.productosb1__title
								h3 Tubo Galvanizado Estructural
							.productosb1__text
								p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum condimentum ut mi eget bibendum. Aenean ultrices elit sit amet velit pellentesque blandit condimentum ut mi eget bibendum.
							.productosb1__btn
								a.button_general.button_white(href='producto.html') 
									span.button_general_text Ver detalle
				.productosb1__item
					.productosb1__item__box
						.productosb1__image
							img(src=`${STATIC_URL}img/productosb1-3.jpg`, alt="")
							.productosb1__nuevo
								span NUEVO
						.productosb1__info
							.productosb1__title
								h3 Tabiques
							.productosb1__text
								p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum condimentum ut mi eget bibendum. Aenean ultrices elit sit amet velit pellentesque blandit condimentum ut mi eget bibendum.
							.productosb1__btn
								a.button_general.button_white(href='producto.html') 
									span.button_general_text Ver detalle
				.productosb1__item
					.productosb1__item__box
						.productosb1__image
							img(src=`${STATIC_URL}img/productosb1-1.jpg`, alt="")
							//- .productosb1__nuevo
							//- 	span NUEVO
						.productosb1__info
							.productosb1__title
								h3 Panel Curvo Estructural
							.productosb1__text
								p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum condimentum ut mi eget bibendum. Aenean ultrices elit sit amet velit pellentesque blandit condimentum ut mi eget bibendum.
							.productosb1__btn
								a.button_general.button_white(href='producto.html') 
									span.button_general_text Ver detalle
				.productosb1__item
					.productosb1__item__box
						.productosb1__image
							img(src=`${STATIC_URL}img/productosb1-2.jpg`, alt="")
							//- .productosb1__nuevo
							//- 	span NUEVO
						.productosb1__info
							.productosb1__title
								h3 Tubo Galvanizado Estructural
							.productosb1__text
								p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum condimentum ut mi eget bibendum. Aenean ultrices elit sit amet velit pellentesque blandit condimentum ut mi eget bibendum.
							.productosb1__btn
								a.button_general.button_white(href='producto.html') 
									span.button_general_text Ver detalle
		.paginador__general
			a(href="#productos-b1").paginador__btn__up.buttonUp
				.paginador__up__box
					span.icon-arriba
				.paginador__up__text
					p Ir arriba
			.paginador__bottom
				.paginador__number
					ul
						li
							a(href="") 01
						li
							a.active(href="") 02
						li
							a(href="") 03
				.paginador__page__prev
					a(href="#").paginador__prev
						span.icon-prev
				.paginador__page__next
					a(href="#").paginador__next
						span.icon-next


//- js
append scripts 
	script(src=`${STATIC_URL}js/gallery/lightgallery.js`)
	script(src=`${STATIC_URL}js/gallery/lg-fullscreen.js`)
	script(src=`${STATIC_URL}js/gallery/lg-thumbnail.js`)
	script(src=`${STATIC_URL}js/gallery/lg-zoom.js`)
	script(src=`${STATIC_URL}js/gallery/lg-video.js`)
	script(src=`${STATIC_URL}js/gallery/lg-autoplay.js`)
	script.
		$(()=>{
			//code here ------
			//- +++ video +++
			$('.btn_video_banner').lightGallery({
				selector: 'a',
				thumbnail: false
			}); 
			//- <<< end >>>

			//- +++ acordion responsive +++
			$('.btnAcordion').click(function(){
				$('.productosb1__list ul').slideToggle('slow');
				$(this).toggleClass('active');
			});
			//- <<< end >>>


			// +++ button up *Ir arriva* +++
			$('.buttonUp').click(function(e){
			 e.preventDefault();
				 volver  = $(this).attr('href');
				 $('html, body').animate({
					 scrollTop: $(volver).offset().top
				 }, 2000);
			 });
			//- <<< end >>>
		})