extends ./_common/base.pug

//- css
append css
	link(rel="stylesheet", href=`${STATIC_URL}js/gallery/lightgallery.css`)
	link(rel="stylesheet", href=`${STATIC_URL}js/gallery/lg-fb-comment-box.min.css`)
	link(rel="stylesheet", href=`${STATIC_URL}js/gallery/lg-transitions.min.css`)
	link(rel="stylesheet", href=`${STATIC_URL}js/slick/slick.css`)
	link(rel="stylesheet", href=`${STATIC_URL}js/slick/slick-theme.css`)

//- body classs
block vars
	- var bodyClass = 'class'
//- ---

//- Contenido
block content
	//- +++ compartir facebook +++
	script(type='text/javascript').
		(function(d, s, id) {
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id)) return;
			js = d.createElement(s); js.id = id;
			js.src = "//connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v2.0";
			fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));
	//- <<< end >>>

	section.banner_interna
		.banner_icontent
			.banner_ibox1
				.banner_ibox1_content
					.banner_ib1_list
						ul
							li Home
							li perfiles de metalcon
					.banner_ib1_h1.titles.titles_left
						//- span Home / perfiles de metalcon
						h1.titles_black PERFILES DE METALCON®
					.banner_ib1_botones
						ul
							li
								a.button_general.button_orange.span_icon(href='#')
									span.button_general_text.button_icon Descargar Catálogo
							li.btn_video_banner
								a.button_general.button_orange.span_icon2(href='https://www.youtube.com/watch?v=gpRqSFqlFSw')
									span.button_general_text.button_icon Ver Vídeo
			.banner_ibox2
				figure.banner_ib2_figure
					img(src=`${STATIC_URL}img/img1-banner-interna.png`, alt="")
	.producto__ctn
		.producto__ctn__wrapper 
			.producto__ctn__info
				.producto__ctn__info__title
					h3 PANEL CURVO
				.producto__ctn__info__slider
				.producto__ctn__info__lists
					ul
						li
							h4 Descripción
							p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum condimentum ut mi eget bibendum. Aenean ultrices elit sit amet velit pellentesque blandit. Etiam rhoncus lectus nisi, sit amet pretium arcu elementum in. Integer eu ornare lorem. Integer sit amet commodo felis, eget hendrerit arcu.
						li
							h4 Técnicas
							p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum condimentum ut mi eget bibendum. Aenean ultrices elit sit amet velit pellentesque blandit. Etiam rhoncus lectus nisi, sit amet pretium arcu elementum in. Integer eu ornare lorem. Integer sit amet commodo felis, eget hendrerit arcu.
						li
							h4 Normas Técnicas
							p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum condimentum ut mi eget bibendum. Aenean ultrices elit sit amet velit pellentesque blandit. Etiam rhoncus lectus nisi, sit amet pretium arcu elementum in. Integer eu ornare lorem. Integer sit amet commodo felis, eget hendrerit arcu.
						li
							h4 Usos
							p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum condimentum ut mi eget bibendum. Aenean ultrices elit sit amet velit pellentesque blandit. Etiam rhoncus lectus nisi, sit amet pretium arcu elementum in. Integer eu ornare lorem. Integer sit amet commodo felis, eget hendrerit arcu.
				.producto__ctn__info__cotiza
					a.button_general.button_vacio.span_icon(href='#')
							span.button_general_text.button_icon Descargar Ficha técnica
					a.button_general.button_orange.btn-header-cotiza(href='#')
						span.button_general_text Cotizar Producto
			.producto__ctn__image
				.producto__ctn__image__link
					a(href="productos.html") Volver al índice
				.producto__ctn__image__slider__color
					.producto__ctn__image__slider__wrapper
						-for (var l = 1; l <= 7; l++)
							.producto__ctn__image__slider__wrapper__tab(id=`color-${l+0}`)
								.producto__ctn__image__slider__prin
									.producto__ctn__image__slider
										-for (var x = 1; x <= 5; x++)
											.producto__ctn__image__slider__item
												img(src=`${STATIC_URL}img/producto-detalle.jpg`, alt="")
								.producto__ctn__tabs__slider
									-for (var y = 1; y <= 5; y++)
										.producto__ctn__tabs__slider__item
											img(src=`${STATIC_URL}img/producto-detalle.jpg`, alt="")
					.producto__ctn__image__color
						p Elije un Color:
						ul
							li
								a(href="#", data-id="color-1").blue.btn__color__tab
							li
								a(href="#", data-id="color-2").red.btn__color__tab
							li
								a(href="#", data-id="color-3").yellow.btn__color__tab
							li
								a(href="#", data-id="color-4").orange.btn__color__tab
							li
								a(href="#", data-id="color-5").green.btn__color__tab
							li
								a(href="#", data-id="color-6").lead.btn__color__tab
							li
								a(href="#", data-id="color-7").gray.btn__color__tab
				.producto__ctn__image__share
					p Compartir: 
					.producto__ctn__image__share__wrapper
						a(href="javascript: void(0);", onclick="window.open('https://twitter.com/share','ventanacompartir', 'toolbar=0, status=0, width=650, height=450')").icon-twitter
						a(href="https://youtu.be/W67xSX6VImg", target="_blank").icon-yt
						a(href='javascript: void(0);', onclick="window.open('http://www.facebook.com/sharer.php?u=http://www.google.com/','ventanacompartir', 'toolbar=0, status=0, width=650, height=450');").icon-facebook
 


//- js
append scripts 
	//- script(src=`https://maps.googleapis.com/maps/api/js?v=3.exp${ GOOGLE_APIKEY }`)
	script(src=`${STATIC_URL}js/gallery/lightgallery.js`)
	script(src=`${STATIC_URL}js/gallery/lg-fullscreen.js`)
	script(src=`${STATIC_URL}js/gallery/lg-thumbnail.js`)
	script(src=`${STATIC_URL}js/gallery/lg-zoom.js`)
	script(src=`${STATIC_URL}js/gallery/lg-video.js`)
	script(src=`${STATIC_URL}js/gallery/lg-autoplay.js`)
	script(src=`${STATIC_URL}js/slick/slick.js`)
	script(src=`${STATIC_URL}js/slick/slick.min.js`)

	//- +++ script twitter +++
	script.
		!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
	//- <<< End >>>
	//- script(src=`https://maps.googleapis.com/maps/api/js?v=3.exp${ GOOGLE_APIKEY }`)
	script.
		$(()=>{
			//code here ------
			//- +++ video +++
			$('.btn_video_banner').lightGallery({
				selector: 'a',
				thumbnail: false
			}); 

			 $('.producto__ctn__image__slider').slick({
			  slidesToShow: 1,
			  slidesToScroll: 1,
			  arrows: false,
			  fade: true,
			  asNavFor: '.producto__ctn__tabs__slider'
			});

			$('.producto__ctn__tabs__slider').slick({
			  slidesToShow: 4,
			  slidesToScroll: 1,
			  asNavFor: '.producto__ctn__image__slider',
			  dots: false,
			  arrows: true,
			  focusOnSelect: true,
			  responsive: [
			    {
			      breakpoint: 768,
			      settings: {
			        slidesToShow: 3
			      }
			    }
			    // You can unslick at a given breakpoint now by adding:
			    // settings: "unslick"
			    // instead of a settings object
			  ]
			});

			$('.producto__ctn__image__slider__wrapper__tab:first-child').addClass('active');
			$('.producto__ctn__image__color li:first-child .btn__color__tab').addClass('active');
			$('.btn__color__tab').click(function(event) {
		        event.preventDefault();
		        $('.btn__color__tab').removeClass('active');
		        $(this).addClass('active');
		        var bdataid = $(this).attr('data-id');
		        $('.producto__ctn__image__slider__wrapper__tab').removeClass('active');
		        $('.producto__ctn__image__slider__wrapper__tab[id="'+bdataid+'"]').addClass('active');
		    });

		    var width = $(window).innerWidth();
		    if(width <= 767){
				$( ".producto__ctn__info__slider" ).append( $(".producto__ctn__image__slider__color") );
		    }
	
		})