extends ./_common/base.pug

//- css
append css
	link(rel="stylesheet", href=`${STATIC_URL}js/slick/slick.css`)
	link(rel="stylesheet", href=`${STATIC_URL}js/slick/slick-theme.css`)
	link(rel="stylesheet", href=`${STATIC_URL}js/gallery/lg-fb-comment-box.min.css`)
	link(rel="stylesheet", href=`${STATIC_URL}js/gallery/lg-transitions.min.css`)
	link(rel="stylesheet", href=`${STATIC_URL}js/gallery/lightgallery.css`)

//- body classs
block vars
	- var bodyClass = 'class'
//- ---

//- Contenido
block content
	section.proyectosb1#proyectos-b1
		.proyectosb1__title
			.titles.titles_center
				span.titles_orange PROYECTOS
				h2.titles_black Acabados en comercio
		.proyectosb1__container
			.proyectosb1__box
				.proyectosb1__list
					.proyectosb1__options.btnAcordion
						span Selecciona una opción +
					ul
						li 
							a.active(href="") Agroindustria
						li 
							a(href="") Comercio
						li 
							a(href="") Deportivo
						li 
							a(href="") Agroindustria
						li 
							a(href="") Agroindustria
						li 
							a(href="") Comercio
						li 
							a(href="") Deportivo
						li 
							a(href="") Agroindustria
			.proyectosb1__content
				- for (var x = 1; x <= 5; x++)
					.proyectosb1__item
						.proyectosb1__slider.proyectosSlider.imgGallery
							a(class="proyectosb1__gallery" href=`${STATIC_URL}img/proyectos-img1.jpg`)
								img(src=`${STATIC_URL}img/proyectos-img1.jpg`, alt="")
							a(class="proyectosb1__gallery" href=`${STATIC_URL}img/proyectos-img1.jpg`)
								img(src=`${STATIC_URL}img/proyectos-img1.jpg`, alt="")
							a(class="proyectosb1__gallery" href=`${STATIC_URL}img/proyectos-img1.jpg`)
								img(src=`${STATIC_URL}img/proyectos-img1.jpg`, alt="")
						.proyectosb1__info
							.proyectosb1__title__item
								h3 Maestro Ace Home Center
							.proyectosb1__text__box
								ul
									li Ubicación:
										.proyectosb1__text
											p Lima - Ate
									li Producto:
										.proyectosb1__text
											p TAT- 1060 PUR AZ 200 Reforzado
											p TAT- 1060 PUR AZ 200 Reforzado

		.paginador__general
			a(href="#proyectos-b1").paginador__btn__up.buttonUp
				.paginador__up__box
					span.icon-arriba
				.paginador__up__text
					p Ir arriba
			.paginador__bottom
				.paginador__number
					ul
						li
							a(href="") 01
						li
							a.active(href="") 02
						li
							a(href="") 03
				.paginador__page__prev
					a(href="#").paginador__prev
						span.icon-prev
				.paginador__page__next
					a(href="#").paginador__next
						span.icon-next

//- js
append scripts 
	script(src=`${STATIC_URL}js/slick/slick.js`)
	script(src=`${STATIC_URL}js/slick/slick.min.js`)
	script(src=`${STATIC_URL}js/gallery/lightgallery.js`)
	script(src=`${STATIC_URL}js/gallery/lg-fullscreen.js`)
	script(src=`${STATIC_URL}js/gallery/lg-thumbnail.js`)
	script(src=`${STATIC_URL}js/gallery/lg-zoom.js`)
	script(src=`${STATIC_URL}js/gallery/lg-video.js`)
	script(src=`${STATIC_URL}js/gallery/lg-autoplay.js`)
	script.
		$(()=>{
			//- +++ slider gallery +++
			$('.proyectosSlider').slick({
				dots: false,
				arrows: true,
				infinite: false,
				autoplay: false,
				speed: 600,
				slidesToShow: 1,
				slidesToScroll: 1,
			});
			//- <<< end >>>

			//- +++ gallery popup +++
			$('.imgGallery').lightGallery({
				selector: 'a'
			});
			//- <<< end >>>

			//- +++ acordion responsive +++
			$('.btnAcordion').click(function(){
				$('.proyectosb1__list ul').slideToggle('slow');
				$(this).toggleClass('active');
			});
			//- <<< end >>>

			//- +++ acordion responsive +++
			$('.btnAcordion').click(function(){
				$('.productosb1__list ul').slideToggle('slow');
				$(this).toggleClass('active');
			});
			//- <<< end >>>

			// +++ button up *Ir arriva* +++
			$('.buttonUp').click(function(e){
			 e.preventDefault();
				 volver  = $(this).attr('href');
				 $('html, body').animate({
					 scrollTop: $(volver).offset().top
				 }, 2000);
			 });
			//- <<< end >>>
		})