extends ./_common/base.pug

//- css
append css
	//- link(rel="stylesheet", href=`${STATIC_URL}js/bxslider/jquery.bxslider.css`)
	link(rel="stylesheet", href=`${STATIC_URL}js/bxslider/jquery.bxslider.css`)
	link(rel="stylesheet", href=`${STATIC_URL}js/gallery/lightgallery.css`)
	link(rel="stylesheet", href=`${STATIC_URL}js/gallery/lg-fb-comment-box.min.css`)
	link(rel="stylesheet", href=`${STATIC_URL}js/gallery/lg-transitions.min.css`)
	link(rel="stylesheet", href=`${STATIC_URL}js/slick/slick.css`)
	link(rel="stylesheet", href=`${STATIC_URL}js/slick/slick-theme.css`)

//- body classs
block vars
	- var bodyClass = 'class'
//- ---

//- Contenido
block content
	section.servicio
		section.banner_interna
			.banner_icontent
				.banner_ibox1
					.banner_ibox1_content
						.banner_ib1_list
							ul
								li Home
								li perfiles de metalcon
						.banner_ib1_h1.titles.titles_left
							//- span Home / perfiles de metalcon
							h1.titles_black PERFILES DE METALCON®
						.banner_ib1_botones
							ul
								li
									a.button_general.button_orange.span_icon(href='#')
										span.button_general_text.button_icon Descargar Catálogo
								li.btn_video_banner
									a.button_general.button_orange.span_icon2(href='https://www.youtube.com/watch?v=gpRqSFqlFSw')
										span.button_general_text.button_icon Ver Vídeo
				.banner_ibox2
					figure.banner_ib2_figure
						img(src=`.${STATIC_URL}img/img1-banner-interna.png`, alt="")
		section.servicios-b2
			.servicios-b2_content
				article.servicios-b2_left
					.servicios-b2_info
						.servicios-b2_text
							h3 Descripción
							p.
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum condimentum ut mi eget bibendum. Aenean ultrices elit sit amet velit pellentesque blandit. Etiam rhoncus lectus nisi, sit amet pretium arcu elementum in. Integer eu ornare lorem. Integer sit amet commodo felis, eget hendrerit arcu.
							h3 Normas:
							p.
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum condimentum ut mi eget bibendum. Aenean ultrices elit sit amet velit pellentesque blandit. Etiam rhoncus lectus nisi, sit amet pretium arcu elementum in. Integer eu ornare lorem. Integer sit amet commodo felis, eget hendrerit arcu.
							h3 Usos:
							p.
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum condimentum ut mi eget bibendum. Aenean ultrices elit sit amet velit pellentesque blandit. Etiam rhoncus lectus nisi, sit amet pretium arcu elementum in. Integer eu ornare lorem.
						.servicios-b2_button
							a.button_general.button_orange(href='#')
								span.button_general_text Cotizar servicio
				article.servicios-b2_right
					.servicios-b2_box
						.servicios-b2_slider
							ul.serviciosb2PitcherSlider.serviciob2ImgGallery
								-for (var i = 0; i < 2; i++)
									li
										a(href=`${STATIC_URL}img/servicios-b2-img.jpg`, class="servicios-b2-img")
											img(src=`${STATIC_URL}img/servicios-b2-img.jpg`, width="399", height="281", alt="")
						.servicios-b2_wrap
							.servicios-b2_subtitle
								h3 Ventajas competitivas
							.servicios-b2_list
								ul
									li Larga duración.
									li Mantenimiento innecesario.
									li Bajo en costos.
									li Gran versatilidad de aplicación.
									li Resistencia mecánica.
		section.servicios_b3
			.serv_b3_content
				.serv_b3_top_box
					.serv_b3_h2
						h2 Conoce el proceso de Galvanizado:
					ul.serv_b3_tab_items
						li
							.serv_b3_item_content.serv_b3_Panels_item.active
								figure.serv_b3_item_box1
									img(src=`${STATIC_URL}img/img1-servicios-b3.png`, alt="")
								.serv_b3_item_box2
									.serv_b3_item_box2_h3
										h3 1. Desengrasado
									.serv_b3_item_box2_p
										p En esta etapa se sumerge el material en soluciones químicas que sirven para eliminar la mayoría de aceites solubles y lubricantes que se usan para fabricar las piezas
						li
							.serv_b3_item_content.serv_b3_Panels_item
									figure.serv_b3_item_box1
										img(src=`${STATIC_URL}img/img1-servicios-b3.png`, alt="")
									.serv_b3_item_box2
										.serv_b3_item_box2_h3
											h3 2. Decapado
										.serv_b3_item_box2_p
											p En esta etapa se sumerge el material en soluciones químicas que sirven para eliminar la mayoría de aceites solubles y lubricantes que se usan para fabricar las piezas
						li
							.serv_b3_item_content.serv_b3_Panels_item
									figure.serv_b3_item_box1
										img(src=`${STATIC_URL}img/img1-servicios-b3.png`, alt="")
									.serv_b3_item_box2
										.serv_b3_item_box2_h3
											h3 3. Fluxación
										.serv_b3_item_box2_p
											p En esta etapa se sumerge el material en soluciones químicas que sirven para eliminar la mayoría de aceites solubles y lubricantes que se usan para fabricar las piezas
						li
							.serv_b3_item_content.serv_b3_Panels_item
									figure.serv_b3_item_box1
										img(src=`${STATIC_URL}img/img1-servicios-b3.png`, alt="")
									.serv_b3_item_box2
										.serv_b3_item_box2_h3
											h3 4. Secado
										.serv_b3_item_box2_p
											p En esta etapa se sumerge el material en soluciones químicas que sirven para eliminar la mayoría de aceites solubles y lubricantes que se usan para fabricar las piezas
						li
							.serv_b3_item_content.serv_b3_Panels_item
									figure.serv_b3_item_box1
										img(src=`${STATIC_URL}img/img1-servicios-b3.png`, alt="")
									.serv_b3_item_box2
										.serv_b3_item_box2_h3
											h3 5. Galvanizado
										.serv_b3_item_box2_p
											p En esta etapa se sumerge el material en soluciones químicas que sirven para eliminar la mayoría de aceites solubles y lubricantes que se usan para fabricar las 
						li
							.serv_b3_item_content.serv_b3_Panels_item
									figure.serv_b3_item_box1
										img(src=`${STATIC_URL}img/img1-servicios-b3.png`, alt="")
									.serv_b3_item_box2
										.serv_b3_item_box2_h3
											h3 6. Enfriamiento
										.serv_b3_item_box2_p
											p En esta etapa se sumerge el material en soluciones químicas que sirven para eliminar la mayoría de aceites solubles y lubricantes que se usan para fabricar las 
						li
							.serv_b3_item_content.serv_b3_Panels_item
									figure.serv_b3_item_box1
										img(src=`${STATIC_URL}img/img1-servicios-b3.png`, alt="")
									.serv_b3_item_box2
										.serv_b3_item_box2_h3
											h3 7. Inspección
										.serv_b3_item_box2_p
											p En esta etapa se sumerge el material en soluciones químicas que sirven para eliminar la mayoría de aceites solubles y lubricantes que se usan para fabricar las 
				.serv_b3_tab
					ul(class="serv_b3_Tabs serv_b3_Slider")
						li
							a(href="").serv_b3_tab_button.active
								.serv_b3_tab_button_box1
									p 1
								.serv_b3_tab_button_box2
									p Desengrasado
						li
							a(href="").serv_b3_tab_button
								.serv_b3_tab_button_box1
									p 2
								.serv_b3_tab_button_box2
									p Decapado
						li
							a(href="").serv_b3_tab_button
								.serv_b3_tab_button_box1
									p 3
								.serv_b3_tab_button_box2
									p Fluxación
						li
							a(href="").serv_b3_tab_button
								.serv_b3_tab_button_box1
									p 4
								.serv_b3_tab_button_box2
									p Secado
						li
							a(href="").serv_b3_tab_button
								.serv_b3_tab_button_box1
									p 5
								.serv_b3_tab_button_box2
									p Galvanizado
						li
							a(href="").serv_b3_tab_button
								.serv_b3_tab_button_box1
									p 6
								.serv_b3_tab_button_box2
									p Enfriamiento
						li
							a(href="").serv_b3_tab_button
								.serv_b3_tab_button_box1
									p 7
								.serv_b3_tab_button_box2
									p Inspección
		section.serviciosb4
			.serviciosb4__title
				.titles
					h2.titles_black Galería de trabajos
			.serviciosb4__container
				.serviciosb4__slider.serviciosSlider
					-for (var x = 1; x <= 5; x++)
						.serviciosb4__item
							a(href="proyectos.html").serviciosb4__box
								.serviciosb4__img(style=`background-image: url('${STATIC_URL}img/proyecto-item2.png')`)
									.serviciosb4__content
										.serviciosb4__info
											.serviciosb4__text
												p Tupemesa en la feria más  grande de construcción “Excon 2017”


//- js
append scripts 
	//- script(src=`https://maps.googleapis.com/maps/api/js?v=3.exp${ GOOGLE_APIKEY }`)
	script(src=`${STATIC_URL}js/bxslider/jquery.bxslider.min.js`)
	script(src=`${STATIC_URL}js/gallery/lightgallery.js`)
	script(src=`${STATIC_URL}js/gallery/lg-fullscreen.js`)
	script(src=`${STATIC_URL}js/gallery/lg-thumbnail.js`)
	script(src=`${STATIC_URL}js/gallery/lg-zoom.js`)
	script(src=`${STATIC_URL}js/gallery/lg-video.js`)
	script(src=`${STATIC_URL}js/gallery/lg-autoplay.js`)
	script(src=`${STATIC_URL}js/slick/slick.js`)
	script(src=`${STATIC_URL}js/slick/slick.min.js`)
	script.
		$(()=>{
			//code here ------
			//- +++ video block #B1+++
			$('.btn_video_banner').lightGallery({
				selector: 'a',
				thumbnail: false
			});
			//- block #B2
			$('.serviciosb2PitcherSlider').bxSlider({
				auto: true,
				pause:'5000',
				nextSelector: '',
				prevSelector: '',
				nextText: '',
				prevText: '',
				pager: false
			});
			$('.serviciob2ImgGallery').lightGallery({
				selector: 'a'
			});
			//- block #3
			//- +++ tabs +++
			const cl = q => console.log(q);
			$('.serv_b3_Tabs li').click(function(e){
				e.preventDefault();
					let current = $(this).find('a');
					let content = $('.serv_b3_Panels_item');
					if(!current.hasClass('active')){
						$(this).parent().find('li a').removeClass('active');
						current.addClass('active');
						content.removeClass('active');
						content.eq($(this).index()).addClass('active');
					}else{
						return false;
					}
			})
			$('serv_b3_Tabs li').prevAll().addClass('one')
				$('li').on('click', function(i,e){
				$('li').removeClass('active')
				$(this).addClass('active')
				if($(this).hasClass('active')){
					$(this).prevAll().addClass('one')
					$(this).nextAll().removeClass('one')
					$(this).removeClass('one')

					
				}
			})
			//- +++ slider +++
			$('.serv_b3_Slider').slick({
				dots: false,
				infinite: false,
				autoplay: true,
				autoplaySpeed: 2000,
				speed: 800,
				slidesToShow: 7,
				slidesToScroll: 1,
				responsive: [
					{
						breakpoint: 1024,
						settings: {
							dots: true,
							slidesToShow: 4,
							slidesToScroll: 4
						}
					},
					{
						breakpoint: 600,
						settings: {
							dots: true,
							slidesToShow: 2,
							slidesToScroll: 2
						}
					},
					{
						breakpoint: 400,
						settings: {
							dots: true,
							slidesToShow: 1,
							slidesToScroll: 1
						}
					}
				]
			});
			

			//- block #4
			$('.serviciosSlider').slick({
				dots: true,
				infinite: true,
				autoplay: true,
				autoplaySpeed: 2000,
				speed: 800,
				slidesToShow: 4,
				slidesToScroll: 1,
				responsive: [
					{
						breakpoint: 1200,
						settings: {
							slidesToShow: 3,
							slidesToScroll: 1,
						}
					},
					{
						breakpoint: 800,
						settings: {
							slidesToShow: 2,
							slidesToScroll: 1
						}
					},
					{
						breakpoint: 500,
						settings: {
							slidesToShow: 1,
							slidesToScroll: 1
						}
					}
				]
			});
		})