.ctn__actividades
	padding: 55px 0 0 0
	box-sizing: border-box
	width: 100%
	display: flex
	justify-content: flex-end
.ctn__actividades__wrapper
	width: 100%
	max-width: 1400px
	display: flex
	flex-wrap: wrap
	justify-content: space-between
.ctn__actividades__wrapper__cal
	width: calc(100% - 597px)
	padding: 0 73px 0 0
	box-sizing: border-box
	position: relative
.ctn__actividades__wrapper__cal__prin
	width: 100%
	.clndr-controls
		display: flex
		align-items: center
		justify-content: space-between
		width: 220px
		box-sizing: border-box
	.clndr-previous-button, .clndr-next-button
		position: relative
		height: 22px
		width: 22px
		line-height: 20px
		cursor: pointer
		border: 1px solid $c-0
		border-radius: 100%
		text-align: center
		transition-duration: .3s
		transform: perspective(1px) translateZ(0)
		&:before
			display: block
			line-height: 22px
			font-size: 7px
			color: $c-0
			transform: translateZ(0)
			font-family: icomoon

	.clndr-previous-button
		&:before
			content: "\e907"
			
	.clndr-next-button
		&:before
			content: "\e90c"
	.current-month
		font-size: 20px
		font-family: $t-0
		color: $negro
		text-transform: capitalize
	.clndr-grid
		border-top: 1px solid $c-5
		margin: 15px 0 0 0
		padding: 15px 0 0 0
		box-sizing: border-box
	.days-of-the-week
		display: flex
		align-items: center
		flex-wrap: wrap
		background: $c-1
		padding: 6px 0
		box-sizing: border-box
	.header-day
		width: 14.28%
		text-align: center
		color: $blanco
		font-size: 14px
		font-family: $t-0
		box-sizing: border-box
		&:last-child
			border-right: 0
	.days
		display: flex
		flex-wrap: wrap
		align-items: center
	.day 
		width: 14.28%
		height: 80px
		line-height: 80px
		text-align: center
		border-bottom: 1px solid $c-5
		color: $c-0
		font-size: 18px
		font-family: $t-0
		position: relative
		cursor: pointer
	.last-month, .next-month
		color: $c-5
	.today
		color: $c-1
.ctn__actividades__wrapper__cal__prin__listado
	position: absolute
	top: 0
	right: 0
	padding: 0 73px 0 0
	width: 100%
	box-sizing: border-box
	ul
		display: flex
		flex-wrap: wrap
		justify-content: flex-end
	li
		font-family: $t-1
		font-size: 15px
		color: $c-0
		position: relative
		padding: 0 0 0 15px
		box-sizing: border-box
		margin: 0 50px 0 0
		&:last-child
			margin-right: 0
		&:before
			content: ""
			position: absolute
			top: 6px
			left: 0
			width: 10px
			height: 10px
		&.curso:before
			background: $c-1
		&.charla:before
			background: #804b33
		&.feria:before
			background: #ad9b78
.list__calendar__actividades
	position: absolute
	bottom: 14px
	left: 0
	width: 100%
	display: flex
	justify-content: center
	span
		width: 10px
		height: 10px
		margin: 0 7px 0 0
		&:last-child
			margin: 0
		&.charla
			background: #804b33
		&.curso
			background: $c-1
		&.evento
			background: #ad9b78
.ctn__actividades__wrapper__info
	width: 595px
.ctn__actividades__wrapper__info__date
	background: $c-4
	padding: 20px 40px
	box-sizing: border-box
	h3
		font-weight: normal
		font-size: 18px
		margin: 0
		color: $negro
		font-family: $t-2
.ctn__actividades__wrapper__info__items
	width: calc(100% - 1px)
	border-left: 1px solid $c-5
	height: 600px
	overflow: auto
.ctn__actividades__wrapper__info__item
	width: 100%
	padding: 40px 35px
	box-sizing: border-box
	display: flex
	justify-content: space-between
	border-bottom: 1px solid $c-5
	&.curso
		.ctn__actividades__wrapper__info__item__info h4
			background: $c-1
	&.charla
		.ctn__actividades__wrapper__info__item__info h4
			background: #804b33
	&.taller
		.ctn__actividades__wrapper__info__item__info h4
			background: #ad9b78
.ctn__actividades__wrapper__info__item__info
	width: calc(100% - 320px)
	h4
		font-weight: normal
		color: $blanco
		margin: 0
		font-size: 13px
		font-family: $t-1
		padding: 7px 25px
		box-sizing: border-box
		border-radius: 15px
		width: auto
		display: inline-block
	h5
		font-weight: normal
		color: $negro
		margin: 10px 0 0 0
		font-size: 15px
		font-family: $t-2
		line-height: 1.2
	ul
		margin: 19px 0 
	li
		font-size: 13px
		color: $c-0
		font-family: $t-0
		margin: 0 0 4px 0
		&:last-child
			margin: 0
.ctn__actividades__wrapper__info__item__img
	width: 240px
	img
		max-width: 100%
		display: block
		height: auto
.ctn__info__img__cal
	display: none
@media screen and (min-width: 1025px)
	.ctn__actividades__wrapper__cal__prin
		.clndr-previous-button:hover, .clndr-next-button:hover
			border: 1px solid $c-1
			&:before
				color: $c-1
				animation-name: btn-flecha
				animation-duration: 1s
				animation-timing-function: ease-in-out
				animation-iteration-count: 1
				font-family: 'icomoon'

@media screen and (max-width: 1450px)
	.ctn__actividades__wrapper
		padding-left: 15px
		box-sizing: border-box
	.ctn__actividades__wrapper__cal__prin__listado
		padding-right: 30px
	.ctn__actividades__wrapper__cal
		padding-right: 30px
		width: calc(100% - 501px)
	.ctn__actividades__wrapper__info__date
		padding: 10px 20px
		h3
			font-size: 14px
	.ctn__actividades__wrapper__info
		width: 500px
	.ctn__actividades__wrapper__info__item
		padding: 20px
	.ctn__actividades__wrapper__info__item__info
		width: calc(100% - 210px)
	.ctn__actividades__wrapper__info__item__img
		width: 180px
@media screen and (max-width: 1200px)
	.ctn__actividades__wrapper__cal
		width: calc(100% - 401px)
	.ctn__actividades__wrapper__info
		width: 400px
	.ctn__actividades__wrapper__info__item__info
		width: calc(100% - 180px)
	.ctn__actividades__wrapper__info__item__img
		width: 150px
@media screen and (max-width: 1024px)
	.ctn__actividades
		padding: 50px 0
	.ctn__actividades__wrapper
		padding-right: 15px
	.ctn__actividades__wrapper__cal
		width: 100%
		padding-right: 0
	.ctn__actividades__wrapper__cal__prin__listado
		padding-right: 0
	.ctn__actividades__wrapper__info
		width: 100%
		margin: 30px 0 0 0
	.ctn__actividades__wrapper__info__items
		height: auto
		border-left: 0
	.ctn__actividades__wrapper__info__item
		padding-right: 15px
		padding-left: 15px
	.ctn__actividades__wrapper__info__date
		padding-left: 15px
		padding-right: 15px
	.ctn__actividades__wrapper__info__item__img
		width: 350px
	.ctn__actividades__wrapper__info__item__info
		width: calc(100% - 380px)
@media screen and (max-width: 767px)
	.ctn__actividades
		padding: 30px 0
	.ctn__actividades__wrapper__cal__prin__listado li
		margin-right: 15px
	.ctn__actividades__wrapper__info__item__img
		display: none
	.ctn__info__img__cal
		display: block
		margin: 15px 0 
	.ctn__actividades__wrapper__info__item__info
		width: 100%
@media screen and (max-width: 480px)	
	.ctn__actividades__wrapper__cal__prin__listado
		position: relative
		top: inherit
		right: inherit
		ul
			justify-content: flex-start
	.ctn__actividades__wrapper__cal__prin
		margin: 15px 0 0 0
		.day
			font-size: 12px
		.header-day
			font-size: 12px	
	.list__calendar__actividades span
		width: 5px
		height: 5px


