.actividad_b3
	background-color: $c-4
	padding-top: 65px
	padding-bottom: 78px
	a
		outline: none
.act_b3_title
	padding-bottom: 40px
.act_b3_content
	width: auto
	max-width: 817px
	padding-right: 20px
	padding-left: 20px
	box-sizing: border-box
	height: auto
	margin-left: auto 
	margin-right: auto
.act_b3_content
	.form_general
		ul
			padding-bottom: 74px
			box-sizing: border-box
		li:last-child
			width: 47%
			margin-left: 2%
.act_b3_btn
	text-align: center
@media screen and (max-width: 767px)
	.act_b3_content
		.form_general
			li:last-child
				width: 100%
				margin-left: initial