.actividad_b2
	padding-top: 54px
	padding-bottom: 90px
	a
		outline: none
.act_b2_content
	width: auto
	max-width: 1211px
	height: auto
	margin-left: auto
	margin-right: auto
	padding: 0 20px
.act_b2_btn
	position: relative
	color: $c-0
	padding-left: 41px
	font-size: 13px
	font-family: $t-0
	&:before
		content: "\e917"
		position: absolute
		top: 8px
		left: 0
		font-family: $icomoon
		font-size: 6px
		color: $c-0
		transition: all .3s ease-out
	@media screen and (min-width: 1025px)
		&:hover
			&:before
				left: -4px
.act_b2_title
	margin-top: 20px
.act_b2_info
	margin-top: 68px
.act_b2_info_txt, .act_b2_info_img
	width: 50%
.act_b2_info
	display: flex
	flex-direction: row
	flex-wrap: nowrap
	align-items: stretch
	justify-content: center

.act_b2_info_img
	opacity: 0
	visibility: hidden
	transition: all .3s ease-in-out
	transform: translateX(40px) 
	&.active
		opacity: 1
		visibility: visible
		transform: translateX(0) 
	img
		display: block
.act_b2_info_table
	margin-top: 29px
	table
		text-align: left
		width: 100%
.act_b2_info_txt
	font-family: $t-0
	color: $c-0
	font-size: 15px
	padding: 50px 51px 0px 28px
	box-sizing: border-box
	opacity: 0
	visibility: hidden
	transition: all .3s ease-in-out
	transform: translateX(-40px) 
	&.active
		opacity: 1
		visibility: visible
		transform: translateX(0) 
.act_b2_info_table
	th
		color: $negro
		font-family: $t-1
		vertical-align: top
.act_b2_info_btn_face
	margin-top: 71px
	height: 40px
	.button_general
		font-size: 16px
		padding: 0 53px 0 26px
		.button_general_text
			&:before
				content: "\e603"
				font-family: $icomoon
				font-size: 30px
				color: $negro
				right: -34px
				top: 0
				position: absolute
				transition: all .3s ease-in-out
		@media screen and (min-width: 1025px)
			&:hover
				.button_general_text
					&:before
						color: $blanco
.act_b2_info_date
	margin-top: 23px
	p
		margin: 0
.act_b2_info_p
	p
		line-height: 28px
		margin: 0
	strong
		display: block
	
// [class*="act_b2_info_fecha_bo"]
.act_b2_info_lugar_box, .act_b2_info_fecha_box
	display: flex
	flex-wrap: nowrap
	flex-direction: row
	align-items: flex-start
	justify-content: flex-start
	p
		font-family: $t-1
		margin-right: 10px
		width: auto
		max-width: 20%
		color: $negro
	ul
		margin: 0
.act_b2_info_lugar_box, .act_b2_info_fecha_box
	li:nth-child(n + 2)
			line-height: 38px
.act_b2_info_fecha_box
	margin-top: 14px
	span
		span:last-child
			display: block
			background: red
@media screen and (max-width: 1024px)
	.act_b2_info_txt
		padding: 0 51px 0 28px
	.act_b2_content
		overflow: hidden
	.act_b2_info_btn_face
		padding-bottom: 2px
	.act_b2_info_btn_face
		text-align: center
	.act_b2_info
		margin-top: 45px
@media screen and (max-width: 900px)
	.act_b2_info_btn_face
		margin-top: 40px
	.act_b2_info_txt
		font-size: 14px
@media screen and (max-width: 767px)
	.act_b2_info_img
		display: none
	.act_b2_info_txt
		width: 100%
	.act_b2_info_btn_face
		text-align: center
	.act_b2_info_txt
		padding: 0 20px
	.act_b2_info
		margin-top: 28px
	.actividad_b2
		padding-bottom: 60px

@media screen and (max-width: 500px)
	.act_b2_info_txt
		padding: 0
	
