.busquedab1
	padding-top: 180px
	padding-bottom: 20px

.busquedab1__container
	max-width: 940px
	width: 100%
	padding: 0px 20px
	margin: auto
	box-sizing: border-box

.busquedab1__content
	margin-bottom: 60px

.busquedab1__paginador
	.paginador__general
		max-width: 940px
		width: 100%

.busquedab1__buscador
	margin-bottom: 65px
	.header-search-wrapper-prin
		max-width: 100%

.busquedab1__resultados
	font-family: $t-0
	font-size: 17px
	color: $negro
	margin-bottom: 25px
	p
		margin-bottom: 0
	strong
		font-family: $t-1

@media screen and (max-width: 1025px)
	.busquedab1
		padding-top: 50px

@media screen and (max-width: 767px)
	.busquedab1__resultados
		font-size: 15px

	.busquedab1__buscador
		.header-search-wrapper-prin 
			input
				font-size: 18px
			button
				font-size: 18px
				top: 20px

	.busquedab1__buscador
		margin-bottom: 55px

	.busquedab1__resultados
		margin-bottom: 20px