.bg__contacto
	width: 100%
	height: 388px
	background-repeat: no-repeat
	background-position: center
	background-size: cover
.ctn__contacto__form
	padding: 65px 0 105px 0
	box-sizing: border-box
	width: 100%
.ctn__contacto__form__wrapper
	width: 100%
	max-width: 780px
	padding: 0 20px
	box-sizing: border-box
	margin: 0 auto
.ctn__contacto__map
	width: 100%
	padding: 0 0 150px 0
	box-sizing: border-box
.ctn__contacto__map__wrapper
	width: 100%
	max-width: 1240px
	padding: 0 20px
	box-sizing: border-box
	display: flex
	flex-wrap: wrap
	justify-content: space-between
	margin: 0 auto
.ctn__contacto__map__item
	width: 48.5%
	margin: 0 0 15px 0
	border: 1px solid $c-5
.ctn__contacto__map__item__prin
	width: 100%
	height: 250px
	position: relative
.ctn__contacto__map__item__print
	width: 100%
	height: 100%
.ctn__contacto__map__item__info
	padding: 15px 25px
	box-sizing: border-box
	display: flex
	flex-wrap: wrap
	justify-content: space-between
	align-items: center
.ctn__contacto__map__item__info__dir
	width: calc(100% - 161px)
	border-right: 1px solid $c-5
	padding: 10px 0
	box-sizing: border-box
	h3
		font-weight: normal
		font-family: $t-2
		font-size: 18px
		color: $c-0
		margin: 0
.ctn__contacto__map__item__info__dir__par
	margin: 10px 0 0 0
	font-family: $t-0
	p 
		margin: 0 0 7px 0
		color: $c-0
		font-size: 14px
		&:first-child
			margin-bottom: 14px
		&:last-child
			margin: 0
	a
		color: $c-0
.ctn__contacto__map__item__info__ubi
	width: 160px
	text-align: right
	font-family: $t-0
	font-size: 14px
	a
		margin: 0
		display: inline-block
		position: relative
		padding: 5px 40px 0 0
		box-sizing: border-box
		color: $c-0
		&:before
			content: "\e909"
			position: absolute
			top: 0
			right: 0
			font-family: icomoon
			color: $c-1
			font-size: 30px
			animation-fill-mode: forwards
			animation-duration: .5s
			transform: translateZ(0)

@media screen and (min-width: 1025px)
	.ctn__contacto__map__item__info__ubi a:hover
		&:before
			animation-name: float
			animation-timing-function: ease-out

@media screen and (max-width: 1024px)
	.ctn__contacto__form
		padding: 50px 0
	.ctn__contacto__map
		padding-bottom: 35px
	.bg__contacto
		height: 330px
@media screen and (max-width: 960px)
	.ctn__contacto__map__item
		width: 100%
	.ctn__contacto__map__item__prin
		height: 200px
@media screen and (max-width: 767px)
	.ctn__contacto__form
		padding: 30px 0
	.bg__contacto
		height: 280px
	.ctn__contacto__map
		padding-bottom: 30px
	.ctn__contacto__form__wrapper
		padding: 0 15px
	.ctn__contacto__map__item:last-child
		margin-bottom: 0
@media screen and (max-width: 480px)
	.ctn__contacto__map__item__info
		padding: 15px
	.ctn__contacto__map__item__info__dir
		width: 100%
		border: 0
		padding-bottom: 0
	.ctn__contacto__map__item__info__ubi
		width: 100%
		text-align: left
		margin: 15px 0 0 0
		a
			box-sizing: border-box
			padding-bottom: 10px
			padding-top: 6px




//Animacion
@keyframes float
	0
		opacity: 1
	100%
		opacity: 0
		transform: translateY(-1em)

