.distrib2
	padding-top: 71px
	box-sizing: border-box
	width: 100%
	height: auto
	a
		outline: none
.distrib2__mapa
	width: auto
	height: auto
	margin-top: 130px
	display: flex
	flex-direction: row
	flex-wrap: nowrap
	align-items: stretch
	justify-content: center
	position: relative
.distrib2_cnt_map
	height: 600px
	width: 125%
	height: auto
	min-height: 592px
.distrib2_info_map
	height: 600px
	width: 75%
	padding: 130px 0 0 90px
	box-sizing: border-box
	position: relative
.distrib2_info_map_items
	position: relative
	height: 100%
	overflow: auto
	padding: 0 15px 15px 0
	box-sizing: border-box
.distrib2_info_map_item
	max-width: 362px
	height: auto
	padding-left: 29px
	box-sizing: border-box
	position: relative
	margin: 0 0 22px 0
	&:last-child
		margin: 0
.distrib2_info_map_search
	width: 718px
	height: 147px
	background-color: $blanco
	position: absolute
	top: -85px
	right: 344px
	display: flex
	flex-wrap: nowrap
	flex-direction: row
	align-items: stretch
	justify-content: center
	box-shadow: 1px 1px 11px #C6C6C6
	z-index: -1
	opacity: 0
	visibility: hidden
	opacity: 1
	visibility: visible
	z-index: 1
	&.active
		opacity: 1
		visibility: visible
		z-index: 1

	// border-bottom: 1px solid $blanco

.distrib2_info_map_h3
	color: $negro
	position: relative
	h3
		font-family: $t-2
		font-size: 16px
	&:before
		content: "\e91a"
		font-family: $icomoon
		font-size: 18px
		top: 0
		left: -29px
		position: absolute
	&.tubos
		color: $c-1
	&.drywall
		color: #0056a7
	&.coberturas
		color: $negro
.distrib2_info_map_p
	color: $c-0
	p, li
		font-family: $t-0
		font-size: 14px
	strong
		display: block
		font-weight: normal
	a
		color: $c-0
.distrib2_info_map_search_box1
	width: 126px
	height: 50%
	span
		position: relative
		display: block
		color: $c-1
		height: 100%
		position: relative
		&:before
			position: absolute
			bottom: 0
			left: 0
			right: 0
			content: "\e90f"
			font-family: $icomoon
			font-size: 40px
			text-align: center
.distrib2_info_map_search_box2
	width: calc(100% - 126px)
	height: 100%
.d2_im_sb2_input
	height: 50%
	form
		input
			border: initial
			border-bottom: 2px solid $c-1
			width: 93%
			height: 70px
			display: block
			font-family: $t-0
			font-size: 14px
			color: $c-0
		input::placeholder
			color: $c-6
.d2_im_sb2_items
	height: 50%
	// line-height: 40px
	ul
		display: flex
		flex-wrap: nowrap
		flex-direction: row
		align-items: center
		justify-content: flex-start
		height: 100%
	li
		height: 100%
		width: 100%
		a
			width: 100%
			height: 100%
			margin: 0
			display: flex
			flex-wrap: nowrap
			flex-direction: row
			align-items: center
			justify-content: flex-start
			color: $c-0
			font-family: $t-0
			font-size: 14px
			padding-left: 16px
			box-sizing: border-box
			position: relative
		a.active
			&:before
				content: ""
				width: 60%
				border-bottom: 2px solid $c-0
				position: absolute
				left: 0
				bottom: 0
	li:nth-child(n + 2)
		a
			&:after
				content: ""
				width: 6px
				height: 6px
				background-color: $c-1
				position: absolute
				left: 0
				top: 50%
				transform: translateY(-50%)
				border-radius: 25px
	li:nth-child(3)
		a
			&:after
				background-color: #0056A7
	li:nth-child(4)
		a
			&:after
				background-color: $negro
	li:first-child
		a
			padding-left: initial

.distrib2_ctn_map_item_prin
	width: 100%
	height: 100%
	position: relative
.distrib2_ctn_map_item_print
	width: 100%
	height: 100%
.info__window
	h3
		font-weight: normal
		font-size: 16px
		color: $negro
		font-family: $t-2
		margin: 15px 0
	p 
		font-family: $t-0
		font-size: 14px
		color: $negro
		margin: 0
	strong
		font-weight: normal
		display: block
@media screen and (max-width: 1500px)
	.distrib2_info_map_search
		right: 170px
@media screen and (max-width: 1024px)
	.distrib2
		padding: 50px 0 0 0
	.distrib2_info_map_search
		position: relative
		top: inherit
		right: inherit
		margin: 0 auto 30px auto
	.distrib2__mapa
		flex-wrap: wrap
		margin-top: 50px
	.distrib2_cnt_map
		width: 55%
	.distrib2_info_map
		width: 45%
		padding: 50px 0 0 15px
@media screen and (max-width: 767px)
	.distrib2
		padding: 30px 0 0 0
	.distrib2__mapa
		margin-top: 30px
	.distrib2_cnt_map
		width: 100%
		order: 3
		min-height: inherit
		height: 300px
	.distrib2_info_map
		width: 100%
		order: 2
		padding-top: 0
		height: auto
	.distrib2_info_map_search
		width: 100%
	.distrib2_info_map_search_box1
		width: 60px
		span
			&:before
				font-size: 25px
	.distrib2_info_map_search_box2
		width: calc(100% - 60px)
	.d2_im_sb2_items 
		li
			width: auto
			margin: 0 20px 0 0 
			&:last-child
				margin: 0
	.d2_im_sb2_items li a.active:before
		width: 100%

@media screen and (max-width: 360px)
	.distrib2_info_map_search_box1
		display: none
	.distrib2_info_map_search_box2
		width: 100%
		padding: 0 15px
		box-sizing: border-box
	.d2_im_sb2_input form input
		width: 100%
	.d2_im_sb2_items 
		li
			margin: 0 15px 0 0
			a
				font-size: 12px
