.ctn__work__emp
	width: 100%
	height: 731px
	background-repeat: no-repeat
	background-position: center
	background-size: cover
	display: flex
	align-items: center
	padding: 15px 0
	box-sizing: border-box
	position: relative
	&:before
		content: ""
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%
		background: $negro
		opacity: .8
.ctn__work__emp__wrapper
	width: 820px
	padding: 0 20px
	box-sizing: border-box
	margin: 0 auto
	position: relative
	z-index: 2
.ctn__work__emp__form
	margin: 30px 0 0 0
	.r-input select, .input-one--span
		border-bottom: 2px solid $c-0
	.input-one-line.active
		.input-one__label
			color: $blanco
		.input-one--span
			border-bottom: solid 2px $blanco
			z-index: 10
	.ctn-form-parraf 
		p, a
			color: $blanco
	.general__input__file__ico
		border: 0
		background: $c-1
		text-align: center	
	.general__input__file__ico--text
		color: $blanco
		width: auto
		padding-right: 35px
@media screen and (min-width: 1025px)
	.ctn__work__emp__form
		.general__input__file__ico:hover
			border: 0
			.general__input__file__ico--text
				color: $blanco
			&:before
				background: $c-8
@media screen and (max-width: 1024px)
	.ctn__work__emp
		height: auto
		padding: 30px 0

@media screen and (max-width: 767px)
	.ctn-form-parraf p
		font-size: 14px

	.emp_b3_txt_group p
		font-size: 15px