.empresa_b3
	background-color: $blanco
	padding-top: 103px
	padding-bottom: 85px
	box-sizing: border-box
.emp_b3_content
	margin-left: auto
	margin-right: auto
	display: flex
	flex-direction: row
	flex-wrap: nowrap
	justify-content: center
	align-items: stretch
	max-width: 1107px
	width: 100%
	padding-left: 20px
	padding-right: 20px
	box-sizing: border-box
.emp_b3_img
	width: calc(100% - 399px)
.emp_b3_img_desktop
	max-height: 550px
	height: auto
	width: 100%
	margin: 0
.emp_b3_img_movil
	display: none
	margin: 0
.emp_b3_txt
	max-width: 399px
	width: 100%
	color: $negro
	display: flex
	flex-direction: row
	flex-wrap: nowrap
	justify-content: flex-start
	align-items: center
.emp_b3_txt_group
	h2
		font-family: $t-3
		font-size: 30px
		margin: 0
		font-weight: normal
	p
		font-family: $t-0
		font-size: 16px
		line-height: 27px
		margin-top: 32px
		max-width: 300px
		height: auto
		color: $c-0
@media screen and (max-width: 1024px)
	.emp_b3_img
		width: calc(100% - 320px)
	.emp_b3_txt
		max-width: 320px
@media screen and (max-width: 960px)
	.emp_b3_content
		flex-direction: column
		align-items: center
	.emp_b3_txt
		max-width: 100%
		text-align: center
	.emp_b3_img
		margin-top: 20px
	.emp_b3_txt_group
		width: 100%
		p
			max-width: 300px
			margin-right: auto
			margin-left: auto
	.empresa_b3
		padding-top: 40px
		padding-bottom: 45px
	.emp_b3_img
		width: 80%
@media screen and (max-width: 768px)
	.emp_b3_img_desktop
		display: none
	.emp_b3_img_movil
		display: block
		height: auto
		width: 60%
		margin-right: auto
		margin-left: auto
@media screen and (max-width: 680px)
	.emp_b3_img_movil
		width: 80%
@media screen and (max-width: 420px)
	.emp_b3_img_movil
		width: 100%