.empresa_b4
	width: 100%
	max-width: 1920px
	height: auto
	padding-top: 122px
	padding-bottom: 172px
	background-image: url('../img/img-bg-empresa-b4.jpg')
	+backgroundsize()
	position: relative
	&:before
		position: absolute
		top: 0
		left: 0
		background-color: $negro
		opacity: 0.8
		width: 100%
		height: 100%
		content: ""
		z-index: 1
	a
		outline: none
		color: $blanco
.emp_b4_content
	position: relative
	z-index: 1
	max-width: 1152px
	width: auto
	height: auto
	margin-left: auto
	margin-right: auto
	padding-right: 20px
	padding-left: 20px
	box-sizing: border-box
	color: $blanco
.emp_b4_tab
	ul
		display: flex
		flex-direction: row
		flex-wrap: nowrap
		justify-content: center
		align-items: stretch
	li
		width: 50%
		margin: 0
		a
			width: 100%
			height: 100%
			text-align: center
			padding: 21px 10px
			box-sizing: border-box
			display: block
			font-size: 16px
			color: $c-0
			border-bottom: 1px solid $c-0
			transition: all .3s ease-in-out
			@media screen and (min-width: 1025px)
				&:hover
					color: $blanco
					border-bottom: 1px solid $blanco
			&.active
				color: $blanco
				border-bottom: 1px solid $blanco
.emp_b4_tab_items
	position: relative
		
.emp_block4_item
	position: relative
	box-sizing: border-box
	padding-left: 62px
	display: block
	max-width: 26%
	margin-top: 70px
	margin-left: 37px
	margin-right: 37px
	transition: all .3s ease-in-out
	&:before
		position: absolute
		content: "\e912"
		font-family: $icomoon
		font-size: 47px
		color: $blanco
		top: 0
		left: 0
		transition: all .3s ease-in-out
	@media screen and (min-width: 1025px)
		&:hover
			color: $c-1
			&:before
				color: $c-1
	&.active
		color: $c-1
		&:before
			color: $c-1
.emp_block4_item_p
	p
		font-size: 16px
		font-family: $t-0
		margin: 0
.emp_b4_Panels_item
	opacity: 0
	visibility: hidden
	transition: all .2 ease-in-out
	position: absolute
	top: 0
	left: 0
	display: flex
	flex-direction: row
	flex-wrap: wrap
	justify-content: center
	align-items: flex-start
	&.active
		opacity: 1
		visibility: visible
		position: relative
@media screen and (max-width: 1024px)
	.emp_block4_item
		max-width: 39%
	.empresa_b4
		padding-top: 52px
		padding-bottom: 92px
	.empresa_b2_slider_item_p p
		font-size: 14px
@media screen and (max-width: 730px)
	.emp_block4_item
		max-width: 44%
		margin-left: 15px
		margin-right: 15px
		&:before
			font-size: 40px
	.empresa_b4
		padding-top: 22px
		padding-bottom: 77px
	.emp_block4_item_p p
		font-size: 14px
	.emp_b4_tab li a
		font-size: 14px

@media screen and (max-width: 560px)
	.emp_block4_item
		max-width: 90%
		margin-top: 60px
	.empresa_b2_slider_item_text_content
		padding: 0 40px 0 50px
	.empresa_b2_content
		margin-right: 0
		margin-left: 0
	.empresa_b2_slider_item_p p
		font-size: 13px

@media screen and (max-width: 400px)
	.emp_block4_item
		margin-top: 40px