.empresa_b5
	background-color: $blanco
	padding-top: 75px
	padding-bottom: 83px
	box-sizing: border-box
	.form_general
		ul
			padding-bottom: initial
		li:nth-child(even)
			width: 100%
			margin-left: initial
		li:nth-child(odd)
			width: 100%
			margin-right: initial
		li:nth-child(1)
			width: 47%
		li:nth-child(2)
			width: 47%
		li:nth-child(4)
			width: 100%
		li:nth-child(5)
			width: 47%
.emp_b5_content
	max-width: 829px
	width: auto
	height: auto
	padding-right: 20px
	padding-left: 20px
	box-sizing: border-box
	
.emp_b5_h3
	color: $negro
	margin-top: 20px
	h3
		font-family: $t-1
		font-size: 18px
		font-weight: normal
.emp_b5_example
	position: relative
.emp_b5_example_p
	position: absolute
	bottom: -30px
	right: 0
	font-family: $t-0
	color: $c-0
	font-size: 13px
	p
		margin: 0
@media screen and (max-width: 1024px)
	.empresa_b5
		padding-top: 45px
		padding-bottom: 63px
@media screen and (max-width: 767px)
	.empresa_b5
		.form_general
			li
				width: 100%!important
			li:last-child
				margin-top: 40px 
