.empresa_b1_content
	max-width: 1940px
	height: auto
	width: auto
	margin-left: auto
	margin-right: auto
	padding: 150px 0 76px 20px
	box-sizing: border-box
.empresa_b1_data
	display: flex
	flex-direction: row
	flex-wrap: nowrap
	justify-content: center
	align-items: stretch
	margin-top: 39px	
.empresa_b1_data_box1
	height: auto
	width: 100%
	position: relative
	display: flex
	flex-direction: column
	flex-wrap: nowrap
	justify-content: center
	align-items: flex-end
	padding: 47px 5% 27px 11%
	box-sizing: border-box
	// padding-right: 76px
	// padding-left: 197px
.empresa_b1_data_box1_ul
	width: 100%
	ul
		font-size: 15px
		color: $c-0
	li
		font-family: $t-1
		margin-top: 30px
		font-size: 15px
		strong
			font-family: $t-0
			font-weight: normal
	li:first-child
		margin-top: initial

		
.empresa_b1_data_box2
	height: auto
	width: 100%
	padding-left: 18px
	box-sizing: border-box
	img
		display: block
		height: auto
		width: 100%
		margin: 0

@media screen and (max-width: 1200px)
	.empresa_b1_data_box1
		padding: 47px 5% 27px 0

	.empresa_b1_data_box1_ul li
		font-size: 14px
		margin-top: 20px

@media screen and (max-width: 1024px)
	.empresa_b1_data_box1
		padding-top: initial
	.empresa_b1_content
		padding: 50px 20px
@media screen and (max-width: 900px)
	.empresa_b1_data_box2
		display: none
	.empresa_b1_data_box1
		padding: initial