.empresa_b2
	height: auto
	width: 100%
	background-image: url('../img/img-bg-empresa-block2.jpg')
	+backgroundsize()
	position: relative
	padding-top: 56px
	padding-bottom: 56px
	box-sizing: border-box
	z-index: 2
	&:before
		position: absolute
		top: 0
		left: 0
		background-color: $negro
		opacity: 0.8
		width: 100%
		height: 100%
		content: ""
		z-index: 1
.empresa_b2_content
	max-width: 1240px
	padding: 0 20px
	width: auto
	height: auto
	position: relative
	box-sizing: border-box
	z-index: 3
	margin-left: auto
	margin-right: auto
.empresa_b2_slider
	.slick-next
		right: -24px
		position: absolute
		top: 50%
		width: auto
		height: auto
		&:before
			content: "\e908"
			font-size: 35px
			font-family: $icomoon
			color: $blanco
			top: 0
			right: 0
	.slick-prev
		left: -24px
		position: absolute
		z-index: 1
		top: 50%
		width: auto
		height: auto
		&:before
			content: "\e90d"
			font-size: 35px
			font-family: $icomoon
			color: $blanco
			top: 0
			left: 0
	.slick-dots
		bottom: -57px


.empresa_b2_slider_item
	display: flex
	flex-direction: row
	flex-wrap: nowrap
	justify-content: center
	align-items: flex-start
.empresa_b2_slider_item_figure, .empresa_b2_slider_item_text
	width: 100%
	height: auto
.empresa_b2_slider_item_figure
	padding-left: 56px
	padding-right: 20px
	box-sizing: border-box
	margin: 0
	img
		display: block
		margin: 0
		max-width: 523px
		width: 100%
		max-height: 349px
		height: auto
.empresa_b2_slider_item_text_content
	box-sizing: border-box
	padding: 20px 98px 33px 79px
	display: flex
	flex-direction: column
	flex-wrap: nowrap
	justify-content: center
	align-items: flex-start
	height: 100%
.empresa_b2_slider_item_h2
	color: $blanco
	h2
		font-family: $t-3
		font-size: 25px
		font-weight: normal
		position: relative
		&:before
			content: ""
			width: 27px
			height: 1px
			background-color: $c-1
			top: 16px
			left: -47px
			position: absolute
.empresa_b2_slider_item_p
	color: $blanco
	p
		font-family: $t-0
		font-size: 15px
		line-height: 25px
		margin: 0

@media screen and (max-width: 1263px)
	.empresa_b2_content
		margin-right: 20px
		margin-left: 20px
@media screen and (max-width: 1024px)
	.empresa_b2_slider_item_text_content
		padding: 0 56px 0 56px
@media screen and (max-width: 768px)
	.empresa_b2_slider_item_figure
		display: none
	.empresa_b2_slider_item_text_content
		padding: 0 56px 0 79px
	.empresa_b2_slider
		.slick-next, .slick-prev
			display: none!important
		.slick-dots li button
			&:before
				color: $c-1
				font-size: 12px
@media screen and (max-width: 480px)
	.empresa_b2_slider_item_text_content
		padding: 0 16px 0 59px
	.empresa_b2_content
		padding-left: 15px
		padding-right: 15px
@media screen and (max-width: 360px)
	// .empresa_b2
	// 	height: auto
	.empresa_b2_content
		transform: initial
		top: initial