.enviado
	background-color: $blanco
.enviado_content
	height: auto
	max-width: 1920px
	position: relative
	padding-top: 140px
	padding-bottom: 151px
	box-sizing: border-box
	&:before
		content: ""
		bottom: 0
		position: absolute
		right: 0
		height: 79px
		width: 302px
		background-image: url('../img/img3-enviado.png')
		background-repeat: no-repeat
		background-position: right bottom
		backgroundsize: cover
	&:after
		content: ""
		bottom: 0
		position: absolute
		left: 0
		height: 79px
		width: 302px
		background-image: url('../img/img2-enviado.png')
		background-repeat: no-repeat
		background-position: left bottom
		backgroundsize: cover
.enviado_group
	max-width: 967px
	padding-right: 20px
	padding-left: 20px
	box-sizing: border-box
	width: auto
	height: auto
	margin-right: auto
	margin-left: auto
	display: flex
	flex-direction: row
	flex-wrap: nowrap
	justify-content: center
	align-items: flex-start
.enviado_box, .enviado_box2
	width: 50%
.enviado_box2
	text-align: right
	opacity: 0
	visibility: hidden
	transition: all .3s ease-in-out
	transform: translateX(40px) 
	&.active
		opacity: 1
		visibility: visible
		transform: translateX(0) 
	img
		width: 311px
		height: auto
.enviado_box
	padding-top: 13px
	box-sizing: border-box
	opacity: 0
	visibility: hidden
	transition: all .3s ease-in-out
	transform: translateX(-40px) 
	&.active
		opacity: 1
		visibility: visible
		transform: translateX(0)
.enviado_h2
	font-family: $t-3
	font-size: 50px
	color: $negro
	h2
		margin: 0
.enviado_p
	font-family: $t-0
	color: $c-0
	font-size: 15px
	margin-top: 38px
	p
		margin: 0
.enviado_button
	margin-top: 49px
@media screen and (max-width: 767px)
	.enviado_group
		flex-direction: column-reverse
	.enviado_content
		padding-top: 50px
		padding-bottom: 120px
	.enviado_box, .enviado_box2
		width: 100%
	.enviado_box2
		text-align: center
		img
			max-width: 210px
			width: 80%
	.enviado_box
		padding-top: 40px
	.enviado_h2, .enviado_p, .enviado_button
		text-align: center
