.home-b1
	overflow: hidden
	position: relative
	padding-bottom: 52px
	z-index: 2
	a
		outline: none
	.bx-controls
		width: 100%
		height: 100%
		position: absolute
		top: 0
		left: 0
	.bx-controls-direction
		max-width: 1200px
		width: 100%
		height: 100%
		margin: auto
		position: relative
	.bx-wrapper .bx-controls-direction a
		width: 50px
		height: 50px
		background: none
		text-indent: 0
		margin-top: 0
		z-index: 70
		&:before
			display: block
			width: 100%
			height: 100%
			line-height: 50px
			color: $blanco
			font-family: $icomoon
			font-size: 30px
			text-align: center
	.bx-wrapper .bx-prev
		left: 0
		&:before
			content: "\e90d"
	.bx-wrapper .bx-next
		right: 0
		&:before
			content: "\e908"

.home-b1_mascara
	display: block
	width: 100%
	height: 169px
	background: url('../img/home-b1-mascara.png') top center no-repeat
	background-size: cover
	position: absolute
	left: 0
	bottom: 0
	z-index: 60
	margin: auto

.home-b1_slider
	height: 586px
	overflow: hidden
	li
		height: 586px
	li.active
		.home-b1_info
			transform: translateX(0)
			opacity: 1
			visibility: visible

.home-b1_container
	width: 100%
	height: 100%
	position: relative

.home-b1_bg_img
	width: 100%
	height: 586px
	background-position: center
	background-repeat: no-repeat
	background-size: cover

.home-b1_block
	width: 100%
	height: 100%
	position: absolute
	top: 0
	left: 0
	&:before
		content: ""
		width: 100%
		height: 100%
		background: linear-gradient(to right, rgba(0,0,0,0.01) 0%, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%)
		opacity: .2
		position: absolute
		top: 0
		left: 0

.home-wrap
	display: flex
	flex-direction: column
	justify-content: center
	max-width: 1200px
	width: 100%
	height: 100%
	box-sizing: border-box
	position: relative
	z-index: 2
	margin: auto

.home-b1_info
	max-width: 535px
	width: 100%
	overflow: hidden
	transform: translateX(-50px)
	opacity: 0
	visibility: hidden
	transition: all .8s cubic-bezier(.22,.68,0,1.71)
	box-sizing: border-box
	padding-right: 70px
	margin: 0 0 0 auto

.home-b1_title
	margin-bottom: 34px
	h3
		line-height: 40px
		color: $blanco
		font-family: $t-0
		font-size: 28px
		margin-bottom: 0
	h2
		line-height: 40px
		color: $blanco
		font-family: $t-3
		font-weight: normal
		font-size: 35px
		margin-bottom: 0

.home-b1_scroll
	display: flex
	flex-direction: column
	justify-content: flex-end
	width: 150px
	height: 80px
	text-align: center
	position: absolute
	left: 0
	right: 0
	bottom: 0
	z-index: 65
	box-sizing: border-box
	padding-bottom: 10px
	margin: auto

.home-b1_scroll_icon
	display: inline-block
	line-height: 1
	color: $c-1
	font-size: 30px
	animation: homeb1_animation_scroll 1.5s infinite ease
	margin: 0 0 17px 0

.home-b1_scroll_text
	display: block
	line-height: 1
	color: $c-0
	font-family: $t-0
	font-size: 13px
	margin: 0

+keyframes(homeb1_animation_scroll)
	0%
		transform: translateY(0px)
	50%
		transform: translateY(-10px)
	100%
		transform: translateY(0px)

// responsive
@media screen and (max-width: 960px)
	.home-b1_info
		text-align: center
		padding: 0 15px
		margin: auto

@media screen and (max-width: 767px)
	.home-b1
		padding: 0
		.bx-controls
			display: none

	.home-b1_mascara
		display: none

	.home-b1_slider
		height: 450px
		li
			height: 540px

	.home-b1_scroll
		display: none

	.home-b1_title
		h3
			line-height: 30px
			font-size: 26px
		h2
			line-height: 30px
			font-size: 32px