.home_b2
	padding-top: 52px
	padding-bottom: 52px
.home_b2_content
	width: 100%
	max-width: 1239px
	height: auto
	margin-left: auto
	margin-right: auto
	border: 1px solid red
.home_b2_item
	width: 301px
	height: 286px
	border: 1px solid blue
.home_b2_item_img
	position: relative
.home_b2_item_span
	position: absolute
	bottom: 0
	left: 0
	width: 116px
	height: auto

// @media screen and (max-width: 640px)