.homeb4
	overflow: hidden

.homeb4__title
	padding-bottom: 62px

.homeb4__container
	display: flex
	flex-direction: row
	flex-wrap: wrap
	justify-content: flex-start

.homeb4__box
	width: 50%
	background-color: $c-1

.homeb4__box__container
	width: 100%
	height: 100%
	box-sizing: border-box
	padding: 40px 35px 40px 55px
	display: flex
	flex-direction: row
	flex-wrap: wrap
	justify-content: flex-start
	align-items: center
	transition: all .8s
	transform: translateX(-100px)
	opacity: 0
	&.active
		opacity: 1
		transform: translateX(0)

.homeb4__box__image
	width: 60%

.homeb4__box__info
	width: 36%
	padding-left: 4%

.homeb4__box__title
	padding-bottom: 40px
	span
		font-family: $t-0
		font-size: 14px
		color: $blanco
		display: block
	h4
		font-family: $t-2
		font-size: 19px
		color: $blanco
		margin-bottom: 0
		padding-top: 25px
		line-height: 1.3

.homeb4__content
	width: 50%

.homeb4__item
	border-bottom: 1px solid $c-5
	padding: 25px 85px
	transition: all .8s
	transform: translateX(100px)
	opacity: 0
	&.active
		opacity: 1
		transform: translateX(0)
	&:last-child
		border-bottom: none

.home4__item__box
	max-width: 500px
	width: 100%
	box-sizing: border-box
	margin: auto
	margin-left: 0
	display: flex
	flex-direction: row
	flex-wrap: wrap
	justify-content: space-between
	align-items: center

.homeb4__item__img
	width: 162px

.homeb4__item__text
	width: calc(100% - 192px)
	span 
		font-family: $t-0
		font-size: 14px
		color: $c-1
		display: block
	h5
		font-family: $t-2
		font-size: 17px
		color: $c-0
		margin-bottom: 0
		padding-top: 16px
		line-height: 1.2

@media screen and (max-width: 1400px)
	.homeb4__box__title h4
		font-size: 16px

	.homeb4__item__text h5
		font-size: 16px

@media screen and (max-width: 1200px)
	.homeb4__box__container
		padding: 40px 30px

	.homeb4__item
		padding: 25px 45px

	.homeb4__item__text h5
		font-size: 14px

	.homeb4__box__title h4
		font-size: 14px
		padding-top: 16px

	.homeb4__box__title
		padding-bottom: 25px

@media screen and (max-width: 980px)
	.homeb4__box
		width: 100%

	.homeb4__content
		width: 100%

	.home4__item__box
		max-width: 100%

	.homeb4__title
		padding-bottom: 40px

@media screen and (max-width: 680px)
	.homeb4__item
		padding: 25px

@media screen and (max-width: 500px)
	.homeb4__box__container
		padding: 25px 20px

	.homeb4__box__image
		width: 100%

	.homeb4__box__info
		width: 100%
		padding-left: 0
		padding-top: 15px

	.homeb4__item
		padding: 25px 15px

	.homeb4__item__img
		width: 140px

	.homeb4__item__text
		width: calc(100% - 160px)

@media screen and (max-width: 400px)
	.homeb4__item__img
		width: 100px

	.homeb4__item__text
		width: calc(100% - 120px)

	.homeb4__item__text h5
		font-size: 13px