.home_b2
	a
		outline: none
.home_b2_blockFather
	.fourGroup
		display: flex
		flex-wrap: nowrap
		flex-direction: row
		justify-content: flex-start
		align-items: stretch		
.home_b2_blockFather
	opacity: 0
	visibility: hidden
	transition: all .3s ease-in-out
	transform: translateY(20px)
	&.active
		opacity: 1
		visibility: visible
		transform: translateY(0)
.home_b2_blockFather:nth-child(n + 2)
	margin-top: 13px
.home_b2
	padding-top: 52px
	padding-bottom: 90px
.home_b2_content
	max-width: 1254px
	width: 100%
	height: auto
	margin-left: auto
	margin-right: auto
	padding-left: 20px
	padding-right: 20px
	box-sizing: border-box
.home_b2_item
	max-width: 301px
	width: 100%
	height: auto
	box-shadow: 0px 0px 10px #D8D8D8
	margin-right: 6px
	margin-left: 6px
	transform: translateY(0)
	transition: transform 0.3s ease-out
	background-color: $blanco
	@media screen and (min-width: 1025px)
		&:hover
			transform: translateY(-8px)

.home_b2_item:firts-child
	margin-left: initial
.home_b2_item:last-child
	margin-right: initial
.home_b2_item_img
	position: relative
	img
		display: block
		width: 100%
		height: auto
.home_b2_item_span
	position: absolute
	bottom: 0
	left: 0
	width: 116px
	height: auto
.home_b2_item_p
	font-family: $t-1
	font-size: 18px
	color: $negro
	padding: 35px 22px 41px 22px
	p
		margin: 0
.home_b2_title
	padding-bottom: 67px

@media screen and (max-width: 768px)
	.home_b2_item_list
		display: flex
		flex-direction: row
		flex-wrap: wrap
		justify-content: flex-start
		align-items: stretch
	.home_b2_item
		max-width: initial
		width: 48%
	.home_b2_title
		padding-bottom: 20px
	.home_b2_item
		margin-top: 13px
	.home_b2
		padding-bottom: 60px

@media screen and (max-width: 655px)
	.home_b2_item
		max-width: initial
		width: 45%
	.home_b2_item_list
		justify-content: center
@media screen and (max-width: 480px)
	.home_b2_item
		width: 100%

