.homeb3
	padding-bottom: 70px
	overflow: hidden

.homeb3__title
	padding: 0px 20px

.homeb3__container
	margin-top: 55px

// .homeb3__slider
// 	display: flex
// 	flex-direction: row
// 	flex-wrap: wrap
// 	justify-content: flex-start
// 	align-items: center

// .homeb3__item
// 	width: 25%

.homeb3__box
	width: 100%
	height: 562px
	position: relative
	box-sizing: border-box
	overflow: hidden
	display: block
	&:before
		content: ''
		position: absolute
		width: 100%
		height: 100%
		background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(16,16,16,0) 0%, rgba(3,3,3,0) 70%, rgba(0,0,0,1) 100%)
		top: 0
		left: 0
		transition: all .3s ease
	&:after
		content: ''
		position: absolute
		width: 100%
		height: 100%
		background: rgba(0,0,0,0.7)
		top: 0
		left: 0
		right: 0
		bottom: 0
		transition: all .6s ease
		transform: translateY(200%)
		z-index: 1

.homeb3__img
	width: 100%
	height: 100%
	background-size: cover
	background-repeat: no-repeat
	background-position: center
	box-sizing: border-box

.homeb3__content
	width: 100%
	height: 100%
	box-sizing: border-box
	padding: 50px 55px
	position: relative
	z-index: 10

.homeb3__info
	position: relative
	width: 100%
	height: 100%
	box-sizing: border-box

.homeb3__text
	position: absolute
	bottom: 0
	left: 0
	transition: all .6s ease
	h3
		font-family: $t-0
		font-size: 13px
		color: $blanco
		margin-bottom: 13px
		text-transform: uppercase
	h4
		font-family: $t-3
		font-size: 30px
		color: $blanco
		margin-bottom: 0

.homeb3__link
	position: absolute
	bottom: 0
	left: 0
	transition: all .5s ease
	transform: translateY(300px)
	p
		font-family: $t-0
		font-size: 14px
		color: $blanco
		text-transform: uppercase
		margin-bottom: 0
	span
		color: $blanco
		font-size: 9px
		padding-left: 15px

.homeb3__slider
	&.slick-dotted.slick-slider
		margin-bottom: 50px
	.slick-dots
		bottom: -45px
	.slick-dots 
		li 
			margin: 0 3px
			button:before
				font-size: 0px
				color: $blanco
				border: 1px solid $negro
				border-radius: 100%
				width: 11px
				height: 11px
				opacity: 1
		li.slick-active 
			button:before
				background: $negro

@media screen and (max-width: 1400px)
	.homeb3__box
		height: 480px

@media screen and (min-width: 1025px)
	.homeb3__box:hover
		&:before
			opacity: 0
			visibility: hidden
			transition: all .3s ease
		&:after
			transform: translateY(0)
		.homeb3__text
			transform: translateY(-320px)
			transition-duration: .8s
			h3
				display: none
		.homeb3__link
			transform: translateY(0)
			transition-duration: .8s

@media screen and (max-width: 1025px)
	.homeb3__box
		height: 420px

	.homeb3__content
		padding: 50px 40px

	.homeb3__text h4
		font-size: 26px

@media screen and (max-width: 680px)
	.homeb3__box
		height: 400px

	.homeb3__text
		h4
			font-size: 12px
		h4
			font-size: 24px	