.productosb1
	padding-top: 50px
	padding-bottom: 25px

.productosb1__container
	max-width: 1240px
	width: 100%
	padding: 0px 20px
	box-sizing: border-box
	margin: auto
	display: flex
	flex-direction: row
	flex-wrap: wrap
	justify-content: space-between
	margin-bottom: 70px

.productosb1__box
	width: 240px

.productosb1__list
	border: 1px solid $c-5
	li
		font-family: $t-0
		font-size: 14px
		color: $negro
		border-bottom: 1px solid $c-5
		transition: all .3s ease
		&:last-child
			border-bottom: none
	a
		color: $negro
		padding: 22px 25px
		display: block
		transition: all .3s ease
		&:focus
			outline: none
		&.active
			color: $blanco
			background: $c-1
			transition: all .3s ease

.productosb1__content
	width: calc(100% - 300px)
	box-sizing: border-box

.productosb1__item
	width: 100%
	padding: 40px 45px
	box-sizing: border-box
	border-top: 1px solid $c-5

.productosb1__item__box
	display: flex
	flex-direction: row
	flex-wrap: wrap
	justify-content: space-between
	align-items: center

.productosb1__image
	width: 240px
	height: 190px
	overflow: hidden
	position: relative

.productosb1__nuevo
	width: 150px
	font-family: $t-3
	font-size: 12px
	color: $blanco
	background: $c-1
	padding: 10px
	letter-spacing: 1px
	box-sizing: border-box
	text-align: center
	position: absolute
	top: 15px
	left: -35px
	transform: rotate(-45deg)
	span
		display: block

.productosb1__info
	width: calc(100% - 288px)

.productosb1__title
	padding-bottom: 22px
	h3
		font-family: $t-1
		font-size: 18px
		color: $negro
		margin-bottom: 0

.productosb1__text
	font-family: $t-0
	font-size: 13px
	color: $c-0
	text-align: justify
	padding-bottom: 25px
	p
		margin-bottom: 0

.productosb1__btn
	text-align: right

.paginador__general
	max-width: 1240px
	width: 100%
	padding: 0px 20px
	box-sizing: border-box
	margin: auto
	display: flex
	flex-direction: row
	flex-wrap: wrap
	justify-content: space-between
	align-items: center

.paginador__bottom
	box-sizing: border-box
	display: flex
	flex-direction: row
	flex-wrap: wrap
	justify-content: flex-start
	align-items: center

.paginador__btn__up
	display: inline-block
	margin: 0
	&:focus
		outline: none

.paginador__up__box
	width: 20px
	height: 20px
	line-height: 16px
	border: 1px solid $c-0
	border-radius: 100%
	text-align: center
	display: inline-block
	transition-duration: 0.3s
	transform: perspective(1px) translateZ(0)
	span
		color: $c-0
		font-size: 10px
		display: inline-block
		transform: translateZ(0)

.paginador__up__text
	font-family: $t-0
	font-size: 14px
	color: $c-0
	display: inline-block
	p
		margin-bottom: 0

.paginador__number
	ul
		display: flex
		flex-direction: row
		flex-wrap: wrap
		justify-content: center
		align-items: center
	li
		margin-right: 30px
		font-family: $t-0
		font-size: 14px
		a
			color: $c-0
			&.active
				color: $c-1

.paginador__page__prev
	padding: 25px 20px 25px 0px
	position: relative
	&:before
		content: ''
		position: absolute
		top: 0
		right: 0
		width: 1px
		height: 100%
		background: $c-5

.paginador__page__next
	padding: 25px 0px 25px 20px

.paginador__prev,
.paginador__next
	width: 20px
	height: 20px
	line-height: 14px
	border: 1px solid $c-0
	border-radius: 100%
	text-align: center
	display: inline-block
	transition-duration: 0.3s
	transform: perspective(1px) translateZ(0)
	span
		color: $c-0
		font-size: 7px
		display: inline-block
		transform: translateZ(0)

.productosb1__options
	width: 100%
	height: 45px
	line-height: 45px
	padding: 0px 20px
	background: $c-1
	box-sizing: border-box
	color: $blanco
	font-family: $t-1
	font-size: 14px
	display: none
	cursor: pointer
	text-align: center
	border-radius: 30px


@media screen and (min-width: 1025px)
	.productosb1__list
		a:hover
			background: $c-1
			color: $blanco
			transition: all .3s ease
	.paginador__btn__up:hover
		.paginador__up__box span
			animation-name: btn-up
			animation-duration: 1s
			animation-timing-function: ease-in-out
			animation-iteration-count: 1
	.paginador__next:hover,
	.paginador__prev:hover
		span
			animation-name: btn-flecha
			animation-duration: 1s
			animation-timing-function: ease-in-out
			animation-iteration-count: 1

@media screen and (max-width: 920px)
	.productosb1__box
		width: 230px

	.productosb1__list li
		font-size: 13px

	.productosb1__content
		width: calc(100% - 270px)

	.productosb1__item
		padding: 30px 0px

	.productosb1__image
		width: 190px
		height: 152px
	
	.productosb1__nuevo
		font-size: 11px
		padding: 8px

	.productosb1__info
		width: calc(100% - 210px)

	.productosb1__title
		padding-bottom: 14px
		h3
			font-size: 15px

	.productosb1__text
		font-size: 12px

@media screen and (max-width: 767px)
	.productosb1__box
		width: 100%

	.productosb1__content
		width: 100%
		margin-top: 50px

	.productosb1__options
		display: block

	.productosb1__list 
		border: none
		a
			padding: 18px 30px
			text-transform: uppercase
			text-align: center
			&.active
				background: $blanco
				color: $c-1
		ul
			display: none

	.productosb1__container,
	.paginador__general
		padding: 0px 15px

@media screen and (max-width: 430px)
	.productosb1__info
		width: 100%
		padding-top: 20px

	.productosb1__item__box
		flex-direction: column

	.productosb1__title,
	.productosb1__text,
	.productosb1__btn
		text-align: center

	.paginador__general
		flex-direction: column

	.paginador__btn__up
		margin-bottom: 20px

	.productosb1__container
		margin-bottom: 40px


+keyframes(btn-up)
	16.65%
		transform: translateY(5px)
	33.3%
		transform: translateY(-4px)
	49.95%
		transform: translateY(3px)
	66.6%
		transform: translateY(-2px)
	83.25%
		transform: translateY(1px)
	100%
		transform: translateY(0)

+keyframes(btn-flecha)
	16.65%
		transform: translateX(5px)
	33.3%
		transform: translateX(-4px)
	49.95%
		transform: translateX(3px)
	66.6%
		transform: translateX(-2px)
	83.25%
		transform: translateX(1px)
	100%
		transform: translateX(0)