.proyectosb1
	padding-top: 140px
	padding-bottom: 25px

.proyectosb1__title
	padding-bottom: 60px

.proyectosb1__container
	max-width: 1240px
	width: 100%
	padding: 0px 20px
	box-sizing: border-box
	margin: auto
	display: flex
	flex-direction: row
	flex-wrap: wrap
	justify-content: space-between
	margin-bottom: 70px

.proyectosb1__box
	width: 240px

.proyectosb1__list
	border: 1px solid $c-5
	li
		font-family: $t-0
		font-size: 14px
		color: $negro
		border-bottom: 1px solid $c-5
		transition: all .3s ease
		&:last-child
			border-bottom: none
	a
		color: $negro
		padding: 22px 25px
		display: block
		transition: all .3s ease
		&:focus
			outline: none
		&.active
			color: $blanco
			background: $c-1
			transition: all .3s ease

.proyectosb1__content
	width: calc(100% - 390px)
	display: flex 
	flex-direction: row
	flex-wrap: wrap
	justify-content: space-between

.proyectosb1__item
	// max-width: 330px
	width: 40.8%
	padding: 25px 15px
	box-sizing: border-box

.proyectosb1__info
	padding-top: 25px

.proyectosb1__title__item
	padding-bottom: 20px
	h3
		font-family: $t-3
		font-size: 20px
		color: $negro
		margin-bottom: 0

.proyectosb1__text__box
	font-family: $t-0
	font-size: 15px
	li
		color: $negro
		display: block
		position: relative
		padding-left: 20px
		padding-bottom: 15px
		&:before
			content: ''
			position: absolute
			width: 6px
			height: 6px
			top: 7px
			left: 0
			background: $negro
			border-radius: 100%

.proyectosb1__text
	padding-top: 5px
	font-family: $t-0
	font-size: 15px
	p,li
		color: $c-0
		margin-bottom: 0
		display: block
		list-style: none
		padding: 0
		&:before
			display: none

.proyectosb1__slider
	position: relative
	.slick-prev, .slick-next
		top: auto
		bottom: 0
		color: $blanco
		background: none
		border: 1px solid $blanco
		z-index: 10
		width: 30px
		height: 30px
		border-radius: 100%
		transform: translate(-50%, -50%)
		&:before
			opacity: 1
			font-size: 10px
			font-family: $icomoon
	.slick-prev
		left: auto
		right: 40px
		&:before
			content: '\e907'
	.slick-next
		right: 0
		&:before
			content: '\e90c'
	&:before
		content: ''
		position: absolute
		width: 100%
		height: 100%
		top: 0
		left: 0
		background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(16,16,16,0) 50%, rgba(0,0,0,0.4) 100%)
	
.proyectosb1__gallery
	position: relative
	transition: all .3s ease
	&:before
		content: ''
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%
		background: rgba(0,0,0,0.6)
		opacity: 0
		visibility: hidden
		transition: all .3s ease
	&:after
		content: '\e90f'
		position: absolute
		width: 30px
		height: 30px
		top: 0
		left: 0
		right: 0
		bottom: 0
		margin: auto
		color: $blanco
		font-family: $icomoon
		font-size: 30px
		opacity: 0
		visibility: hidden
		transition: all .3s ease

.proyectosb1__options
	width: 100%
	height: 45px
	line-height: 45px
	padding: 0px 20px
	background: $c-1
	box-sizing: border-box
	color: $blanco
	font-family: $t-1
	font-size: 14px
	display: none
	cursor: pointer
	text-align: center
	border-radius: 30px

@media screen and (min-width: 1025px)
	.proyectosb1__list
		a:hover
			background: $c-1
			color: $blanco
			transition: all .3s ease

.proyectosb1__gallery:hover
	transition: all .3s ease
	&:before, &:after
		opacity: 1
		visibility: visible
		transition: all .3s ease

@media screen and (max-width: 1200px)
	.proyectosb1__item
		width: 46%

	.proyectosb1__content
		width: calc(100% - 330px)

	.proyectosb1__title__item h3
		font-size: 18px

@media screen and (max-width: 1025px)
	.proyectosb1
		padding-top: 50px

@media screen and (max-width: 990px)
	.proyectosb1__item
		width: 50%

	.proyectosb1__box
		width: 200px

	.proyectosb1__content
		width: calc(100% - 220px)

	.proyectosb1__text
		font-size: 13px

@media screen and (max-width: 767px)
	.proyectosb1__options
		display: block

	.proyectosb1__box
		width: 100%

	.proyectosb1__content
		width: 100%
		margin-top: 50px

	.proyectosb1__list
		border: none
		a
			padding: 18px 30px
			text-transform: uppercase
			text-align: center
			&.active
				background: $blanco
				color: $c-1
		ul
			display: none

	.proyectosb1__container
		padding: 0px 15px

	.proyectosb1__title__item h3
		font-size: 16px

	.proyectosb1__text__box
		font-size: 14px

@media screen and (max-width: 600px)
	.proyectosb1__item
		padding: 20px 10px

	.proyectosb1__title
		padding-bottom: 40px

@media screen and (max-width: 500px)
	.proyectosb1__item
		width: 90%
		margin: auto

@media screen and (max-width: 350px)
	.proyectosb1__item
		width: 100%

	.proyectosb1__item
		padding: 20px 0px