.producto__ctn
	padding: 80px 0 125px 0
	box-sizing: border-box
.producto__ctn__wrapper
	width: 100%
	max-width: 1080px
	padding: 0 20px
	box-sizing: border-box
	margin: 0 auto
	display: flex
	flex-wrap: wrap
	justify-content: space-between
.producto__ctn__info
	width: calc(100% - 515px)
.producto__ctn__info__title
	h3
		margin: 0
		font-weight: normal
		font-family: $t-3
		color: $negro
		font-size: 28px
.producto__ctn__info__lists
	margin: 30px 0 0 0
	li
		margin: 0 0 20px 0
		&:last-child
			margin: 0
	h4
		margin: 0
		font-weight: normal
		font-family: $t-1
		color: $negro
		font-size: 16px
	p 
		margin: 5px 0 0 0
		font-family: $t-0
		font-size: 15px
		text-align: justify
.producto__ctn__info__cotiza
	margin: 45px 0 0 0
	display: flex
	flex-wrap: wrap
	justify-content: space-between
	align-items: center
	a
		margin: 0
.producto__ctn__image
	width: 400px
.producto__ctn__image__link
	width: 100%
	margin: 5px 0 0 0
	text-align: right
	a
		display: inline-block
		position: relative
		font-size: 13px
		color: $c-0
		font-family: $t-0
		padding-left: 33px
		box-sizing: border-box
		&:before
			content: "\e917"
			position: absolute
			top: 7px
			left: 0
			font-family: icomoon
			transition: transform .1s ease-out
			transform: translateX(0)
			font-size: 4px
.producto__ctn__image__slider__color
	margin: 30px 0 0 0
.producto__ctn__image__slider__wrapper
	position: relative
.producto__ctn__image__slider__wrapper__tab
	position: absolute
	top: 0
	left: 0
	width: 100%
	z-index: -1
	opacity: 0
	transition: all .3s ease-in-out
	&.active
		position: relative
		opacity: 1
		z-index: 2
.producto__ctn__image__slider__prin
	border: 1px solid $c-5
.producto__ctn__tabs__slider 
	margin: 12px 0 0 0
	padding: 0 20px
	box-sizing: border-box
	.slick-prev, .slick-next
		width: 15px
		height: 15px
		&:before
			font-family: icomoon
			color: $c-5
			font-size: 15px
	.slick-prev
		left: 0
		&:before
			content: "\e90d"
	.slick-next
		right: 0
		&:before
			content: "\e908"
.producto__ctn__tabs__slider__item
	margin: 0 10px
	border: 1px solid $c-5
	cursor: pointer
.producto__ctn__image__color
	margin: 26px 0 0 0
	display: flex
	flex-wrap: wrap
	align-items: center
	p
		color: $c-0
		margin: 0
		font-size: 14px
		font-family: $t-0
	ul
		display: flex
		margin: 0 0 0 10px
	li
		width: 24px
		height: 24px
		margin: 0 5px 0 0
		&:last-child
			margin: 0
	a
		display: block
		width: 100%
		height: 100%
		border-radius: 100%
		position: relative
		border: 1px solid transparent
		&:before
			content: ""
			position: absolute
			top: 0
			bottom: 0
			left: 0
			right: 0
			margin: auto
			width: 18px
			height: 18px
			border-radius: 100%
		&.blue:before
			background: #005382
		&.red:before
			background: #820002
		&.yellow:before
			background: #ffe33e
		&.orange:before
			background: #ff8e00
		&.green:before
			background: #619200
		&.lead:before
			background: #808080
		&.gray:before
			background: #cfd6c7
		&.active
			border: 1px solid #bfbfbf
.producto__ctn__image__share
	display: flex
	flex-wrap: wrap
	justify-content: flex-end
	margin: 60px 0 0 0
	align-items: center
	p 
		margin: 0 18px 0 0
		color: $negro
		font-size: 12px
		font-family: $t-1
	.producto__ctn__image__share__wrapper
		border: 1px solid $negro
		border-radius: 20px
		padding: 10px 20px
		box-sizing: border-box
		a
			margin: 0 25px 0 0
			color: $c-6
			font-size: 14px
			transition: all .3s ease-in-out
			&:last-child
				margin: 0
.link__actividades__var
	margin: 15px 0 0 0
@media screen and (min-width: 1025px)
	.producto__ctn__image__link
		a:hover
			&:before
				transform: translateX(-4px)
	.producto__ctn__image__share__wrapper
		a:hover
			color: $negro
@media screen and (max-width: 1024px)
	.producto__ctn
		padding: 50px 0
@media screen and (max-width: 960px)
	.producto__ctn__image
		width: 300px
	.producto__ctn__info
		width: calc(100% - 315px)
@media screen and (max-width: 767px)
	.producto__ctn
		padding: 30px 0
	.producto__ctn__info
		width: 100%
	.producto__ctn__image
		width: 100%
		margin: 30px 0 0 0
	.producto__ctn__image__link
		display: none
	.producto__ctn__info__title
		h3
			font-size: 20px
	.producto__ctn__info__cotiza
		margin: 30px 0 0 0
		width: 200px
		a
			display: inline-block
			margin: 0 0 15px 0
			&:last-child
				margin: 0

	.producto__ctn__image__share
		margin: 0
	.producto__ctn__info__slider
		position: relative
	.producto__ctn__image__color ul
		width: 100%
		margin: 15px 0 0 0




