.servicios_b3
	background-color: $c-4
	width: 100%
	height: auto
	display: flex
	flex-direction: row
	flex-wrap: nowrap
	justify-content: center
	align-items: center
	padding-top: 81px
	padding-bottom: 75px
	box-sizing: border-box
	a
		outline: none

.serv_b3_content
	max-width: 877px
	width: 100%
	height: auto
	padding-right: 20px
	padding-left: 20px
	box-sizing: border-box
	margin-left: auto
	margin-right: auto
.serv_b3_h2
	max-width: 212px
	padding-top: 20px
	padding-bottom: 20px
	box-sizing: border-box
	display: flex
	flex-direction: row
	flex-wrap: nowrap
	justify-content: flex-start
	align-items: center
	h2
		font-family: $t-3
		color: $negro
		font-size: 22px
		font-weight: normal
.serv_b3_tab_items
	width: calc(100% - 212px)
	height: auto
.serv_b3_item_content
	display: flex
	flex-direction: row
	flex-wrap: nowrap
	justify-content: center
	align-items: center
	position: absolute
	top: 0
	left: 0
	opacity: 0
	visibility: hidden
	&.active
		opacity: 1
		visibility: visible
		position: relative

.serv_b3_top_box
	display: flex
	flex-direction: row
	flex-wrap: nowrap
	justify-content: center
	align-items: stretch
	height: auto
	ul
		position: relative

.serv_b3_item_box1
	padding-right: 48px
	padding-left: 44px
	box-sizing: border-box
	width: calc(100% - 255px)
	height: 100%
	margin: 0
	img
		display: block
		max-width: 248px
		height: auto
		margin: 0
		
.serv_b3_item_box2
	width: 347px
.serv_b3_tab
	height: auto
	margin-top: 64px
	li
		margin: 0
		margin-right: -1px
		&.one
			.serv_b3_tab_button_box1
				border-left: 1px solid $c-1
				border-bottom: 1px solid $c-1
				color: $c-1
			.serv_b3_tab_button_box2
				color: $c-1

	li:nth-child(n + 2)
		.serv_b3_tab_button_box2
			padding-left: 8px
	li:last-child
		.serv_b3_tab_button_box1
			border-right: 1px solid $c-0
.serv_b3_item_box2_h3
	h3
		font-family: $t-1
		font-size: 16px
		color: $c-1
		font-weight: normal
.serv_b3_item_box2_p
	p
		font-family: $t-0
		color: $c-0
		font-size: 16px
		line-height: 22px
.serv_b3_tab_button
	width: 100%
	display: block
	margin: 0
	margin-left: 1px
	@media screen and (min-width: 1025px)
		&:hover
			.serv_b3_tab_button_box1
				border-left: 1px solid $c-1
				border-bottom: 1px solid $c-1
				color: $c-1
			.serv_b3_tab_button_box2
				color: $c-1
	&.active
		.serv_b3_tab_button_box1
			border-left: 1px solid $c-1
			border-bottom: 1px solid $c-1
			color: $c-1
		.serv_b3_tab_button_box2
			color: $c-1

.serv_b3_tab_button_box1
	border-left: 1px solid $c-0
	border-bottom: 1px solid $c-0
	color: $c-0
	padding: 13px 8px 8px 8px
	box-sizing: border-box
	transition: all .3s ease-in-out
	p
		font-family: $t-1
		font-size: 16px
		margin: 0
.serv_b3_tab_button_box2
	color: $c-0
	margin-top: 13px
	transition: all .3s ease-in-out
	p
		font-family: $t-1
		font-size: 16px
		margin: 0
@media screen and (max-width: 1024px)
	.serv_b3_top_box
		overflow: hidden
		flex-direction: column
	.serv_b3_tab_items
		width: auto
	.serv_b3_h2
		max-width: 100%
		justify-content: center
	.serv_b3_tab
		width: 90%
		margin-right: auto
		margin-left: auto
	.serv_b3_tab
		ul
			.slick-next
				right: -24px
				position: absolute
				top: 50%
				width: auto
				height: auto
				&:before
					content: "\e908"
					font-size: 20px
					font-family: $icomoon
					color: $negro
					top: 0
					right: 0
			.slick-prev
				left: -24px
				position: absolute
				z-index: 1
				top: 50%
				width: auto
				height: auto
				&:before
					content: "\e90d"
					font-size: 20px
					font-family: $icomoon
					color: $negro
					top: 0
					left: 0
			.slick-dots
				bottom: -57px
	.servicios_b3
		padding-top: 40px
		padding-bottom: 75px
@media screen and (max-width: 650px)
	.serv_b3_item_content
		flex-direction: column
	.serv_b3_item_box1
		margin-left: auto
		margin-right: auto
		padding-right: initial
		padding-left: initial
		width: auto
	.serv_b3_item_box2
		margin-top: 30px
		width: 80%
