.serviciosb4__slider
	.slick-prev, .slick-next
		display: none!important	
.serviciosb4
	padding-bottom: 80px
	padding-top: 105px

.serviciosb4__title
	max-width: 1084px
	width: 100%
	padding: 0px 20px 65px
	box-sizing: border-box
	margin: auto

.serviciosb4__slider
	&.slick-dotted.slick-slider
		margin-bottom: 50px
	.slick-dots
		bottom: -45px
	.slick-dots 
		li 
			margin: 0 3px
			button:before
				font-size: 0px
				color: $blanco
				border: 1px solid $negro
				border-radius: 100%
				width: 11px
				height: 11px
				opacity: 1
		li.slick-active 
			button:before
				background: $negro

.serviciosb4__box
	width: 100%
	height: 400px
	position: relative
	box-sizing: border-box
	overflow: hidden
	display: block
	&:before
		content: ''
		position: absolute
		width: 100%
		height: 100%
		background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(16,16,16,0) 0%, rgba(3,3,3,0) 70%, rgba(0,0,0,1) 100%)
		top: 0
		left: 0
		transition: all .3s ease
	&:after
		content: ''
		position: absolute
		width: 100%
		height: 100%
		background: rgba(0,0,0,0.7)
		top: 0
		left: 0
		right: 0
		bottom: 0
		transition: all .6s ease
		transform: translateY(200%)
		z-index: 1

.serviciosb4__img
	width: 100%
	height: 100%
	background-size: cover
	background-repeat: no-repeat
	background-position: center
	box-sizing: border-box

.serviciosb4__content
	width: 100%
	height: 100%
	box-sizing: border-box
	padding: 50px
	position: relative
	z-index: 10

.serviciosb4__info
	position: relative
	width: 100%
	height: 100%
	box-sizing: border-box

.serviciosb4__text
	font-family: $t-2
	font-size: 21px 
	color: $blanco
	position: absolute
	bottom: 0
	left: 0
	transition: all .5s ease
	transform: translateY(300px)
	p
		margin-bottom: 0

@media screen and (max-width: 1400px)
	.serviciosb4__content
		padding: 40px

	.serviciosb4__text
		font-size: 19px

@media screen and (min-width: 1025px)
	.serviciosb4__box:hover
		&:before
			opacity: 0
			visibility: hidden
			transition: all .3s ease
		&:after
			transform: translateY(0)
		.serviciosb4__text
			transform: translateY(-180px)
			transition-duration: .8s
@media screen and (max-width: 1025px)
	.serviciosb4
		padding-top: 70px
	.serviciosb4__text
		transform: translateY(0)

	.serviciosb4__text
		font-size: 16px

	.serviciosb4__box
		&:before
			content: ''
			position: absolute
			width: 100%
			height: 100%
			background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(16,16,16,0) 0%, rgba(0,0,0,0.48) 80%, rgba(0,0,0,1) 100%);
			top: 0
			left: 0
			transition: all .3s ease