.servicios-b2
	padding: 90px 20px 85px 20px
	.bx-controls
		width: 86px
		height: 34px
		position: absolute
		right: 15px
		bottom: 18px
	.bx-controls-direction
		display: flex
		flex-direction: row
		font-weight: normal
		justify-content: space-between
		width: 100%
		height: 100%
	.bx-wrapper .bx-controls-direction a
		display: block
		width: 32px
		height: 32px
		background: none
		text-align: center
		text-indent: 0
		border: 1px solid $blanco
		border-radius: 50%
		position: relative
		top: inherit
		margin: 0
		&:before
			display: block
			font-family: $icomoon
			width: 100%
			height: 100%
			line-height: 32px
			color: $blanco
			font-size: 11px
		@media screen and (min-width: 1025px)
			&:hover
				&:before
					animation: hvr-icon-wobble-horizontal 1s ease-in-out

	.bx-wrapper .bx-prev
		left: inherit
		&:before
			content: "\e907"
	.bx-wrapper .bx-next
		right: inherit
		&:before
			content: "\e90c"

.servicios-b2_content
	display: flex
	flex-direction: row
	flex-wrap: wrap
	justify-content: space-between
	max-width: 1044px
	width: 100%
	margin: auto

.servicios-b2_left
	width: 50.1%
	margin: 0

.servicios-b2_right
	width: 38.41%
	margin: 0

.servicios-b2_text
	line-height: 23.6px
	color: $c-0
	font-family: $t-0
	font-size: 15px
	text-align: justify
	h3
		line-height: 19.6px
		color: $negro
		font-family: $t-1
		font-size: 16px
		margin-bottom: 4px
	p
		margin-bottom: 38px

.servicios-b2_button
	font-size: 0
	text-align: right
	margin-top: 17px

.servicios-b2_box
	border: 1px solid $c-5

.servicios-b2-img
	display: block
	width: 100%
	img
		display: block
		width: 100%
		height: auto

.servicios-b2_wrap
	padding: 25px 30px 25px 30px

.servicios-b2_subtitle
	margin-bottom: 20px
	h3
		line-height: 36px
		color: $negro
		font-family: $t-3
		font-size: 22px
		margin-bottom: 0

.servicios-b2_list
	line-height: 29.6px
	color: $c-0
	font-family: $t-0
	font-size: 16px
	padding-left: 28px
	li
		position: relative
		padding-left: 15px
		margin-bottom: 2px
		&:before
			content: ""
			display: block
			width: 4px
			height: 4px
			border-radius: 50%
			background: $c-0
			position: absolute
			top: 12px
			left: 0

+keyframes(hvr-icon-wobble-horizontal)
	16.65%
		transform: translateX(6px)
	33.3%
		transform: translateX(-5px)
	49.95%
		transform: translateX(4px)
	66.6%
		transform: translateX(-2px)
	83.25%
		transform: translateX(1px)
	100%
		transform: translateX(0)

// responsive
@media screen and (max-width: 1024px)
	.servicios-b2
		padding: 50px 20px

	.servicios-b2_left
		width: calc(100% - 471px)

	.servicios-b2_right
		width: 401px

@media screen and (max-width: 960px)
	.servicios-b2_left
		width: 50%

	.servicios-b2_right
		width: 43%

	.servicios-b2_wrap
		padding: 25px

	.servicios-b2_subtitle
		h3
			line-height: 1.2
			font-size: 20px

	.servicios-b2_list
		line-height: 1.8
		font-size: 14px
		padding-left: 15px

@media screen and (max-width: 767px)
	.servicios-b2
		padding: 40px 15px
		.bx-controls
			width: 70px
			height: 30px
		.bx-wrapper .bx-controls-direction a
			width: 28px
			height: 28px
			&:before
				line-height: 28px
				font-size: 9px

	.servicios-b2_content
		flex-direction: column-reverse

	.servicios-b2_left
		width: 100%

	.servicios-b2_right
		max-width: 401px
		width: 100%
		margin: auto
		margin-bottom: 40px

	.servicios-b2_button
		text-align: center