extends ./_common/base.pug
//- btn
block content
	section.banner_interna
		//- .banner_interna_content(style=`background-image: url('.${STATIC_URL}img/img-banner-interna1.jpg)`)
		link(rel="stylesheet", href=`.${STATIC_URL}js/gallery/lightgallery.css`)
		link(rel="stylesheet", href=`.${STATIC_URL}js/gallery/lg-fb-comment-box.min.css`)
		link(rel="stylesheet", href=`.${STATIC_URL}js/gallery/lg-transitions.min.css`)
		.banner_icontent
			.banner_ibox1
				.banner_ibox1_content
					.banner_ib1_list
						ul
							li Home
							li perfiles de metalcon
					.banner_ib1_h1.titles.titles_left
						//- span Home / perfiles de metalcon
						h1.titles_black PERFILES DE METALCON®
					.banner_ib1_botones
						ul
							li
								a.button_general.button_orange.span_icon(href='#')
									span.button_general_text.button_icon Descargar Catálogo
							li.btn_video_banner
								a.button_general.button_orange.span_icon2(href='https://www.youtube.com/watch?v=gpRqSFqlFSw')
									span.button_general_text.button_icon Ver Vídeo
			.banner_ibox2
				figure.banner_ib2_figure
					img(src=`.${STATIC_URL}img/img1-banner-interna.png`, alt="")


//- js
append scripts 
	//- script(src=`https://maps.googleapis.com/maps/api/js?v=3.exp${ GOOGLE_APIKEY }`)
	script(src=`.${STATIC_URL}js/gallery/lightgallery.js`)
	script(src=`.${STATIC_URL}js/gallery/lg-fullscreen.js`)
	script(src=`.${STATIC_URL}js/gallery/lg-thumbnail.js`)
	script(src=`.${STATIC_URL}js/gallery/lg-zoom.js`)
	script(src=`.${STATIC_URL}js/gallery/lg-video.js`)
	script(src=`.${STATIC_URL}js/gallery/lg-autoplay.js`)
	script.
		$(()=>{
			//code here ------
			//- +++ video +++
			$('.btn_video_banner').lightGallery({
				selector: 'a',
				thumbnail: false
			}); 
		})