extends ./_common/base.pug
//- btn
block content
	section(style="background:#f2f2f2;")
		//- a(href="", class="g_button bd_negro") Ver detalle a

		a.button_general.button_white(href='#') 
			span.button_general_text Ver detalle

		br
		br

		a.button_general.button_orange(href='#')
			span.button_general_text Ver detalle

		br
		br

		a.button_general.button_orange.span_icon(href='#')
			span.button_general_text.button_icon Descargar Catálogo
		br
		br
		a.button_general.button_vacio.span_icon(href='#')
			span.button_general_text.button_icon Descargar Catálogo
		br
		br

		a.button_general.button_black(href='#')
			span.button_general_text Ver detalle
