extends ./_common/base.pug
//- btn
block content
	section(style=" max-width: 738px")
		form#form.form_general
			ul
				li
					.input-one-line
						label.input-one__label Nombre y Apellido
						input(type="text", placeholder="", class="validate[required] input-one")
						span.input-one--span
				li
					.input-one-line
						label.input-one__label Teléfono
						input(type="number", placeholder="", class="soloNumber validate[required,custom[phone]] input-one")
						span.input-one--span
				li
					.input-one-line
						label.input-one__label Email
						input(type="email", placeholder="", class="validate[required,custom[email]] input-one")
						span.input-one--span
				li
					.input-one-line
						label.input-one__label Nombre de Empresa
						input(type="text", placeholder="", class="validate[required] input-one")
						span.input-one--span
				li
					.input-one-line
						label.input-one__label RUC
						input(type="number", placeholder="", class="soloNumber validate[required] input-one")
						span.input-one--span
				li
					.input-one-line
						.r-input
							select(name="", class="validate[required]")
								option(value='') Departamento
								option(value='1') uno
								option(value='2') dos
								option(value='3') tres
				li
					.input-one-line
						label.input-one__label Mensaje
						textarea(type="text", class="validate[required] input-one")
						span.input-one--span
			a.btn-form.btn-enlace.btn-gray( href='') Enviar

//- js
append scripts 
	script(src=`.${STATIC_URL}js/validationform/jquery.validationEngine-es.js`)
	script(src=`.${STATIC_URL}js/validationform/staff.validationEngine.js`)

	script.
		$(function() {
			//- +++ validation of form +++
			$("form").validationEngine('attach', {
				promptPosition : "topLeft",
				autoHidePrompt: true,
				autoHideDelay: 3000,
				binded: false,
				scroll: false
			});

			$('.btn-form').on('click', function(event) {
				event.preventDefault();
				var valid = $("#form").validationEngine('validate');
				if (!valid) {
					//- return false;
				}
				else{
					//return true;
					$("#form").submit();
				}
			});
			//- <<< end >>>

			// formulario--inputs
			$('.soloNumber').each((k, el)=>{
				$(el).on('keydown', function(e){-1!==$.inArray(e.keyCode,[46,8,9,27,13,110,190])||/65|67|86|88/.test(e.keyCode)&&(!0===e.ctrlKey||!0===e.metaKey)||35<=e.keyCode&&40>=e.keyCode||(e.shiftKey||48>e.keyCode||57<e.keyCode)&&(96>e.keyCode||105<e.keyCode)&&e.preventDefault()});
			})
			$('.input-one').focusin((e) => {
				$(e.target).parent('.input-one-line').addClass('active')
			})
			.focusout((e) => {
				if(!e.target.value.length) {
					$(e.target).parent('.input-one-line').removeClass('active')
				}
			})
			$('.input-one').keyup((e) => {
				if(e.target.value.length) {
					$(e.target).parent('.input-one-line').addClass('active')
				}else{
					$(e.target).parent('.input-one-line').removeClass('active')
				}
			})
		});