extends ./_common/base.pug
//- btn
block content
	section
		.titles.titles_center
			span.titles_orange PRODUCTOS Y SERVICIOS
			h2.titles_black Soluciones a la medida

		br
		
		.titles.titles_center
			h2.titles_black Canal de denuncia
		br
		
		.titles.titles_center(style="background-color: black")
			h2.titles_white Trabaja con nosotros
