.button_general
	display: inline-block
	height: 40px
	line-height: 40px
	overflow: hidden
	background: none
	font-family: $t-1
	font-size: 13px
	text-decoration: none
	border-radius: 25px
	transition: color .3s ease-out
	position: relative
	padding: 0 39px
	border: none
	&:before
		content: ""
		display: block
		transform: scaleX(0)
		transform-origin: 0 50%
		transition: transform .3s ease-out
		position: absolute
		top: 0
		left: 0
		right: 0
		bottom: 0
		z-index: 1
		padding: 12px 28px		
	@media screen and (min-width: 1025px)
		&:hover
			&:before
				transform: scaleX(1)

.button_general_text
	display: block
	position: relative
	z-index: 2


.button_general
	// color white
	&.button_white
		background: $blanco
		border: solid 1px $negro
		color: $negro
		&:before
			background: $c-1
		@media screen and (min-width: 1025px)
			&:hover
				color: $blanco
				border: 1px solid $c-1
				&:before
					background: $c-1

	// color orange
	&.button_orange
		background: $c-1
		color: $blanco
		position: relative
		&:before
			background: $c-8
		// @media screen and (min-width: 1025px)
		// 	&:hover
		// 		color: $blanco
	&.button_vacio
		height: 20px
		line-height: 20px
		padding: 0 0 0 25px
		color: $negro
		&:after
			color: $negro
			left: 0

	// color black
	&.button_black
		background: $negro
		color: $blanco
		&:before
			background: $blanco
		@media screen and (min-width: 1025px)
			&:hover
				color: $negro

.span_icon
	padding: 0 31px 0 55px
	&:after
		width: auto
		height: auto
		position: absolute
		top: 0
		left: 30px
		content: "\e904"
		font-family: $icomoon
		color: $blanco
		font-size: 17px
		z-index: 1
.span_icon2
	padding: 0 31px 0 55px
	&:after
		width: auto
		height: auto
		position: absolute
		top: 0
		left: 30px
		content: "\e91c"
		font-family: $icomoon
		color: blanco
		font-size: 17px
		z-index: 1
@media screen and (max-width: 540px)
	.span_icon
		padding: 0 24px 0 50px
		&:before
			left: 26px
	.button_general
		height: 37px
		line-height: 37px
// .button_icon
// 	margin-left: 10px




