.banner_interna
	background: linear-gradient(to right, #E5E6E8, #D9DDDD)
	max-width: 1920px
	width: 100%
	position: relative
	&:before
		height: 68px
		width: 255px
		position: absolute
		content: ""
		bottom: 0
		right: 0
		background-image: url('../img/img2-banner-interna.png')
		+backgroundsize()
.banner_icontent
	max-width: 1238px
	width: 100%
	height: 389px
	margin-right: auto
	margin-left: auto
	position: relative
	display: flex
	flex-direction: row
	flex-wrap: nowrap
	justify-content: flex-start
	align-items: flex-start
	padding-right: 20px
	padding-left: 20px
	box-sizing: border-box
	
.banner_ibox1
	width: 50%
	height: 100%
	position: relative
.banner_ibox1_content
	position: absolute
	bottom: 49px
	left: 0
	// ----------
	// position: initial

.banner_ib1_list
	padding-left: 38px
	position: relative
	font-family: $t-0
	font-size: 13px
	&:before
		content: ""
		position: absolute
		// bottom: 5px
		top: 13px
		left: 0
		width: 27px
		height: 1px
		background-color: $c-1
		z-index: 1
	ul
		display: flex
		flex-direction: row
		flex-wrap: wrap
		justify-content: flex-start
		align-items: flex-start
	li
		margin: 0
		position: relative
		padding-right: 14px
		margin-right: 9px
		color: $negro
		&:before
			content: "/"
			position: absolute
			top: 0
			right: 0
			color: $negro
			font-size: 14	px
	li:first-child
		color: $c-0
	li:last-child
		&:before
			content: initial

.banner_ib1_h1
	font-family: $t-3
	color: $negro
	margin-top: 27px

.banner_ib1_botones
	margin-top: 37px
	ul
		display: flex
		flex-direction: row
		flex-wrap: wrap
		justify-content: flex-start
		align-items: flex-start
	li
		margin: 0
	li:nth-child(n + 2)
		margin-left: 30px

.banner_ibox2
	width: 50%
	height: 100%
	position: relative
.banner_ib2_figure
	position: absolute
	bottom: 0
	left: 50%
	transform: translateX(-50%)
	img
		width: 314px
		height: auto
		margin: 0
		display: block
		

@media screen and (max-width: 1024px)
	.banner_icontent
		// height: 278px
		height: auto
		padding-top: 40px

	.banner_ib2_figure
		position: initial
		left: initial
		transform: initial
		img
			width: 259px
	.banner_ibox1_content
		position: relative
		bottom: initial
		// top: 50%
		// transform: translateY(-50%)
		top: 0
		transform: initial

@media screen and (max-width: 960px)
	.banner_ibox1
		width: 60%
	.banner_ibox2
		width: 40%
@media screen and (max-width: 700px)
	.banner_ibox1
		width: 100%
	.banner_ibox2
		display: none
	.banner_icontent
		padding-bottom: 40px
	.banner_ib1_botones
		margin-top: 25px
@media screen and (max-width: 568px)
	.banner_interna
		&:before
			content: initial
@media screen and (max-width: 430px)
	.banner_ib1_botones
		ul
			flex-direction: column
			align-items: center
		li:nth-child(n + 2)
			margin-top: 10px
			margin-left: initial
	.banner_ib1_h1
		h1
			text-align: center
			line-height: 25px

