.form_general
	ul
		padding-top: 10px
		padding-bottom: 30px
		box-sizing: border-box
		display: flex
		flex-direction: row
		flex-wrap: wrap
		justify-content: space-between
		align-items: flex-start

	li
		margin: 0
		margin-top: 20px
		width: 47%
	// impar
	li:nth-child(odd)
		margin-right: 2%
	// par
	li:nth-child(even)
		margin-left: 2%
	li:last-child
		width: 100%
		margin-left: initial
		margin-right: initial
.input-one-line
	position: relative
	font-family: $t-0
	&.active
		.input-one__label
			top: -8px
			color: $c-1
		.input-one--span
			border-bottom: solid 2px $c-1
	input[type="number"]::-webkit-inner-spin-button,
	input[type="number"]::-webkit-outer-spin-button
		-webkit-appearance: none
		margin: 0
	input[type="number"]
		-moz-appearance:textfield
.input-one
	box-sizing: border-box
	width: 100%
	border: none	
	height: 50px
	padding-left: 0px
	padding-right: 0px
	color: $c-0
	font-size: 16px
	font-size: 14px
	font-family: $t-0
	background: transparent
	position: relative
	z-index: 10
.input-one-line.active .input-one__label
	top: -8px
	font-size: 13px
.input-one-line
	.input-one--span
		transition: all 1s ease
.input-one-line.active
	.input-one--span
		border-bottom: solid 2px $c-1
.input-one__label
	color: $c-0
	font-size: 14px
	font-family: $t-0
	top: 15px
	position: absolute
	transition: all .3s
	pointer: text
	z-index: 2
.input-one--span
	left: 0
	bottom: 0
	height: 1px
	width: 100%
	position: absolute
	border-bottom: solid 2px $c-5

.input-one--textarea
	height: 90px
	padding: 20px 0

.r-input
	vertical-align: middle
	position: relative
	&:before
		content: "\e90b"
		position: absolute
		right: 21px
		bottom: 18px
		z-index: 5
		font-size: 8px
		color: $c-0
		font-family: icomoon
		z-index: -1
	select
		color: $c-0
		cursor: pointer
		// background-color: transparent

@media screen and (max-width: 680px)
	.general__input
		.general__input__input
			height: 45px
			line-height: 45px
	.general__input__ico
		line-height: 45px

// +++ style validation +++
.formError
	z-index: 100
	.formErrorContent,
	.formErrorArrow div
		background-color: $c-1
		color: $blanco
		border: none
		font-size: 12px
		font-family: $t-0
		line-height: 20px
		padding-right: 5px
		padding-left: 5px
		box-sizing: border-box
		border-radius: 4px
	.formErrorArrow
		.line1,.line2,.line3
			display: none
// <<< end >>>

.r-input
	position: relative
	display: inline-block
	vertical-align: top
	z-index: 1
	width: 100%
	// /* WebKit
	// /* Firefox 18-
	// /* Firefox 19+
	// /* IE 10+
	::-webkit-input-placeholder, :-moz-placeholder, ::-moz-placeholder, :-ms-input-placeholder
		color: #999
		font-family: $t-0
	input, select, textarea
		border-radius: 0
		font-size: 14px !important
		position: relative
		display: block
		width: 100%
		height: 50px
		line-height: 50px
		border: none
		margin: 0
		background: initial
		appearance: none
		font-size: 16px
		font-family: $t-0
		color: $c-0
		border-bottom: 2px solid $c-5
		padding: 0 18px 0 0
		box-sizing: border-box
		transition: all 0.1s linear

	input:focus, select:focus, textarea:focus
		border-bottom: 1px solid #b7b7b7

textarea
	margin-top: 15px

@media screen and (max-width: 767px)
	.form_general
		ul
			flex-direction: column
		li
			width: 100%
			margin-top: 10px
		li:nth-child(odd)
			margin-right: initial
		// par
		li:nth-child(even)
			margin-left: initial

