.titles
	span
		font-family: $t-1
		font-size: 15px
		text-transform: uppercase
	h1, h2, h3, h4 
		font-family: $t-3
		font-size: 28px
		font-weight: normal
		margin: 0
	@media screen and (max-width: 540px)
		h1, h2, h3, h4
			font-size: 23px

.titles_orange
	color: $c-1
.titles_black
	color: $negro
.titles_white
	color: $blanco
.titles_center
	text-align: center
.titles_left
	text-align: left